<div class="info">
  <p class="byline hcard">
    Created by <span class="fn">{{ cycle.timeline.createdBy.screenName }}</span>
    on <time pubdate>{{ cycle.timeline.createDate|date }}</time>
  </p>

  {% if cycle.description %}
    <p class="description">{{ cycle.description }}</p>
  {% endif %}
</div>

{% if cycle.testruns|length %}
<section class="components">
  <h4><a href="{% url manage_testruns %}?testCycle={{ cycle.id }}">Runs in this cycle:</a></h4>
  <ul>
    {% for run in cycle.testruns %}
    <li>
      <a href="{% url manage_testruns %}?testCycle={{ cycle.id }}#run-id-{{ run.id }}">{{ run.name }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<div class="envgroups">
  {% include "lists/_environments.html" with environments=cycle.environmentgroups.environments %}
</div>

{% if cycle.team|length %}
<div class="testers">
  <h4>testers</h4>
  <ul>
    {% for tester in cycle.team %}
    <li>{{ tester.screenName }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
