{% extends 'manage/case/base.html' %}

{% load icanhaz permissions %}

{% block content %}
<section class="{% block sectionclass %}{% endblock sectionclass %}">

  {% icanhaz "autocomplete_suggestion" %}
  {% icanhaz "autocomplete_input" %}
  {% icanhaz "autocomplete_no_inputs" %}

  <h2>
    {% block formtitle %}{% endblock formtitle %}
    {% include "_helplink.html" with helpURL="library.html#case-edit-fields" %}
  </h2>

  {% block caseversions %}
  {% endblock caseversions %}

  <form method="POST" enctype="multipart/form-data" id="{% block form-id %}{% endblock form-id %}" class="manage-form case-form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% block versioningform %}
    <div class="versioning">
      {% include "forms/_field.html" with field=form.product %}
      {% include "forms/_field.html" with field=form.productversion label="Version" %}
      {% include "forms/_field.html" with field=form.and_later_versions %}
      {% if user|has_perm:"library.manage_suite_cases" %}
      {% include "forms/_field.html" with field=form.initial_suite label="Suite" %}
      {% endif %}
    </div>
    {% endblock versioningform %}

    <div class="versioned">
      {% block versionedform %}{% endblock %}
    </div>

    <div class="form-actions">
      {% include "forms/_field.html" with field=form.status %}
      <button type="submit" name="save">save test case</button>
    </div>
  </form>

</section>
{% endblock content %}

{% block extrajs %}
<script>
$(function() {
    $('ol.steplist').formset({
        prefix: '{{ form.steps_formset.prefix }}',
        formTemplate: '#empty-step-form .step-form-item',
        formSelector: '.step-form-item',
        deleteLink: '<a class="removefields" href="javascript:void(0)">remove</a>',
        deleteLinkSelector: '.removefields',
        addAnimationSpeed: 'normal',
        removeAnimationSpeed: 'fast',
        autoAdd: true,
        alwaysShowExtra: true,
        deleteOnlyActive: true,
        insertAbove: true
    });
});
</script>
{% endblock %}
