{% extends 'account/base.html' %}

{% block content %}
<section id="login">
  <h2>Login</h2>
  <form method="POST" id="loginform">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul>
      {% for field in form %}
      <li>
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </li>
      {% endfor %}
    </ul>
    <div class="form-actions">
      <a href="{% url register %}">register</a> or
      <button type="submit">login</button>
    </div>
  </form>
</section>
{% endblock content %}
