<form method="POST" id="narrow-envs-form">
  {% csrf_token %}

  <div class="itemlist">
    {% include "manage/environment/narrow/_envs_listordering.html" %}

    <div class="items select">
      {% for env in environments %}
      {% include "manage/environment/narrow/_env_list_item.html" %}
      {% endfor %}
    </div>

    <nav class="listnav">
      <h3 class="navhead">List Navigation</h3>
      <p class="location">showing {{ environments|length }}</p>
    </nav>
  </div>

  <div class="form-actions">
    <button type="submit">save</button>
  </div>

</form>
