<div class="managelist" id="envnarrowlist">
  <nav class="listordering">
    <h3 class="navhead">List Ordering</h3>
    <ul>
      <li class="bybulk">
        <input type="checkbox" name="bulk_select" value="" id="bulk_select">
        <label for="bulk_select">bulk select</label>
      </li>
      <li class="bypreview">
        <a href="#">environment preview</a>
      </li>
    </ul>
  </nav>

  <div class="items">
    {% for env in environments %}
    {% include "manage/environment/narrow/_env_list_item.html" %}
    {% endfor %}
  </div>

  {% include "lists/_listnav.html" %}
</div>
