{% load sort %}

<div class="managelist action-ajax-replace">
  <nav class="listordering">
    <h3 class="navhead">List Ordering</h3>
    <ul>
      <li class="bytitle">
        <a href="{{ sort|url:"name" }}" class="{{ sort|dir:"name" }}">name</a>
      </li>
      <li class="bycontrols">
        <span>controls</span>
      </li>
    </ul>
  </nav>

  <div class="items">
    {% for profile in profiles %}

    {% include "manage/environment/_profile_list_item.html" %}

    {% endfor %}

  </div>

  {% include "lists/_listnav.html" %}
</div>
