<article id="profile-id-{{ profile.id }}" class="item">
  <h3 class="title">
    {% if "PERMISSION_ENVIRONMENT_EDIT" in request.user.permissionCodes %}
    <a href="{% url manage_environment_edit profile_id=profile.id %}" title="edit {{ profile.name }}">
      {{ profile.name }}
    </a>
    {% else %}
    {{ profile.name }}
    {% endif %}
  </h3>
  <ul class="preview">
    {% for cat in profile.categories %}
    <li>{{ cat.name }}</li>
    {% endfor %}
  </ul>
  <div class="controls">
    {% if "PERMISSION_ENVIRONMENT_EDIT" in request.user.permissionCodes %}
    <a href="{% url manage_environment_edit profile_id=profile.id %}" title="edit">edit</a>
    <button title="delete" type="submit" name="action-delete" value="{{ profile.id }}">delete</button>
    {% endif %}
  </div>
</article>
