{% extends 'manage/environment/base.html' %}

{% load permissions %}

{% block location %}Edit Profile{% endblock %}
{% block content %}

<section id="editprofile" class="manage listpage">
  <h2>Edit Environment Profile  {% include "_helplink.html" with helpURL="environments.html#environment-edit-fields" %}</h2>

  <form method="POST" id="profile-name-form" class="manage-form profile-form">
    {% csrf_token %}

    <div class="formfield name-field">
      <label for="profile-name" class="type">name</label>
      <input type="text" name="profile-name" class="value" value="{{ profile.name }}" id="profile-name" placeholder="profile name" required>
    </div>

    <div class="form-actions">
      <button type="submit" name="save-profile-name" id="save-profile-name" value="1">Save Name</button>
    </div>

  </form>

  {% include "lists/_filter.html" %}
  {% include "manage/environment/edit_profile/_envs_list.html" %}

</section>

<div class="form-actions">
  <a href="{% url 'manage_profiles' %}" class="done-link">Done Editing</a>
</div>
{% endblock content %}
