{% extends 'manage/environment/base.html' %}

{% load permissions %}

{% block content %}

<section id="editprofile" class="manage listpage">
  <h2>Edit Environment Profile</h2>

  <form method="POST" id="profile-name-form">
    {% csrf_token %}

    <p class="profile-name">
      <label for="profile-name">profile name</label>
      <input type="text" name="profile-name" value="{{ profile.name }}" id="profile-name" placeholder="profile name" required>
    </p>

    <div class="form-actions">
    <button type="submit" name="save-profile-name" id="save-profile-name" value="1">Save</button>
    </div>

  </form>

  {% include "lists/_filter.html" %}
  {% include "manage/environment/edit_profile/_envs_list.html" %}

</section>
{% endblock content %}
