{% extends 'manage/environment/base.html' %}

{% block page-status %}incomplete{% endblock %}

{% block page-notes %}
<li>Not yet functional to add/remove.</li>
<li>Filtering by element non-functional when narrowing product environments.</li>
<li>Can't filter by more than one environment element at a time.</li>
{% endblock %}

{% block listcontent %}
<section id="envnarrowing">
  <h2>Select Environments for {{ obj }}</h2>

  {% include "lists/_filter.html" %}

  <form method="POST">
    {% csrf_token %}

    {% include "manage/environment/narrow/_envs_list.html" %}

    <div class="form-actions">
      <button type="submit">save</button>
    </div>

  </form>
</section>
{% endblock listcontent %}
