{% extends 'manage/environment/base.html' %}

{% block page-status %}incomplete{% endblock %}

{% block page-notes %}
<li>Not yet functional to add/remove.</li>
<li>No filtering yet (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=689997">platform limitation</a>).</li>
{% endblock %}

{% block listcontent %}
<section id="envnarrowing">
  <h2>Select Environments for {{ obj }}</h2>

  <form method="POST">
    {% csrf_token %}

    {# @@@ https://bugzilla.mozilla.org/show_bug.cgi?id=689997 #}
    {# include "lists/_filter.html" #}

    {% include "manage/environment/narrow/_envs_list.html" %}

    <div class="form-actions">
      <button type="submit">save</button>
    </div>

  </form>
</section>
{% endblock listcontent %}
