{% extends 'manage/environment/base.html' %}

{% load permissions %}

{% block content %}

<section id="manageprofiles" class="manage listpage">
  <h2>Manage Environment Profiles {% include "_helplink.html" with helpURL="environments.html" %}</h2>

  {% if user|has_perm:"environments.manage_environments" %}
    <a href="{% url manage_profile_add %}" class="create single">create a profile</a>
  {% endif %}

  {% include "lists/_filter.html" %}
  {% include "manage/environment/profile_list/_profiles_list.html" %}

</section>
{% endblock content %}
