#managecases

  .listordering
    padding-left: rhythm(2.5)

  .byname-tags, .name-tags
    +box-sizing('border-box')
    +columns(11,23)
  .byproduct, .product, .bymodified, .modified
    +columns(6,23)
    min-height: rhythm(1)
  .bymodified, .modified
    +omega(23)

  .itemhead, .content
    padding-left: rhythm(2.5)

  .title
    +demi
    display: inline-block
    margin-right: rhythm(.25)

  .product, .modified
    +cond

  .iteminfo
    +columns(18,23)

  .envs
    +columns(5,23)
    +omega(23)
