#managecases

  .listordering
    padding-left: rhythm(2.5)

  .byname-tags, .name-tags
    +box-sizing('border-box')
    +columns(15,23)
  .byproduct, .product
    +columns(8,23)
    +omega(23)
    min-height: rhythm(1)

  .itemhead, .content
    padding-left: rhythm(2.5)

  .title
    +demi
    display: inline-block
    margin-right: rhythm(.25)

  .iteminfo
    +columns(18,23)

  .envs
    +columns(5,23)
    +omega(23)
