{% extends 'manage/testrun/base.html' %}

{% load sort staticdata %}

{% block listcontent %}

<section id="manageruns">
  <h2>Manage Test Runs</h2>
  {% if "PERMISSION_TEST_RUN_EDIT" in request.user.permissionCodes %}
  <a href="{% url manage_testrun_add %}" class="create">create test run</a>
  {% endif %}

  {% include "lists/_filter.html" %}

  <form method="POST">
    {% csrf_token %}

    <div class="managelist">
      <nav class="listordering">
        <h3 class="navhead">List Ordering</h3>
        <ul>
          <li class="bystatus">
            <a href="{{ sort|url:"status" }}" class="{{ sort|dir:"status" }}">status</a>
          </li>
          <li class="bytitle">
            <a href="{{ sort|url:"name" }}" class="{{ sort|dir:"name" }}">name</a>
          </li>
          <li class="bycycle">
            <a href="{{ sort|url:"testCycle" }}" class="{{ sort|dir:"testCycle" }}">test cycle</a>
          </li>
          <li class="byproduct">
            <a href="{{ sort|url:"product" }}" class="{{ sort|dir:"product" }}">product</a>
          </li>
          <li class="bystart">
            <a href="{{ sort|url:"startDate" }}" class="{{ sort|dir:"startDate" }}">start date</a>
          </li>
          <li class="byend">
            <a href="{{ sort|url:"endDate" }}" class="{{ sort|dir:"endDate" }}">end date</a>
          </li>
        </ul>
      </nav>

      <div class="items {% if not runs %}empty{% endif %}">
        {% for run in runs %}
        <article id="run-id-{{ run.id }}" class="details item {{ run.status|status_class }}">
          <header class="summary">
            <p class="status">
              {% if run.status.DRAFT %}
              <button title="activate" type="submit" name="action-activate" value="{{ run.id }}" class="draft">draft</button>
              {% endif %}
              {% if run.status.ACTIVE %}
              <button title="lock" name="action-deactivate" value="{{ run.id }}" class="active">active</button>
              {% endif %}
              {% if run.status.LOCKED %}
              <button title="activate" name="action-activate" value="{{ run.id }}" class="locked">locked</button>
              {% endif %}
            </p>
            <h3 class="title" title="{{ run.name }}">{{ run.name }}</h3>
            <p class="cycle" title="{{ run.testCycle.name }}">{{ run.testCycle.name }}</p>
            <p class="product">{{ run.product.name }}</p>
            <time class="start">{{ run.startDate|date }}</time>
            <time class="end">{{ run.endDate|date }}</time>
            <div class="controls">
              {% if "PERMISSION_TEST_RUN_EDIT" in request.user.permissionCodes %}
              {% if run.status.DRAFT %}
              <a href="{% url manage_testrun_edit run_id=run.id %}" title="edit">edit</a>
              {% endif %}
              <button title="clone" type="submit" name="action-clone" value="{{ run.id }}">clone</button>
              {% if run.status.DRAFT %}
              <button title="delete" type="submit" name="action-delete" value="{{ run.id }}">delete</button>
              {% endif %}
              {% endif %}
            </div>
          </header>
          <div class="content">
            <p class="id">#{{ run.id }}</p>
            <div class="description">
              <p class="byline hcard">
                Created by <span class="fn">{{ run.timeline.createdBy.screenName }}</span>
                on <time pubdate>{{ run.timeline.createDate|date }}</time>
              </p>
              {% if run.description %}
                <p>{{ run.description }}</p>
              {% endif %}
            </div>
            <div class="envgroups">
              {% include "lists/_environments.html" with environments=run.environmentgroups.environments %}
            </div>
            {% if run.testsuites|length %}
            <div class="suites">
              <h4>suites</h4>
              <ul>
                {% for suite in run.testsuites %}
                <li>{{ suite.name }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if run.team|length %}
            <div class="testers">
              <h4>testers</h4>
              <ul>
                {% for tester in run.team %}
                <li>{{ tester.screenName }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>

    {% include "lists/_listnav.html" %}
    </div>

  </form>
</section>
{% endblock listcontent %}
