{% load execution staticdata %}

    <article id="result-{{ result.id }}" class="item details {{ result.status|status_class }}{% if open %} open{% endif %}" data-action-url="{% url result result_id=result.id %}">

      <header class="summary">
        <div class="status">
          {% if result.status.PENDING %}
            <button class="start" data-action="start" name="action-start">start</button>
          {% endif %}
          {% if result.status.STARTED %}
            <button class="pass" data-action="finishsucceed" name="action-pass">pass</button>
          {% endif %}
          {% if result.status.PASSED %}
            <span class="passed">Passed</span>
          {% endif %}
          {% if result.status.INVALIDATED %}
            <span class="invalidated">Invalid</span>
          {% endif %}
          {% if result.status.FAILED %}
            <span class="failed">Failed</span>
          {% endif %}
        </div>
        <h3 class="title">{{ case.name }}</h3>
        {% if result.status.PASSED or result.status.INVALIDATED or result.status.FAILED %}
          <button class="action-restart">restart test</button>
        {% endif %}
      </header>

      <div>
        {% if result.status.STARTED or result.status.INVALIDATED %}
          <section class="testinvalid details{% if result.status.INVALIDATED %} invalidated open{% endif %}">
            {% if result.status.INVALIDATED %}
              <h4 class="summary">invalid or unclear.</h4>
              <div class="invaliddesc content">
                <h5>description of problem:</h5>
                <p>{{ result.comment }}</p>
              </div>
            {% else %}
              <h4 class="summary">invalid or unclear?</h4>
              <div class="invalidform form content">
                <label>description of problem:</label>
                <textarea name="comment" placeholder="please explain why this test case is invalid."></textarea>
                <div class="form-actions">
                  <button class="invalid" data-action="finishinvalidate">mark as invalid</button>
                </div>
              </div>
            {% endif %}
          </section>
        {% endif %}

        <aside class="files">
          <h4>attached files</h4>
          <ul class="files-list">
            {% for attachment in caseversion.attachments %}
            <li class="file"><a href="{{ attachment.url }}">{{ attachment.description }}</a></li>
            {% endfor %}
          </ul>
        </aside>

        <ol class="steps">
          {% for step in caseversion.steps %}
          <li>
            <div class="step">
              <p class="instruction">{{ step.instruction }}</p>
              <p class="outcome">{{ step.expectedResult }}</p>
            </div>
            {% if result.status.STARTED %}
              <div class="stepfail details">
                <p class="summary">fail</p>
                <div class="failform form fail-detail">
                  <input type="hidden" name="failedStepNumber" value="{{ step.stepNumber }}">
                  <ul>
                    <li class="fail-desc">
                      <label for="{{ step.id }}-actualResult">actual result:</label>
                      <textarea name="actualResult" id="{{ step.id }}-actualResult" placeholder="please explain the actual results of this step."></textarea>
                    </li>
                    {% if result.testCase.relatedbugs %}
                    <li class="fail-bugs">
                      <p>assign a bug to this result:</p>
                      <ul class="radio-bugs">
                        {% for bug in result.testCase.relatedbugs %}
                        <li class="bug">
                          <input type="radio" name="bugs" value="{{ bug.id }}" id="bug-{{ result.id }}-{{ step.id }}-{{ bug.id }}" />
                          <label for="bug-{{ result.id }}-{{ step.id }}-{{ bug.id }}"><a href="{{ bug.url }}">{{ bug.url }}</a></label>
                        </li>
                        {% endfor %}
                        <li class="bug">
                          <input type="radio" name="bugs" value="" id="bug-{{ result.id }}-{{ step.id }}-new" class="newbug" />
                          <label for="bug-{{ result.id }}-{{ step.id }}-new" class="newbug">assign a new bug</label>
                        </li>
                      </ul>
                    </li>
                    {% endif %}
                    <li class="fail-bug-new">
                      <label for="related_bug-{{ result.id }}-{{ step.id }}">assign a new bug</label>
                      <input type="url" name="related_bug" value="" id="related_bug-{{ result.id }}-{{ step.id }}" placeholder="optional URL of related bug"{% if result.testCase.relatedbugs %} disabled{% endif %}>
                    </li>
                  </ul>
                  <div class="form-actions">
                    <button class="fail" data-action="finishfail">submit failure</button>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if result.status.FAILED and result.failedStepNumber == step.stepNumber %}
              <div class="stepfail details failed open">
                <p class="summary">failed</p>
                <div class="faildesc fail-detail">
                  <p>{{ result.actualResult }}</p>
                  {% for bug in result.relatedbugs %}
                  <p class="bugurl"><a href="{{ bug.url }}">{{ bug.url }}</a></p>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      </div>
    </article>
