{% load execution urls %}

{% with runcaseversion.caseversion as caseversion %}
{% result_for runcaseversion user environment as result %}

    <article id="result-{{ runcaseversion.id }}" class="item details action-ajax-replace {{ result.status }}{% if open %} open{% endif %}">

      <header class="summary">
        <form method="POST" id="runtests-start-pass-form-{{ runcaseversion.id }}">
          {% csrf_token %}
          <div class="status">
            {% if result.status == result.STATUS.assigned %}
              <button class="start" value="{{ runcaseversion.id }}" name="action-start">start</button>
            {% endif %}
            {% if result.status == result.STATUS.started %}
              <button class="pass" value="{{ runcaseversion.id }}" name="action-finishsucceed">pass</button>
            {% endif %}
            {% if result.status == result.STATUS.passed %}
              <span class="passed">Passed</span>
            {% endif %}
            {% if result.status == result.STATUS.invalidated %}
              <span class="invalidated">Invalid</span>
            {% endif %}
            {% if result.status == result.STATUS.failed %}
              <span class="failed">Failed</span>
            {% endif %}
          </div>
          <h3 class="title" title="{{ caseversion.name }}">{{ caseversion.name }}</h3>
          {% if result.status == result.STATUS.passed or result.status == result.STATUS.invalidated or result.status == result.STATUS.failed %}
            <button class="restart" value="{{ runcaseversion.id }}" name="action-restart" title="restart test">restart test</button>
          {% endif %}
        </form>
      </header>

      <div>
        {% if result.status == result.STATUS.started or result.status == result.STATUS.invalidated %}
          <form method="POST" class="testinvalid details{% if result.status == result.STATUS.invalidated %} invalidated open{% endif %}" id="runtests-invalid-form-{{ runcaseversion.id }}">
            {% csrf_token %}
            {% if result.status == result.STATUS.invalidated %}
              <h4 class="summary">invalid or unclear.</h4>
              <div class="invaliddesc content">
                <h5>description of problem:</h5>
                <p>{{ result.comment }}</p>
              </div>
            {% else %}
              <h4 class="summary">invalid or unclear?</h4>
              <div class="invalidform form content">
                <label for="invalid-comment-{{ runcaseversion.id }}">description of problem:</label>
                <textarea name="comment" id="invalid-comment-{{ runcaseversion.id }}" placeholder="please explain why this test case is invalid." required></textarea>
                <div class="form-actions">
                  <button class="invalid" value="{{ runcaseversion.id }}" name="action-finishinvalidate">mark as invalid</button>
                </div>
              </div>
            {% endif %}
          </form>
        {% endif %}

        {% with caseversion.attachments.all as attachments %}
        {% if attachments %}
        <aside class="associated">
          <h4>attached files</h4>
          <ul class="files-list">
            {% for attachment in attachments %}
              <li class="file">
                <a href="{{ attachment.url }}">{{ attachment.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
        {% endif %}
        {% endwith %}

        <ol class="steps">
          {% for step in caseversion.steps.all %}
          <li>
            <div class="step">
              <p class="instruction">{{ step.instruction }}</p>
              <p class="outcome">{{ step.expected }}</p>
            </div>
            {% if result.status == result.STATUS.started %}
              <div class="stepfail details">
                <p class="summary">fail</p>
                <div class="failform form fail-detail">
                  <form method="POST" id="runtests-fail-form-{{ runcaseversion.id }}-{{ step.number }}">
                    {% csrf_token %}
                    <input type="hidden" name="stepnumber" value="{{ step.number }}">
                    <ul>
                      <li class="fail-desc">
                        <label for="fail-comment-{{ runcaseversion.id }}-{{ step.number }}">actual result:</label>
                        <textarea name="comment" id="fail-comment-{{ runcaseversion.id }}-{{ step.number }}" placeholder="please explain the actual results of this step." required></textarea>
                      </li>
                      {% with runcaseversion.caseversion.bug_urls as bug_urls %}
                      {% if bug_urls %}
                      <li class="fail-bugs">
                        <p>assign a bug to this result:</p>
                        <ul class="radio-bugs">
                          {% for bug_url in bug_urls %}
                            <li class="bug">
                              <input type="radio" name="bugs" value="{{ bug_url }}" id="bug-{{ runcaseversion.id }}-{{ step.number }}-{{ forloop.counter }}" />
                              <label for="bug-{{ runcaseversion.id }}-{{ step.number }}-{{ forloop.counter }}">{{ bug_url }}</label>
                              {% if bug_url|is_url %}
                                <a href="{{ bug_url }}" class="goto" title="go to bug">(go to bug)</a>
                              {% endif %}
                            </li>
                          {% endfor %}
                          <li class="bug">
                            <input type="radio" name="bugs" value="" id="bug-{{ runcaseversion.id }}-{{ step.number }}-new" class="newbug" />
                            <label for="bug-{{ runcaseversion.id }}-{{ step.number }}-new" class="newbug">assign a new bug</label>
                          </li>
                        </ul>
                      </li>
                      {% endif %}
                      {% endwith %}
                      <li class="fail-bug-new">
                        <label for="related_bug-{{ runcaseversion.id }}-{{ step.number }}">assign a new bug</label>
                        <input type="url" name="related_bug" value="" id="related_bug-{{ runcaseversion.id }}-{{ step.number }}" placeholder="optional URL of related bug"{% if bug_urls %} disabled{% endif %}>
                      </li>
                    </ul>
                    <div class="form-actions">
                      <button class="fail" value="{{ runcaseversion.id }}" name="action-finishfail">submit failure</button>
                    </div>
                  </form>
                </div>
              </div>
            {% endif %}
            {% if result.status == result.STATUS.failed and result.failedStepNumber == step.stepNumber %}
              <div class="stepfail details failed open">
                <p class="summary">failed</p>
                <div class="faildesc fail-detail">
                  <p>{{ result.comment }}</p>
                  {% for bug in result.bug_urls %}
                  <p class="bugurl">
                    {% include "bugs/bug.html" %}
                  </p>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      </div>
    </article>

{% endwith %}
