{% extends 'base_site.html' %}

{% block bodyclasses %}{{ block.super }} section-runtest{% endblock bodyclasses %}

{% block page-status %}incomplete{% endblock page-status %}

{% block page-notes %}
  <p>Product icons in finder are faked.</p>
{% endblock page-notes %}

{% block run-active-nav %}active{% endblock run-active-nav %}

{% block content %}

  {% block testcontent %}
    {% include "runtests/_run_drilldown_main.html" with details="none" hasenv="empty" %}
  {% endblock testcontent %}

{% endblock content %}
