{% extends 'runtests/base.html' %}
{% load execution environment sort icanhaz %}

{% block page-notes %}
<li>Associating a failed result with an already-existing external bug does not show up on the submitted result yet (<a href="https://bugzilla.mozilla.org//show_bug.cgi?id=690918">platform limitation</a>).</li>
{{ block.super }}
{% endblock %}

{% block test-subnav %}
<li><a href="{% url runtests %}">Run Tests</a></li>
<li><a href="#" class="breadcrumb" data-id="{{ product.api_name }}-{{ product.id }}">{{ product }}</a></li>
<li><a href="#" class="breadcrumb" data-id="{{ cycle.api_name }}-{{ cycle.id }}">{{ cycle }}</a></li>
<li><a href="#" class="breadcrumb" data-id="{{ testrun.api_name }}-{{ testrun.id }}">{{ testrun }}</a></li>
<li>
  <ul class="envsettings">
    {% for env in request.environments %}
    <li>{{ env.name }}</li>
    {% endfor %}
  </ul>
</li>
{% endblock test-subnav %}

{% block drilldown %}
  <nav class="drilldown details">
    <h2 class="summary" title="show/hide drilldown navigation">DrillDown Navigation</h2>
    <div class="content">
      <section class="selectruns">
        <h3 class="sectionhead">Select a product, cycle and run</h3>
        {% include "runtests/finder/_finder.html" %}
      </section>

      <section class="environment">
        {% include "runtests/_environment_form.html" with object=testrun %}
      </section>
    </div>
  </nav>
{% endblock drilldown %}

{% block testcontent %}
  <section id="run">
    <h2>Run Tests:</h2>

    {% icanhaz "runtests_form_error" %}

    <div class="managelist action-ajax-replace">
      <nav class="listordering">
        <h3 class="navhead">List Ordering</h3>
        <ul>
          <li class="bystatus">
            <a href="#">status</a>
          </li>
          <li class="bytitle">
            <a href="#">name</a>
          </li>
          <li class="byinvalid">
            <span>flagging</span>
          </li>
        </ul>
      </nav>

      <div class="items">
        {% for includedtestcase in cases %}
          {% run_case includedtestcase request.user request.environments %}
        {% empty %}
          <p class="empty">There are currently no items in this list...</p>
        {% endfor %}
      </div>

      {% include "lists/_listnav.html" %}
    </div>
  </section>
{% endblock testcontent %}
