{% extends 'runtests/base.html' %}

{% block test-subnav %}
<li><a href="{% url runtests %}">Run Tests</a></li>
<li><a href="#" class="breadcrumb" data-id="finder-products-{{ product.id }}">{{ product }}</a></li>
<li><a href="#" class="breadcrumb" data-id="finder-productversions-{{ productversion.id }}">{{ productversion.version }}</a></li>
<li><a href="#" class="breadcrumb" data-id="finder-runs-{{ run.id }}">{{ run }}</a></li>
<li>
  <ul class="envsettings">
    {% for element in environment.ordered_elements %}
    <li>{{ element.name }}</li>
    {% endfor %}
  </ul>
</li>
{% endblock test-subnav %}

{% block drilldown %}
  {% include "runtests/_run_drilldown.html" %}
{% endblock drilldown %}

{% block content %}
  <section id="runtests" class="run listpage">
    <h2>Run Tests:</h2>

    {% include "lists/_filter.html" %}
    {% include "runtests/list/_runtest_list.html" %}

  </section>
{% endblock content %}
