/* Finder --------------------------------------------------------------------

.findertoggle
  +opacity(.5)
  +border-bottom-left-radius($smallem)
  +replace-text-with-dimensions('ui/minus.png')
  position: absolute
  right: side-gutter()
  padding: rhythm(.25)
  background-color: rgba($red,$small)
  z-index: 10
  #{$focus}
    +opacity(1)
  &.compact
    background-image: image-url('ui/plus.png')

.finder
  +pie-clearfix
  +trailer
  clear: both
  overflow: visible
  position: relative

  // Expanded ----------------------------------------------------------------

  &.expanded
    border: 1px solid rgba($blue-light,$small)
    background: $blue-hint

    h3, p
      margin-bottom: 0

    .col
      +transition(width,300ms)
      +float(left)
      position: relative
      top: 0
      bottom: 0
      left: 0
      width: 25%
      height: rhythm(9)
      &:last-child
        +float(right)
      &.focus
        width: 50%
      &:not([class*="focus"])
        .listordering
          a::after
            display: none

    .listordering
      position: absolute
      left: 0
      right: 15px
      padding: rhythm(.25) rhythm(.5)
      margin: 0
      background: rgba($blue-lightest,.95)
      z-index: 2
      a
        #{$link}
          white-space: nowrap

    .colcontent
      +no-style-list
      +stretch
      padding-top: rhythm(1.5)
      overflow-y: scroll
      overflow-x: hidden

    .logo
      +transition(all,300ms)
      width: rhythm(1)
      margin-right: rhythm(.5)

    label
      +pie-clearfix
      +trailing-border(1px,.25)
      +hpadding(rhythm(.5))
      border-color: rgba($blue-light,$xxsmall)
      display: block
      font-weight: normal
      #{$focus}
        .logo
          +scale(1.75)

    li
      &:first-child
        label
          +leading-border(1px,.25)

    input
      +gone
      &:checked
        + label
          +bold
          background: rgba($blue-light,.5)
          .logo
            +scale(1.75)

    &.wide
      overflow-y: hidden
      overflow-x: scroll
    .carousel[data-cols="5"]
      width: 150%
      .col
        width: 25/150*100%
        &.focus
          width: 50/150*100%

    // layout of specific elements ---------------------------------------------

    .completion, .start, .end, .bycompletion, .bystart, .byend, .end, .byend
      display: none

    .focus
      .completion, .start, .end, .bycompletion, .bystart, .byend, .end, .byend
        display: block
      .completion, .bycompletion
        +columns(1,12)
      .title, .bytitle
        +columns(7,12)
        &:first-child
          +columns(8,12)
      .start, .end, .bystart, .byend
        +columns(2,12)
      .end, .byend
        +omega(12)

    .bystart, .byend, .bycompletion
      +opacity(.75)

    .start, .end
      +condensed

    .start, .end
      color: $mid

  // Compact ----------------------------------------------------------------

  &.compact
    background: $blue-lightest

    ul, p
      display: none

    .listordering
      +columns(3,24)
      margin-right: columns(1,24) + gutter(24)*2
      background: $blue-lighter
      position: relative
      overflow: visible
      white-space: nowrap
      &::before, &::after
        content: "\0020"
        position: absolute
        top: 0
        bottom: 0
        width: columns(1,3) + gutter(3)*2
      &::before
        +background-image(linear-gradient(60deg, rgba($blue-light,0) 74.5%, $blue-lighter 75%, $blue-lighter), linear-gradient(-60deg, rgba($blue-light,0) 74.5%, $blue-lighter 75%, $blue-lighter))
        right: 100%
      &::after
        +background-image(linear-gradient(-60deg, rgba($blue-light,0) 64.5%, $blue-lightest 65%, $blue-lightest), linear-gradient(60deg, $blue-lighter 64.5%, rgba($blue-light,0) 65%, rgba($blue-light,0)))
        left: 100%
      a
        #{$link}
          position: relative
          z-index: 2
        #{$focus}
          &::after
            content: ""
            display: none

    .col
      &:first-child
        .listordering
          display: none
      &:nth-child(2)
        .listordering
          &::before
            display: none

    .focus
      .listordering
        background: $blue-light
        &::before
          +background-image(linear-gradient(60deg, rgba($blue-light,0) 74.5%, $blue-light 75%, $blue-light), linear-gradient(-60deg, rgba($blue-light,0) 74.5%, $blue-light 75%, $blue-light))
          right: 100%
        &::after
          +background-image(linear-gradient(-60deg, rgba($blue-light,0) 64.5%, $blue-lightest 65%, $blue-lightest), linear-gradient(60deg, $blue-light 64.5%, rgba($blue-light,0) 65%, rgba($blue-light,0)))
          left: 100%

    .bytitle
      +reset-box-model
      padding-left: rhythm(1)
