/* List Pages --------------------------------------------------------------

#listcontent
  +full(24)
  position: relative
  .create
    @extend .button
    +float(right)
    +box-sizing(border-box)
    +button-color($green,'ui/plus.png')
    padding-left: image-width('ui/plus.png') + $smallpx + $xsmallpx
    max-width: columns(4,24)
    background:
      position: $smallpx, left
      repeat: no-repeat
    white-space: nowrap

/* Lists ---------------------------------------------------------------------

.managelist
  +cond
  +full(24)
  margin: 0
  button
    +button-reset
  .item
    +pie-clearfix
    clear: both

  .summary, .content
    +pie-clearfix
    +padding-leader(.25)
    +padding-trailer(.25)
  .summary
    p, h3, h4
      margin-bottom: 0

  .details
    .summary
      #{$focus}
        +background-image(linear-gradient(left,rgba($blue-hint,0),rgba($blue-hint,$xsmall),rgba($blue-hint,$xsmall),rgba($blue-hint,0)))
        outline: 0
  .open
    > .summary
      +background-image(linear-gradient(left,rgba($blue-hint,0),rgba($blue-hint,$small),rgba($blue-hint,$small),rgba($blue-hint,0)))
  .content
    +background-image(linear-gradient(left,rgba($blue-lightest,0),rgba($blue-lightest,$xsmall),rgba($blue-lightest,$xsmall),rgba($blue-lightest,0)))
  .id
    text-align: right

  .title, .run, .cycle, .product
    +ellipsis

  .empty
    +background-image(linear-gradient(left,rgba($blue-hint,0),rgba($blue-hint,$small),rgba($blue-hint,$small),rgba($blue-hint,0)))
    position: relative
    height: rhythm(3)
    color: rgba($blue,$small)
    &::after
      +sans-family
      +demi
      +stretch
      +padding-leader(1)
      +text-shadow(white 0 1px 0)
      content: "there are currently no items in this list..."
      text-align: center

.status
  position: relative
  .pending
    +border-radius(.25em)
    display: block
    button
      +icon('[title="approve"]','ui/check.png',$light)
      +icon('[title="reject"]','ui/x.png',$light)
      &[title="approve"], &[title="reject"]
        +columns(1,2)
        padding: 0
      &[title="reject"]
        +omega(2)
        #{$focus}
          background:
            image: image-url('ui/x.png')
            color: $red-lighter
      &[title="approve"]
        #{$focus}
          background:
            image: image-url('ui/check.png')
            color: $green-light

  span
    +inline-block

  button, span
    +icon('.rejected','ui/x.png',$red-lighter,text)
    +icon('.draft','ui/power.png',$blue-lighter,text)
    +icon('.active','ui/power.png',$green-light,text)
    +icon('.locked','ui/lock.png',$yellow,text)
    &.rejected, &.draft, &.active, &.locked
      width: 100%

  button
    #{$focus}
      +icon('.rejected','ui/check.png',$green-light,text)
      +icon('.draft','ui/power.png',$green-light,text)
      +icon('.active','ui/lock.png',$yellow,text)
      +icon('.locked','ui/unlock.png',$green-light,text)
      &.rejected, &.draft, &.active, &.locked
        +hide-text
        &::after
          content: attr(title)
          position: absolute
          left: 1.5em
          text-indent: 0

.byline
  margin: 0

.envgroup
  +columns(3,18)
  &:nth-child(6n)
    +omega(18)

.envgroups
  +adjust-font-size-to(12px,.75)
  +columns(18,24)
  +prefix(2,24)
  clear: both
  h4
    +gone
  h5
    @extend .groupheader
  > ul
    +reset-box-model
    list-style: none
  .envgroup
    color: $mid-dark
    li
      list-style-type: disc
  &:last-child
    +reset-column
    +full(24)
    +pad(2,1,24)
    clear: both
    .envgroup
      +columns(3,21)
      &:nth-child(7n)
        +omega(21)

.testers, .suites
  +adjust-font-size-to(12px,.75)
  color: $mid-dark
  h4
    @extend .groupheader
    background-color: transparent
    margin: 0

.description
  +columns(22,24)
  +omega(24)

.sortlinks
  #{$link}
    display: block
    position: relative
    color: $blue-dark
    &::after
      +replace-text-with-dimensions('ui/angle_up.png')
      +inline-block
      content: " "
      margin-left: .4em
      background-image: none
      vertical-align: baseline
  #{$focus}
    color: $accent
    &::after
      +opacity(.5)
      background-image: image-url('ui/angle_up.png')
  &.asc
    #{$link}
      &::after
        background-image: image-url('ui/angle_up.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_down.png')
  &.desc
    #{$link}
      &::after
        background-image: image-url('ui/angle_down.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_up.png')

.listordering
  +clearfix
  +rhythm(0,.25,.25,0)
  +bold
  background: rgba($blue,$xxsmall)
  color: rgba($base,$small)
  text-transform: capitalize
  ul
    +no-style-list
  a
    @extend .sortlinks

  li:first-child
    a
      #{$link}
        padding-left: $smallem

.listnav
  +cond
  +pie-clearfix
  +rhythm(0,.25,.25,.5)
  +hpadding(.5em)
  clear: both
  margin-top: -1px
  background: rgba($blue,$xxsmall)
  white-space: nowrap
  p, ul
    +reset-box-model
  .location, .perpage
    +columns(6,24)
  .perpage
    +omega(24)
    text-align: right
  .perpage ul, .pagination
    +inline-block-list
    display: inline
    font-style: normal
    li
      vertical-align: baseline
      + li::before
        content: "| "
  .pagination
    +columns(12,24)
    text-align: center
  .current, strong
    +demi
  a
    #{$link}
      color: $blue-dark
    #{$focus}
      color: $red-dark