/* List Pages --------------------------------------------------------------

.nestednav
  +clearfix
  +trailer(1.5)
  +demi
  background: $blue-lightest
  a
    #{$link}
      +columns(3,24)
      +padding-leader(.25)
      +padding-trailer(.25)
      margin-right: columns(1,24) + gutter(24)*2
      background: $blue-lighter
      position: relative
      overflow: visible
      color: $blue-dark
      text-indent: rhythm(1)
      white-space: nowrap
    &::before, &::after
      content: "\0020"
      position: absolute
      top: 0
      bottom: 0
      width: columns(1,3) + gutter(3)*2
    &::before
      +background-image(linear-gradient(60deg, rgba($blue-light,0) 74.5%, $blue-lighter 75%, $blue-lighter), linear-gradient(-60deg, rgba($blue-light,0) 74.5%, $blue-lighter 75%, $blue-lighter))
      right: 100%
    &::after
      +background-image(linear-gradient(-60deg, rgba($blue-light,0) 64.5%, $blue-lightest 65%, $blue-lightest), linear-gradient(60deg, $blue-lighter 64.5%, rgba($blue-light,0) 65%, rgba($blue-light,0)))
      left: 100%
    &.active
      #{$link}
        background: $blue-light
      &::before
        +background-image(linear-gradient(60deg, rgba($blue-light,0) 74.5%, $blue-light 75%, $blue-light), linear-gradient(-60deg, rgba($blue-light,0) 74.5%, $blue-light 75%, $blue-light))
        right: 100%
      &::after
        +background-image(linear-gradient(-60deg, rgba($blue-light,0) 64.5%, $blue-lightest 65%, $blue-lightest), linear-gradient(60deg, $blue-light 64.5%, rgba($blue-light,0) 65%, rgba($blue-light,0)))
        left: 100%


#listcontent
  +full(24)
  +pad(1,1,24)
  position: relative
  h2
    +gone
  .create
    @extend .button
    +float(right)
    +box-sizing(border-box)
    +button-color($green,'ui/plus.png')
    padding-left: image-width('ui/plus.png') + $smallpx + $xsmallpx
    max-width: columns(4,22)
    background:
      position: $smallpx, left
      repeat: no-repeat
    white-space: nowrap

/* Lists ---------------------------------------------------------------------

.managelist
  +full(22)
  margin: 0
  button
    +button-reset
  .item
    +clearfix
    clear: both

  .summary, .content
    +pie-clearfix
    +padding-leader(.25)
    +padding-trailer(.25)
  .summary
    p, h3, h4
      margin-bottom: 0
    #{$focus}
      +background-image(linear-gradient(left,rgba($blue-hint,0),rgba($blue-hint,$xsmall),rgba($blue-hint,$xsmall),rgba($blue-hint,0)))
      outline: 0
  .open
    > .summary
      +background-image(linear-gradient(left,rgba($blue-hint,0),rgba($blue-hint,$small),rgba($blue-hint,$small),rgba($blue-hint,0)))
  .content
    +background-image(linear-gradient(left,rgba($blue-lightest,0),rgba($blue-lightest,$xsmall),rgba($blue-lightest,$xsmall),rgba($blue-lightest,0)))
  .id
    text-align: right

.status
  position: relative
  .pending
    +border-radius(.25em)
    display: block
    button
      +icon('[title="approve"]','ui/check.png',$light)
      +icon('[title="reject"]','ui/x.png',$light)
      &[title="approve"], &[title="reject"]
        +columns(1,2)
        padding: 0
      &[title="reject"]
        +omega(2)
        #{$focus}
          background:
            image: image-url('ui/x.png')
            color: $red-lighter
      &[title="approve"]
        #{$focus}
          background:
            image: image-url('ui/check.png')
            color: $green-light

  span
    +inline-block

  button, span
    +icon('.rejected','ui/x.png',$red-lighter,text)
    +icon('.draft','ui/power.png',$blue-lighter,text)
    +icon('.active','ui/power.png',$green-light,text)
    +icon('.locked','ui/lock.png',$yellow,text)
    &.rejected, &.draft, &.active, &.locked
      width: 100%

  button
    #{$focus}
      +icon('.rejected','ui/check.png',$green-light,text)
      +icon('.draft','ui/power.png',$green-light,text)
      +icon('.active','ui/lock.png',$yellow,text)
      +icon('.locked','ui/unlock.png',$green-light,text)
      &.rejected, &.draft, &.active, &.locked
        +hide-text
        &::after
          content: attr(title)
          position: absolute
          left: 1.5em
          text-indent: 0

.byline
  margin: 0

.environments
  +adjust-font-size-to(12px,.75)
  h4
    +gone
  h5
    @extend .groupheader
  > ul
    +reset-box-model
    list-style: none
  .envgroup
    color: $mid-dark
    li
      list-style-type: disc

.envgroup
  +columns(3,15)
  &:nth-child(5n)
    +omega(15)

.environments
  +columns(15,22)
  +prefix(2,22)
  &:last-child
    +reset-column
    +full(22)
    +pad(2,2,22)
    clear: both
    .envgroup
      +columns(3,18)
      &:nth-child(6n)
        +omega(18)

.testers, .suites
  +adjust-font-size-to(12px,.75)
  color: $mid-dark
  h4
    @extend .groupheader
    background-color: transparent
    margin: 0

.description
  +columns(20,22)
  +omega(22)

.sortlinks
  #{$link}
    display: block
    position: relative
    color: $blue-dark
    &::after
      +replace-text-with-dimensions('ui/angle_up.png')
      +inline-block
      content: " "
      margin-left: .4em
      background-image: none
      vertical-align: baseline
  #{$focus}
    color: $accent
    &::after
      background-image: image-url('ui/angle_up.png')
  &.asc
    #{$link}
      &::after
        background-image: image-url('ui/angle_up.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_down.png')
  &.desc
    #{$link}
      &::after
        background-image: image-url('ui/angle_down.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_up.png')

.listordering
  +boldcond
  +clearfix
  +rhythm(0,.25,.25,0)
  background: rgba($blue,$xxsmall)
  text-transform: capitalize
  ul
    +no-style-list
  a
    @extend .sortlinks

  .bystatus
    +columns(2,21)
    a
      #{$link}
        padding-left: $smallem

.listnav
  +condensed
  +pie-clearfix
  +rhythm(0,.25,.25,.5)
  +hpadding(.5em)
  clear: both
  margin-top: -1px
  background: rgba($blue,$xxsmall)
  white-space: nowrap
  p, ul
    +reset-box-model
  .location, .perpage
    +columns(6,22)
  .perpage
    +omega(22)
    text-align: right
  .perpage ul, .pagination
    +inline-block-list
    display: inline
    font-style: normal
    li
      vertical-align: baseline
      + li::before
        content: "| "
  .pagination
    +columns(10,22)
    text-align: center
  .current, strong
    +boldcond
  a
    #{$link}
      color: $blue-dark
    #{$focus}
      color: $red-dark
