/* Results -------------------------------------------------------------------

.managelist
  .results
    +inline-block-list
    text-align: right
    li
      +adjust-font-size-to(12px)
      margin-right: .5em
      vertical-align: top
      +icon('.pass','ui/check_sm.png',$green-lighter,true)
      +icon('.invalid','ui/warning_sm.png',$yellow,true)
      +icon('.fail','ui/x_sm.png',$red-lighter,true)
      +icon('.pending','ui/clock_sm.png',$blue-lighter,true)

  .completion
    +adjust-font-size-to(12px)
    +border-radius(.25em)
    +text-shadow(rgba($blue-lighter,.5) 1px 1px 0)
    font-weight: bold
    text-align: center

  .time
    p
      margin: 0
      padding-right: .5em
      text-align: right

@for $i from 1 to 101
  $n      : .9deg*$i
  $color  : adjust-hue($red-lighter,$n)
  .completion[data-perc="#{$i}"]
    background: $color

/* Result Types --------------------------------------------------------------

#cycleresults
  .completion, .bycompletion
    +columns(1,21)
  .status, .id, .start, .end, .bystatus, .bystart, .byend
    +columns(2,21)
  .product, .byproduct
    +columns(3,21)
  .testers
    +columns(4,21)
  .results
    +columns(5,21)
  .title, .bytitle
    +columns(6,21)
  .drill
    +columns(19,21)
  .results, .testers, .drill
    +omega(21)

#runresults
  .completion, .bycompletion
    +columns(1,21)
  .status, .id, .bystatus
    +columns(2,21)
  .product, .byproduct
    +columns(3,21)
  .testers, .cycle, .bycycle
    +columns(4,21)
  .results, .time
    +columns(5,21)
  .title, .bytitle
    +columns(6,21)
  .drill
    +columns(14,21)
  .results, .testers, .time
    +omega(21)

#suiteresults
  .completion, .bycompletion
    +columns(1,21)
  .status, .id, .bystatus
    +columns(2,21)
  .product, .byproduct
    +columns(4,21)
  .testers
    +columns(4,21)
  .results
    +columns(5,21)
  .title, .bytitle
    +columns(9,21)
  .drill
    +columns(19,21)
  .results, .testers, .drill
    +omega(21)
