{% extends "finder/_column.html" %}

{% block finder-section-classes %}runs{% if run %} focus{% endif %}{% endblock %}

{% block finder-section-column-headers %}
  {% include "finder/_header.html" with tag="h3" class="bytitle" sort_type="string" sort_by="title" sortdir="asc" header="Runs" %}
  {% include "finder/_header.html" with tag="p" class="bystart" sort_type="date" sort_by="start" header="start" %}
  {% include "finder/_header.html" with tag="p" class="byend" sort_type="date" sort_by="end" header="end" %}
{% endblock %}


{% block finder-section-column-content %}
  {% include "runtests/finder/_runs.html" with active=run colname="runs" %}
{% endblock %}
