{% load filters %}

    <nav class="listfilter">
      <h3>Filters</h3>
      {% for filterfield in objs|filter_fields:fields %}
      <h4>{{ filterfield.name }}</h4>
      <ul>
        <li>
          {% with request|cancel_filter_url:filterfield.name as all_url %}
          {% if all_url %}
          <a href="{{ all_url }}">
            All
          </a>
          {% else %}
            <span class="selected">All</span>
          {% endif %}
          {% endwith %}
        </li>
        {% for option in filterfield.options %}
        <li>
          {% filter_url request filterfield.name option.value as new_url %}
          {% if new_url %}
          <a href="{{ new_url }}">
            {{ option.name }} <span class="count">({{ option.count }})</span>
          </a>
          {% else %}
            <span class="selected">{{ option.name }} <span class="count">({{ option.count }})</span></span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </nav>
