    <section class="suiteselect">
      <h3>add test suites to your test run</h3>
      <div>
        <p><label for="search">search</label><input type="search" name="search" value="" id="search" placeholder="search for suites to add"></p>
        <div class="unselected">
          <h4>available suites</h4>
          <nav class="listordering">
            <ul>
              <li><a href="#" class="id">id</a></li>
              <li><a href="#" class="title">title</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="suite01" value="" id="suite01">
              <label for="suite01">
                <span class="id">#3456</span>
                <span class="title">Test Suite 01</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="addremove">
          <button class="add" title="add selected">add selected</button>
          <button class="update" title="update all">update all</button>
          <button class="remove" title="remove selected">&laquo; remove selected</button>
        </div>
        <div class="selected">
          <h4>included suites</h4>
          <nav class="listordering">
            <ul>
              <li><a href="#" class="id">id</a></li>
              <li><a href="#" class="title">title</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="suite06" value="" id="suite06">
              <label for="suite06">
                <span class="id">#4567</span>
                <span class="title">Test Suite 06</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </section>
