    <div class="assignto">
      <details class="userselect">
        <summary>assign specific users to this test cycle &raquo;</summary>
        <div>
          <p><label for="search">search</label><input type="search" name="search" value="" id="search" placeholder="search for users to add"></p>
          <div class="unselected">
            <h3>available users</h3>
            <nav class="listordering">
              <ul>
                <li><a href="#" class="nickname">username</a></li>
                <li><a href="#" class="fn">name</a></li>
              </ul>
            </nav>
            <ul class="select">
              <li>
                <input type="checkbox" name="user01" value="" id="user01">
                <label for="user01" class="hcard">
                  <span class="nickname">username</span>
                  <span class="fn">First Last</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="addremove">
            <button class="add" title="add selected">add selected</button>
            <button class="update" title="update all">update all</button>
            <button class="remove" title="remove selected">&laquo; remove selected</button>
          </div>
          <div class="selected">
            <h3>included users</h3>
            <nav class="listordering">
              <ul>
                <li><a href="#" class="nickname">username</a></li>
                <li><a href="#" class="fn">name</a></li>
              </ul>
            </nav>
            <ul class="select">
              <li>
                <input type="checkbox" name="user06" value="" id="user06">
                <label for="user06" class="hcard">
                  <span class="nickname">username</span>
                  <span class="fn">First Last</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </details>
    </div>

    <details class="userselect">
      <summary>assign specific users to this test run &raquo;</summary>
      <div>
        <p><label for="search">search</label><input type="search" name="search" value="" id="search" placeholder="search for users to add"></p>
        <div class="unselected">
          <h3>available users</h3>
          <nav class="listordering">
            <ul>
              <li><a href="#" class="nickname">username</a></li>
              <li><a href="#" class="fn">name</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="user01" value="" id="user01">
              <label for="user01" class="hcard">
                <span class="nickname">username</span>
                <span class="fn">First Last</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="addremove">
          <button class="add" title="add selected">add selected</button>
          <button class="update" title="update all">update all</button>
          <button class="remove" title="remove selected">&laquo; remove selected</button>
        </div>
        <div class="selected">
          <h3>included users</h3>
          <nav class="listordering">
            <ul>
              <li><a href="#" class="nickname">username</a></li>
              <li><a href="#" class="fn">name</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="user06" value="" id="user06">
              <label for="user06" class="hcard">
                <span class="nickname">username</span>
                <span class="fn">First Last</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </details>
