{% extends 'base.html' %}

{% block manage-active-nav %}active{% endblock manage-active-nav %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{% url manage %}">manage</a></li>
{% endblock crumb %}

{% block page-status %}incomplete{% endblock %}
{% block page-notes %}
  <p>Can't pair multiple name searches, unless they are all exact, e.g. &ldquo;^Full Name$&rdquo; (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=659226">platform limitation</a>).</p>
<p>No <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=659228">keyword search across multiple fields</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=658123">environment</a>, or <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=659073">team member</a> filtering (platform limitations).</p>
{% endblock %}

{% block content %}
  <nav class="subnav">
    <h2 class="navhead">Management Navigation</h2>

    {% include "includes/finder.html" %}

    <ul class="nestednav">
      {% block nestednav %}
      {% include "manage/products/_nav.html" %}
      {% endblock nestednav %}
    </ul>
  </nav>

  <div id="listcontent" class="manage">
    {% include "_messages.html" %}
    {% block listcontent %}

    {% endblock listcontent %}
  </div>

{% endblock content %}
