{% extends 'base.html' %}

{% block manage-active-nav %}active{% endblock manage-active-nav %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{% url manage %}">manage</a></li>
{% endblock crumb %}

{% block content %}
  <nav>
    <h2 class="navhead">Management Navigation</h2>
    <ul class="nestednav">
      {% if "PERMISSION_TEST_CYCLE_EDIT" in request.user.permissionCodes %}
      <li><a href="{% url manage_testcycles %}" class="{% block cycles-active-nav %}{% endblock cycles-active-nav %}">Test Cycles</a></li>
      {% endif %}

      {% if "PERMISSION_TEST_RUN_EDIT" in request.user.permissionCodes %}
      <li><a href="{% url manage_testruns %}" class="{% block run-active-nav %}{% endblock run-active-nav %}">Test Runs</a></li>
      {% endif %}

      {% if "PERMISSION_TEST_SUITE_EDIT" in request.user.permissionCodes %}
      <li><a href="{% url manage_testsuites %}" class="{% block suites-active-nav %}{% endblock suites-active-nav %}">Test Suites</a></li>
      {% endif %}

      {% if "PERMISSION_TEST_CASE_EDIT" in request.user.permissionCodes %}
      <li><a href="{% url manage_testcases %}" class="{% block cases-active-nav %}{% endblock cases-active-nav %}">Test Cases</a></li>
      {% endif %}

      {# @@@ <li><a href="/manage/users/" class="{% block users-active-nav %}{% endblock users-active-nav %}">Users</a></li> #}
    </ul>
  </nav>

  <div id="listcontent" class="manage">
    {% include "_messages.html" %}
    {% block listcontent %}

    {% endblock listcontent %}
  </div>

{% endblock content %}

{% block page-status %}incomplete{% endblock %}
{% block page-notes %}
  <p>Filtering UI is still just wireframe, not active yet.</p>
{% endblock %}
