[run]
branch = True

[report]
omit =
  */migrations/*
  moztrap/deploy/wsgi.py
  moztrap/deploy/vendor_wsgi.py
  moztrap/settings/base.py
  moztrap/settings/default.py
  moztrap/settings/local.py
  moztrap/settings/local.sample.py
include =
  moztrap/**/*.py
