{% extends 'manage/productversion/base.html' %}


{% block content %}
<section class="{% block sectionclass %}{% endblock %}">
  <h2>
    {% block formtitle %}{% endblock %}
    {% include "_helplink.html" with helpURL="products.html#product-version-edit-fields" %}
  </h2>

  {% block formtop %}{% endblock %}
  <form id="{% block formid %}{% endblock %}" method="POST" class="manage-form">
    {% csrf_token %}
    {{ form.cc_version }}
    {{ form.non_field_errors }}

    {% block topfields %}{% endblock %}
    {% include "forms/_field.html" with field=form.version %}
    {% include "forms/_field.html" with field=form.codename %}

    {% comment %}
    <section class="userselect details{% if form.team.errors or form.team.value %} open{% endif %}">
      <h3 class="summary">assign specific users to this product &raquo;</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {% include "forms/_field.html" with field=form.team %}
      </div>
    </section>
    {% endcomment %}

    <div class="form-actions">
      <button type="submit">save productversion</button>
    </div>
  </form>
</section>
{% endblock content %}
