{% load pagination %}

<form method="POST" id="manage-cases-form" class="itemlist action-ajax-replace">
  {% csrf_token %}

  {% include "manage/case/list/_cases_listordering.html" %}

  {% paginate caseversions as pager %}
  {% if pager.objects %}
    {% for caseversion in pager.objects %}
      {% include "manage/case/list/_cases_list_item.html" %}
    {% endfor %}
  {% else %}
    {% include "lists/_emptylist.html" %}
  {% endif %}

  {% include "lists/_listnav.html" with pager=pager %}

</form>
