{% extends 'lists/_listordering.html' %}

{% block sortitems %}
  {% include "lists/_sortitem.html" with sortname="status" sortID="status" %}
  {% include "lists/_sortitem.html" with sortname="name [tags]" sortID="name" %}
  {% include "lists/_sortitem.html" with sortname="priority" sortID="case__priority" %}
  {% include "lists/_sortitem.html" with sortname="product version" sortID="productversion" %}
  {% include "lists/_sortitem.html" with sortname="modified " sortID="modified_on" %}
{% endblock sortitems %}
