{% load permissions %}

<article id="caseversion-id-{{ caseversion.id }}" class="listitem {{ caseversion.status|slugify }}" data-title="{{ caseversion.name }}">
  {% include "manage/_status.html" with item=caseversion permission="library.manage_cases" %}

  <header class="itemhead">

    <div class="name-tags">

      <div class="controls">
        {% if user|has_perm:"library.manage_cases" %}
          {% url 'manage_caseversion_edit' caseversion_id=caseversion.id as caseversion_edit_url %}
          {% include "lists/controls/_edit.html" with edit_url=caseversion_edit_url edit_name=caseversion.name %}
          {% url 'manage_narrow_environments' object_type="caseversion" object_id=caseversion.id as manage_envs_url %}
          {% include "manage/_narrow_env_link.html" with manage_envs_url=manage_envs_url %}
          {% include "lists/controls/_clone.html" with clone_id=caseversion.id clone_name=caseversion.name %}
          {% include "lists/controls/_delete.html" with delete_id=caseversion.id delete_name=caseversion.name|add:" version "|add:caseversion.productversion.name %}
        {% endif %}
      </div>

      <h3 class="title" title="{{ caseversion.name }}">{{ caseversion.name }}</h3>

      {% with caseversion.tags.all as tags %}
      {% if tags %}
      <ul class="tags">
        {% for tag in tags %}
        <li><a href="#{{ tag|slugify }}" title="filter by {{ tag }}" class="filter-link tag" data-type="tag">{{ tag }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </div>

    <div class="priority">{{ caseversion.case.priority }}</div>

    <div class="product">{{ caseversion.productversion }}</div>

    <div class="modified">{{ caseversion.modified_on }}</div>

  </header>

  {% url 'manage_case_details' caseversion.id as details_url %}
  {# _case_details.html loaded via ajax #}
  {% include "lists/_itembody.html" %}

</article>
