{% load sort staticdata %}

<div class="managelist action-ajax-replace">

  {% include "manage/product/testsuite/_suite_listordering.html" %}

  <div class="items">
    {% if suites %}
      {% for suite in suites %}
      <article id="suite-id-{{ suite.id }}" class="details item {{ suite.status|status_class }}" data-details-url="{% url manage_testsuite_details suite.id %}">
        <header class="summary">
          <p class="status">
            {% if "PERMISSION_TEST_SUITE_ACTIVATE" in request.user.permissionCodes %}
              {% if suite.status.DRAFT %}
              <button title="activate" type="submit" name="action-activate" value="{{ suite.id }}" class="draft">draft</button>
              {% endif %}
              {% if suite.status.ACTIVE %}
              <button title="disable" type="submit" name="action-deactivate" value="{{ suite.id }}" class="active">active</button>
              {% endif %}
              {% if suite.status.LOCKED %}
              <button title="activate" type="submit" name="action-activate" value="{{ suite.id }}" class="locked">disabled</button>
              {% endif %}
            {% else %}
              {% if suite.status.DRAFT %}
              <span class="draft">draft</span>
              {% endif %}
              {% if suite.status.ACTIVE %}
              <span class="active">active</span>
              {% endif %}
              {% if suite.status.LOCKED %}
              <span class="locked">disabled</span>
              {% endif %}
            {% endif %}
          </p>
          <h3 class="title" title="{{ suite.name }}">{{ suite.name }}</h3>
          <p class="product">{{ suite.product.name }}</p>
          <div class="controls">
            {% if "PERMISSION_TEST_SUITE_EDIT" in request.user.permissionCodes %}
              <a href="{% url manage_testsuite_edit suite_id=suite.id %}" title="edit">edit</a>
              {% if suite.status.DRAFT %}
              <a href="{% url manage_narrow_environments object_type='testsuite' object_id=suite.id %}" title="select environments" class="target">select environments</a>
              {% endif %}
              <button title="clone" type="submit" name="action-clone" value="{{ suite.id }}">clone</button>
              {% if suite.status.DRAFT %}
              <button title="delete" type="submit" name="action-delete" value="{{ suite.id }}">delete</button>
              {% endif %}
              {# @@@ requires modifications to case form <a href="#" title="create new test case in this suite">create new test case in this suite</a> #}
            {% endif %}
          </div>
        </header>
        <div class="content">
          {# _suite_details.html loaded via ajax #}
        </div>
      </article>
      {% endfor %}
    {% else %}
      <p class="empty">There are currently no items in this list...</p>
    {% endif %}
  </div>

  {% include "lists/_listnav.html" %}
</div>
