<ol class="case-version-list">
  <form id="case-version-list-form" action="{% url manage_caseversion_clone caseversion_id=caseversion.id %}" method="POST">
  {% csrf_token %}
  {% for productversion, othercaseversion in caseversion.case.all_versions %}
  <li class="case-version">
    {% if othercaseversion %}
      {% if othercaseversion == caseversion %}
        <span class="vaction-current">
          <span class="vnumber">{{ productversion.version }}</span>
          <span class="vname">{{ othercaseversion.name }}</span>
        </span>
      {% else %}
        <a href="{% url manage_caseversion_edit caseversion_id=othercaseversion.id %}" class="vaction-edit" title="edit {{ othercaseversion.name }} for {{ productversion.version }}">
          <span class="vnumber">{{ productversion.version }}</span>
          <span class="vname">{{ othercaseversion.name }}</span>
        </a>
      {% endif %}
    {% else %}
      <button name="productversion" value="{{ productversion.id }}" class="vaction-add" title="add case version for {{ productversion.version }}">
        <span class="vnumber">{{ productversion.version }}</span>
        <span class="vname">(add this version)</span>
      </button>
    {% endif %}
  </li>
  {% endfor %}
  </form>
</ol>
