{% extends 'manage/case/form/case_form.html' %}

{% block location %}Create Bulk Cases{% endblock %}
{% block formtitle %}create new test cases{% endblock formtitle %}
{% block sectionclass %}add-case{% endblock sectionclass %}

{% block form-id %}bulk-case-add{% endblock form-id %}

{% block versionedform %}
  {% include "manage/case/tag/_tagging.html" with formtype="bulk" %}

  <div class="bulk-field">
    {% include "forms/_field.html" with field=form.cases %}
    <section class="fieldhelp">
      <h3>Instructions</h3>
      <p>
        Use the following <strong>keywords</strong> and line-breaks to format your test&nbsp;cases.
        (Keywords are not case&nbsp;sensitive.)
      </p>
      <p>
        <strong>Test that</strong> this will become the <em>title</em> of my first&nbsp;case.<br />
        I may add one or more lines of <em>description</em> to a&nbsp;case.<br />
        <strong>When</strong> I add one or more lines describing a step&nbsp;<em>instruction</em>.<br />
        <strong>Then</strong> I must also add one or more lines describing the expected&nbsp;<em>outcome</em>.<br />
        <strong>When</strong> I repeat for additional step&nbsp;<em>instructions</em>.<br />
        <strong>Then</strong> I also repeat for expected&nbsp;<em>outcomes</em>.<br />
      </p>
      <p>
        <strong>Test that</strong> I can add multiple test cases at once.<br />
        This will become my second test case<br />
        (if I complete it by adding steps)...
      </p>
    </section>
  </div>
{% endblock versionedform %}
