{% extends 'manage/case/form/case_form.html' %}

{% block formtitle %}create new test cases{% endblock formtitle %}
{% block sectionclass %}add-case{% endblock sectionclass %}

{% block form-id %}bulk-case-add{% endblock form-id %}

{% block versionedform %}
  {% include "manage/case/tag/_tagging.html" with formtype="bulk" %}

  <div class="bulk-field">
    {% include "forms/_field.html" with field=form.cases %}
    <section class="fieldhelp">
      <h3>Keyword Instructions</h3>
      <p>
        Use the following <strong>keywords</strong> and line-breaks to format your test&nbsp;cases.<br />
        (All fields are required. Keywords are not case&nbsp;sensitive.)
      </p>
      <ol>
        <li>"<strong>Test that</strong>" - One line <em>naming</em> your test&nbsp;case.</li>
        <li>One or more lines of <em>description</em> in any&nbsp;format.</li>
        <li>"<strong>When</strong>" - One or more lines describing a single step&nbsp;<em>instruction</em>.</li>
        <li>"<strong>Then</strong>" - One or more lines describing the expected <em>result</em> of that&nbsp;step.</li>
        <li>Repeat 3-4 as needed for multiple steps, or begin a new test case with "<strong>Test&nbsp;that</strong>".</li>
      </ol>
    </section>
  </div>
{% endblock versionedform %}
