{% extends 'manage/case/base.html' %}

{% load permissions %}

{% block content %}

<section id="managecases" class="manage listpage">
  <h2>
    Manage Test Cases
    {% include "_helplink.html" with helpURL="library.html#test-cases" %}
  </h2>

  {% if user|has_perm:"library.create_cases" %}
  <div class="create-options">
    <a href="{% url manage_case_add %}" class="create single">create a <strong>single</strong> case</a>
    <a href="{% url manage_case_add_bulk %}" class="create bulk">create <strong>bulk</strong> cases</a>
  </div>
  {% endif %}

  {% include "lists/_filter.html" %}
  {% include "manage/case/list/_cases_list.html" %}

</section>
{% endblock content %}
