{% extends 'manage/case/form/case_form_single.html' %}

{% load icanhaz %}

{% block location %}Edit Case{% endblock %}
{% block formtitle %}Edit "{{ caseversion.name }}"{% endblock %}
{% block sectionclass %}edit-case{% endblock sectionclass %}
{% block form-id %}single-case-edit{% endblock form-id %}

{% block caseversions %}
  <a href="{% url 'manage_narrow_environments' object_type='caseversion' object_id=caseversion.id %}" class="select-env-link">select environments</a>

  <nav class="case-version-nav">
    <h3 class="case-version-head">{{ caseversion.productversion.product }}</h3>
    <div class="change-version">
      <p class="case-version-current">{{ caseversion.productversion.version }}</p>
      {% include "manage/case/_case_version_nav.html" %}
    </div>
  </nav>
{% endblock caseversions %}

{% block versioningform %}
{% include "forms/_field.html" with field=form.idprefix label="ID Prefix" %}
{{ form.cc_version }}
{% endblock versioningform %}
