{% load picker %}

<li>
  <input type="radio"{% if active.id == object.id %} checked{% endif %} name="{{ object.api_name }}" value="{{ object.id }}" id="{{ object.api_name }}-{{ object.id }}" data-sub-url="{{ object|picker_sub_url:picker_type }}">
  <label for="{{ object.api_name }}-{{ object.id }}">
    {% block columns %}{% endblock %}
  </label>
  {% block final %}
  <a href="{{ object|picker_goto_url:picker_type }}" class="goto" title="open all the {{ object.name }} {{ object|picker_sub_name }}">open all the {{ object.name }} {{ object|picker_sub_name }}</a>
  {% endblock %}
</li>
