<aside class="envs">
  <h4 class="envs-title">
    environments
    {% include "_helplink.html" with helpURL="environments.html" %}
  </h4>
  <ul class="envlist">
    {% for env in environments.all %}
    <li>
      {% for element in env.elements.all %}
        <a href="#{{ element.name|slugify }}" title="filter by {{ element.name }}" class="filter-link envelement" data-type="envelement">{{ element.name }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</aside>
