<section class="filter-group {{ field.cls }}" data-name="{{ field.key }}">
  <h5 class="category-title">{{ field.name|lower }}</h5>
  <ul class="filter-items {% if field|length > 6 %}long{% endif %}">
    {% if advanced and field.cls == "keyword" %}
      <li class="addterm">
        <input type="text" value="" id="id-{{ prefix }}-{{ field.key }}" autocomplete="off" placeholder="add {{ field.name }} filter">
      </li>
    {% endif %}
    {% for option in field %}
    <li class="filter-item">
      <input type="checkbox" name="{{ prefix }}-{{ field.key }}" data-name="{{ field.key }}" value="{{ option.value }}" id="id-{{ prefix }}-{{ field.key }}-{{ forloop.counter }}"{% if option.selected %} checked{% endif %} class="check">
      <span class="onoff">
        <label for="id-{{ prefix }}-{{ field.key }}-{{ forloop.counter }}" class="onoffswitch">{{ option.label }}</label>
        {% if pinable %}
            <span class="pinswitch"></span>
        {% endif %}
        <span class="content">{{ option.label }}</span>
      </span>
    </li>
    {% endfor %}
  </ul>
</section>
