<li class="by{{ sortname|slugify }} sortitem">
  {% if sortname == "bulk" %}
    <input type="checkbox" name="bulk_select" value="" id="bulk_select" {% if bulk == "checked" %}checked{% endif %}>
    <label for="bulk_select">bulk select</label>
  {% else %}
    {% if sortID %}
      <a href="{# sort|url:sortID #}" class="{# sort|dir:sortID #} sortlink">{{ sortname }}</a>
    {% else %}
      {% if sortURL %}
        <a href="{{ sortURL }}">{{ sortname }}</a>
      {% else %}
        <span>{{ sortname }}</span>
      {% endif %}
    {% endif %}
  {% endif %}
</li>