{% extends 'includes/filter.html' %}

{% block more-filters %}
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <div class="filter-operating-system">
    <h3>operating system</h3>
    <ul>
      <li>
        <input type="checkbox" name="linux" value="" id="linux">
        <label for="linux">linux <small>(20)</small></label>
      </li>
      <li>
        <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
        <label for="mac_os_x">mac os x <small>(15)</small></label>
      </li>
      <li>
        <input type="checkbox" name="windows" value="" id="windows">
        <label for="windows">windows <small>(3)</small></label>
      </li>
      <li>
        <input type="checkbox" name="ios" value="" id="ios">
        <label for="ios">ios <small>(75)</small></label>
      </li>
      <li>
        <input type="checkbox" name="android" value="" id="android">
        <label for="android">android <small>(3)</small></label>
      </li>
    </ul>
  </div>
  <details class="more">
    <div class="more-content">
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
      <div class="filter-operating-system">
        <h3>operating system</h3>
        <ul>
          <li>
            <input type="checkbox" name="linux" value="" id="linux">
            <label for="linux">linux <small>(20)</small></label>
          </li>
          <li>
            <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
            <label for="mac_os_x">mac os x <small>(15)</small></label>
          </li>
          <li>
            <input type="checkbox" name="windows" value="" id="windows">
            <label for="windows">windows <small>(3)</small></label>
          </li>
          <li>
            <input type="checkbox" name="ios" value="" id="ios">
            <label for="ios">ios <small>(75)</small></label>
          </li>
          <li>
            <input type="checkbox" name="android" value="" id="android">
            <label for="android">android <small>(3)</small></label>
          </li>
        </ul>
      </div>
    </div>
    <summary>show</summary>
  </details>
{% endblock more-filters %}
