<nav id="filter">
  <h3 class="navhead">List Filtering</h3>
  <form>
    <section class="textual">
      <h4 class="navhead">Basic Filtering</h4>
      <label for="filter">filter</label>
      <input type="text" name="filter" value="" id="filter" placeholder="filter by operating system, language, status, keyword, etc.">
      <ul class="suggest">
        <li><a href="#"><b>en</b>glish <i>[language]</i></a></li>
        <li><a href="#"><b>en</b>titled <i>[keyword]</i></a></li>
        <li><a href="#"><b>en</b>dangered <i>[keyword]</i></a></li>
      </ul>
    </section>

    <section class="visual compact">
      <h4 class="toggle"><a href="#">Advanced Filtering</a></h4>
      <div class="content">
        <section class="filter-operating-system">
          <h5>operating system</h5>
          <ul>
            <li>
              <input type="checkbox" name="linux" value="" id="linux">
              <label for="linux">linux <small>(20)</small></label>
            </li>
            <li>
              <input type="checkbox" name="mac_os_x" value="" id="mac_os_x">
              <label for="mac_os_x">mac os x <small>(15)</small></label>
            </li>
            <li>
              <input type="checkbox" name="windows" value="" id="windows" checked>
              <label for="windows">windows <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="ios" value="" id="ios">
              <label for="ios">ios <small>(75)</small></label>
            </li>
            <li>
              <input type="checkbox" name="android" value="" id="android">
              <label for="android">android <small>(3)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-language">
          <h5>language</h5>
          <ul class="long">
            <li>
              <input type="checkbox" name="en" value="" id="en">
              <label for="en">english <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="sp" value="" id="sp">
              <label for="sp">spanish <small>(13)</small></label>
            </li>
            <li>
              <input type="checkbox" name="arabic" value="" id="arabic">
              <label for="arabic">arabic <small>(24)</small></label>
            </li>
            <li>
              <input type="checkbox" name="latin" value="" id="latin">
              <label for="latin">latin <small>(12)</small></label>
            </li>
            <li>
              <input type="checkbox" name="german" value="" id="german">
              <label for="german">german <small>(5)</small></label>
            </li>
            <li>
              <input type="checkbox" name="french" value="" id="french">
              <label for="french">french <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="sesotho" value="" id="sesotho">
              <label for="sesotho">sesotho <small>(23)</small></label>
            </li>
            <li>
              <input type="checkbox" name="hindi" value="" id="hindi">
              <label for="hindi">hindi <small>(34)</small></label>
            </li>
            <li>
              <input type="checkbox" name="bengali" value="" id="bengali" checked>
              <label for="bengali">bengali <small>(14)</small></label>
            </li>
            <li>
              <input type="checkbox" name="russian" value="" id="russian">
              <label for="russian">russian <small>(6)</small></label>
            </li>
            <li>
              <input type="checkbox" name="japanese" value="" id="japanese">
              <label for="japanese">japanese <small>(68)</small></label>
            </li>
            <li>
              <input type="checkbox" name="punjabi" value="" id="punjabi">
              <label for="punjabi">punjabi <small>(13)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-status">
          <h5>status</h5>
          <ul>
            <li>
              <input type="checkbox" name="draft" value="" id="draft">
              <label for="draft">draft <small>(35)</small></label>
            </li>
            <li>
              <input type="checkbox" name="active" value="" id="active">
              <label for="active">active <small>(43)</small></label>
            </li>
            <li>
              <input type="checkbox" name="locked" value="" id="locked" checked>
              <label for="locked">locked <small>(48)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-keywords">
          <h5>keywords</h5>
          <ul>
            <li>
              <input type="checkbox" name="first" value="" id="first" checked>
              <label for="first">first term <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="second" value="" id="second" checked>
              <label for="second">second term <small>(6)</small></label>
            </li>
          </ul>
        </section>
        {% block more-filters %}{% endblock more-filters %}
      </div>
    </section>

  </form>
</nav>