{% extends 'manage/testcycle/base.html' %}

{% block cycles-active-nav %}active{% endblock cycles-active-nav %}

{% block managecontent %}
{# @@@ <p class="message success">3 test cycles activated</p> #}
{# @@@ <p class="message error">Cannot activate test cycle because X</p> #}

<section id="managecycles">
  <h2>Manage Test Cycles</h2>
  <a href="/manage/testcycle/add/" class="create">create test cycle</a>
  <form>

    <section class="managelist">
      <nav class="listordering">
        <ul>
          <li class="bytitle"><a href="#" class="asc">title</a></li>
          <li class="byproduct"><a href="#">product</a></li>
          <li class="bystart"><a href="#">start date</a></th>
          <li class="byend"><a href="#">end date</a></th>
        </ul>
      </nav>
      <article id="unique-slug-id01" class="item draft">
        <details>
          <summary class="header">
            <p class="status"><button title="activate" class="draft">draft</button></p>
            <h3 class="title">Test Cycle Title</h3>
            <p class="product">Firefox</p>
            <time class="start">2.24.2011</time>
            <time class="end">12.24.2011</time>
            <div class="controls">
              <a href="/manage/testcycle/add/" title="edit">edit</a>
              <button title="clone">clone</button>
              <button title="delete">delete</button>
            </div>
          </summary>
          <div class="content">
            <p class="id">#3456</p>
            <div class="description">
              <h4 class="byline hcard">
                Created by <span class="fn">Eric Meyer</span>
                on <time pubdate>12.28.2010</time>
              </h4>
              
              <p>Ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem? Et quinta decima eodem modo typi qui nunc nobis videntur.</p>
            </div>
            <div class="environments">
              <h4>environrments</h4>
              <ul>
                <li>env 01</li>
                <li>env 02</li>
                <li>env 03</li>
                <li>env 04</li>
              </ul>
            </div>
            <div class="testers">
              <h4>testers</h4>
              <ul>
                <li>tester 01</li>
                <li>tester 02</li>
                <li>tester 03</li>
                <li>tester 04</li>
              </ul>
            </div>
          </div>
        </details>
      </article>
      <article id="unique-slug-id01" class="item active">
        <details>
          <summary class="header">
            <p class="status"><button title="lock" class="active">active</button></p>
            <h3 class="title">Test Cycle Title</h3>
            <p class="product">Firefox</p>
            <time class="start">2.24.2011</time>
            <time class="end">12.24.2011</time>
            <div class="controls">
              <a href="/manage/testcycle/add/" title="edit">edit</a>
              <button title="clone">clone</button>
              <button title="delete">delete</button>
            </div>
          </summary>
          <div class="content">
            <p class="id">#3456</p>
            <div class="description">
              <h4 class="byline hcard">
                Created by <span class="fn">Eric Meyer</span>
                on <time pubdate>12.28.2010</time>
              </h4>
              
              <p>Ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem? Et quinta decima eodem modo typi qui nunc nobis videntur.</p>
            </div>
            <div class="environments">
              <h4>environrments</h4>
              <ul>
                <li>env 01</li>
                <li>env 02</li>
                <li>env 03</li>
                <li>env 04</li>
              </ul>
            </div>
            <div class="testers">
              <h4>testers</h4>
              <ul>
                <li>tester 01</li>
                <li>tester 02</li>
                <li>tester 03</li>
                <li>tester 04</li>
              </ul>
            </div>
          </div>
        </details>
      </article>
      <article id="unique-slug-id01" class="item locked">
        <details>
          <summary class="header">
            <p class="status"><button title="activate" class="locked">locked</button></p>
            <h3 class="title">Test Cycle Title</h3>
            <p class="product">Firefox</p>
            <time class="start">2.24.2011</time>
            <time class="end">12.24.2011</time>
            <div class="controls">
              <a href="/manage/testcycle/add/" title="edit">edit</a>
              <button title="clone">clone</button>
              <button title="delete">delete</button>
            </div>
          </summary>
          <div class="content">
            <p class="id">#3456</p>
            <div class="description">
              <h4 class="byline hcard">
                Created by <span class="fn">Eric Meyer</span>
                on <time pubdate>12.28.2010</time>
              </h4>
              
              <p>Ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem? Et quinta decima eodem modo typi qui nunc nobis videntur.</p>
            </div>
            <div class="environments">
              <h4>environrments</h4>
              <ul>
                <li>env 01</li>
                <li>env 02</li>
                <li>env 03</li>
                <li>env 04</li>
              </ul>
            </div>
            <div class="testers">
              <h4>testers</h4>
              <ul>
                <li>tester 01</li>
                <li>tester 02</li>
                <li>tester 03</li>
                <li>tester 04</li>
              </ul>
            </div>
          </div>
        </details>
      </article>
    </section>
    
    <nav class="listfilter">
      <h3>Filters</h3>
      <h4>Product</h4>
      <ul>
        <li><a href="#">Firefox</a></li>
        <li><a href="#">Fennec</a></li>
      </ul>
      <h4>Status</h4>
      <ul>
        <li><a href="#">Active</a></li>
        <li><a href="#">Draft</a></li>
        <li><a href="#">Locked</a></li>
      </ul>
    </nav>
    
    <nav class="listnav">
      <p class="location">showing 21-40 of 700</p>
      <ul class="pagination">
        <li><a href="?page=3" class="prev">&laquo; previous</a> </li>
        <li><a href="?page=1" class="page">1</a></li>
        <li><span class="current page">2</span> </li>
        <li><a href="?page=3" class="page">3</a> </li>
        <li><a href="?page=3" class="next">next &raquo;</a> </li>
      </ul>
      <div class="perpage">
        <strong>cycles per page:</strong>
        <ul>
          <li><a href="#">10</a></li>
          <li><span href="#" class="current">20</span></li>
          <li><a href="#">50</a></li>
          <li><a href="#">100</a></li>
        </ul>
      </div>
    </nav>

  </form>
</section>
{% endblock managecontent %}
