{% extends 'manage/testcycle/cycle_form.html' %}

{% load sort staticdata %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{% url manage_testcycle_edit cycle_id=cycle.id %}">edit {{ cycle.name }}</a></li>
{% endblock crumb %}

{% block formtitle %}Edit "{{ cycle.name }}"{% endblock %}

{% block midform %}
    <table class="list">
      <thead>
        <tr class="listordering">
          <th class="title">
            <a href="{{ request|sort_url:"name" }}" class="{{ request|sort_status:"name" }}">test runs</a>
          </th>
          <th class="start"><a href="{{ request|sort_url:"startDate" }}" class="{{ request|sort_status:"startDate" }}">start date</a></th>
          <th class="end"><a href="{{ request|sort_url:"endDate" }}" class="{{ request|sort_status:"endDate" }}">end date</a></th>
          <th class="state"><a href="{{ request|sort_url:"status" }}" class="{{ request|sort_status:"status" }}">status</a></th>
          <th class="controls">controls</th>
        </tr>
      </thead>
      <tbody>
        {% for testrun in testruns %}
        <tr class="{{ testrun.status|status_class }}">
          <td class="title"><a href="{# @@@ url manage_testrun_edit run_id=testrun.id #}">{{ testrun.name }}</a></td>
          <td>{{ testrun.startDate|date }}</td>
          <td>{{ testrun.endDate|date }}</td>
          <td>{{ testrun.status }}</td>
          <td class="controls">
            {% if testrun.status.DRAFT %}
            <button title="delete" type="submit" value="{{ testrun.id }}" name="action-delete">remove</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td class="addrun" colspan="5"><a href="{% url manage_testrun_add %}?cycle={{ cycle.id }}">add test run &raquo;</a></td>
        </tr>
      </tfoot>
    </table>
{% endblock midform %}
