{% load staticdata permissions %}

<div class="itemlist action-ajax-replace">
  {% if cases %}

    {% for case in cases %}
    <article id="case-id-{{ case.id }}" class="listitem {{ case.status|status_class }}" data-details-url="{% url manage_testcase_details case.id %}">
      <header class="itemhead">

        {% include "manage/product/_status.html" with item=case %}

        <h3 class="title" title="{{ case.name }}">{{ case.name }}</h3>

        <p class="product">{{ case.product }}</p>

        <div class="controls">
          {% if request.user|can_edit_case:case %}
            <a href="{% url manage_testcase_edit case_id=case.id %}" title="edit">edit</a>
            {% if case.status.DRAFT %}
              <a href="{% url manage_narrow_environments object_type='testcase' object_id=case.id %}" title="select environments" class="target">select environments</a>
            {% endif %}
          {% endif %}
          {% if "PERMISSION_TEST_CASE_ADD" in request.user.permissionCodes %}
            <button title="clone" type="submit" name="action-clone" value="{{ case.testCaseId }}">clone</button>
          {% endif %}
          {% if request.user|can_edit_case:case and case.status.DRAFT %}
            <button title="delete" type="submit" name="action-delete" value="{{ case.testCaseId }}">delete</button>
          {% endif %}
        </div>

      </header>

      {# _case_details.html loaded via ajax #}
      {% include "lists/_itembody.html" %}

    </article>
    {% endfor %}

  {% else %}
    {% include "lists/_emptylist.html" %}
  {% endif %}
</div>