<article id="case-id-{{ case.id }}" class="listitem {{ case.status|slugify }}" data-details-url="{# url manage_testcase_details case.id #}">
  <header class="itemhead">

    {% include "manage/product/_status.html" with item=case %}

    <div class="name-tags">
      <h3 class="title" title="{{ case.name }}">{{ case.name }}</h3>

      {% if case.tags %}
      <ul class="tags">
        {% for tag in case.tags %}
        <li><a href="#{{ tag|slugify }}" title="filter by {{ tag }}" class="filter-link">{{ tag }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="product">{{ case.product }}</div>

    <div class="controls">
      {# if permissions #}
        {# url manage_testcase_edit case_id=case.id as testcase_edit_url #}
        {% include "lists/controls/_edit.html" with edit_url=testcase_edit_url edit_name=case.name %}
        {% if case.status.DRAFT %}
          {% include "manage/_narrow_env_link.html" with obj_type='testcase' obj_id=case.id %}
        {% endif %}
      {# endif #}

      {# if permissions #}
        {% include "lists/controls/_clone.html" with clone_id=case.testCaseId clone_name=case.name %}
      {# endif #}

      {# if permissions #}
        {% include "lists/controls/_delete.html" with delete_id=case.testCaseId delete_name=case.name %}
      {# endif #}
    </div>

  </header>

  {# _case_details.html loaded via ajax #}
  {% include "lists/_itembody.html" %}

</article>
