<form>
  <ul>
    <li><label for="first_name">first name</label><input type="text" name="first_name" value="" id="first_name" placeholder="first name"></li>
    <li><label for="last_name">last name</label><input type="text" name="last_name" value="" id="last_name" placeholder="last name"></li>
    <li><label for="email">email</label><input type="email" name="email" value="" id="email" placeholder="email address"></li>
    <li><label for="password">password</label><input type="password" name="password" value="" id="password" placeholder="password"></li>
    <li><label for="confirm_password">confirm password</label><input type="password" name="confirm_password" value="" id="confirm_password" placeholder="confirm password"></li>
  </ul>
  <div class="form-actions">
    {# On click, a user will end up on the test cycle chooser. #}
    <button>register</button>
  </div>
</form>