{% extends "base.html" %}

{% block test-active-nav %}active{% endblock test-active-nav %}
{% block bread %}{% endblock bread %}

{% block content %}
<section id="login">
  {% comment %}
    <figure class="logo"><img src="http://dummyimage.com/320x192/ccc/666&text=logo"></figure>
  {% endcomment %}
  <h2>Welcome to Mozilla’s Test Case Manager!</h2>
  <p>To run tests, login to your account. Once logged in, you can select a test cycle to run. Or you can view results of already completed runs above.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul>
      {% for field in form %}
      <li>
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </li>
      {% endfor %}
    </ul>
    <div class="form-actions">
      <a href="{% url register %}">register</a> or
      <button type="submit">login</button>
    </div>
  </form>
</section>
{% endblock %}
