{% extends 'test/manage_base.html' %}

{% block crumb %}
  {{ block.super }}
  <li><a href="/manage/testcase/add/">add test case</a></li>
{% endblock crumb %}

{% block content %}
<section id="create">
  <h2>create a new test case</h2>
  <form method="POST">
    {% csrf_token %}
    <ul class="meta">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      <li>
        {{ form.tags.errors }}
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </li>
    </ul>

    <div class="env">
      <label>environment constraints</label>
      <ul>
        <li>
          <select name="env_type1" id="env_type1">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
            <option value="option1">option3</option>
            <option value="option2">option4</option>
          </select>
          <select name="env_value1" id="env_value1" multiple size="5">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
            <option value="option1">option3</option>
            <option value="option2">option4</option>
            <option value="option1">option5</option>
            <option value="option2">option6</option>
            <option value="option1">option7</option>
            <option value="option2">option8</option>
          </select>
          <a href="#" class="remove">remove</a>
        </li>
        <li>
          <a href="#" class="add">add a constraint »</a>
        </li>
      </ul>
    </div>

    <ol class="steps">
      {{ form.steps_formset.management_form }}
      {% for stepform in form.steps_formset.forms %}
      <li>
        <div class="step">
          {{ stepform.instruction.errors }}
          {{ stepform.instruction.label_tag }}
          {{ stepform.instruction }}
        </div>
        <div class="result">
          {{ stepform.expected_result.errors }}
          {{ stepform.expected_result.label_tag }}
          {{ stepform.expected_result }}
        </div>
        <a href="#" class="remove">remove</a>
      </li>
      {% endfor %}
      <li>
        <a href="#" class="add">add a step »</a>
      </li>
    </ol>

    <div class="form-actions">
      <button type="submit">save test case</button>
    </div>

  </form>
</section>
{% endblock content %}
