{% extends 'test/manage_base.html' %}

{% block crumb %}
  {{ block.super }}
  <li><a href="/manage/testcase/add/">add test case</a></li>
{% endblock crumb %}

{% block content %}
<section id="create">
  <h2>create a new test case</h2>
  <form method="POST">
    {% csrf_token %}
    <ul class="meta">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      <li>
        {{ form.tags.errors }}
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </li>
    </ul>

    <ul class="env">
      <label>environment constraints</label>
      {{ form.env_formset.management_forms }}
      {% for envform in form.env_formset %}
      <li>
        <ul>
          <li>
            {{ envform.env_type.errors }}
            {{ envform.env_type.label_tag }}
            {{ envform.env_type }}
          </li>
          <li>
            {{ envform.environments.errors }}
            {{ envform.environments.label_tag }}
            {{ envform.environments }}
          </li>
        </ul>
      </li>
      {% endfor %}
    </ul>

    <ol class="steps">
      {{ form.steps_formset.management_form }}
      {% for stepform in form.steps_formset %}
      <li>
        <div class="step">
          {{ stepform.instruction.errors }}
          {{ stepform.instruction.label_tag }}
          {{ stepform.instruction }}
        </div>
        <div class="result">
          {{ stepform.expected_result.errors }}
          {{ stepform.expected_result.label_tag }}
          {{ stepform.expected_result }}
        </div>
      </li>
      {% endfor %}
    </ol>

    <div class="form-actions">
      <button type="submit">save test case</button>
    </div>

  </form>
</section>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
  $(function() {
    $('ol.steps li').formset({
      prefix: '{{ form.steps_formset.prefix }}',
      formCssClass: 'steps-form',
      deleteCssClass: 'remove',
      deleteText: 'remove',
      addCssClass: 'add',
      addText: 'add a step »'
    });
    $('ul.env > li').formset({
      prefix: '{{ form.env_formset.prefix }}',
      formCssClass: 'env-form',
      deleteCssClass: 'remove',
      deleteText: 'remove',
      addCssClass: 'add',
      addText: 'add a constraint »'
    });
  })
</script>

{% endblock %}
