{% extends 'base.html' %}

{% block test-active-nav %}active{% endblock test-active-nav %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{% url products %}">run tests</a></li>
{% endblock crumb %}

{% block submeta %}
  <details class="environment">
    <summary>environment »</summary>
    <form>
      <ul>
        <li>
          <label for="version">version</label>
          <select name="version" id="version">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
          </select>
        </li>
        <li>
          <label for="platform">platform</label>
          <select name="platform" id="platform">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
          </select>
        </li>
        <li>
          <label for="os">operating system</label>
          <select name="os" id="os">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
          </select>
        </li>
      </ul>
      <div class="form-actions">
        <button>save changes</button>
      </div>
    </form>
  </details>
{% endblock %}
