{% extends 'test/base.html' %}

{% load sort environment %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
{% endblock crumb %}

{% block content %}
  <section id="cycles">
    <h2>Select a test cycle</h2>

    <table>
      <thead>
        <tr>
          <th class="name {{ request|sort_status:"name" }}">
            <a href="{{ request|sort_url:"name" }}" title="sort by name">name</a>
          </th>
          <th class="start {{ request|sort_status:"startDate" }}">
            <a href="{{ request|sort_url:"startDate" }}" title="sort by start date">start date</a>
          </th>
          <th class="end {{ request|sort_status:"endDate" }}">
            <a href="{{ request|sort_url:"endDate" }}" title="sort by end date">end date</a>
          </th>
          <th class="go"></th>
        </tr>
      </thead>

      <tbody>
        {% match_environment cycles request.environments as split %}
        {% for cycle in split.matched %}
        <tr>
          <td>{{ cycle.name }}</td>
          <td>{{ cycle.startDate|date:"Y/m/d" }}</td>
          <td>{{ cycle.endDate|date:"Y/m/d" }}</td>
          <td>
            <a href="{{ cycle.get_absolute_url }}">
              go
            </a>
          </td>
        </tr>
        {% endfor %}
        {% if split.unmatched %}
        Omitting {{ split.unmatched|length }}
        cycle{{ split.unmatched|length|pluralize }} incompatible with your
        current environment settings.
        {% endif %}
      </tbody>

    </table>

  </section>
{% endblock content %}
