{% extends 'test/base.html' %}

{% block crumb %}
  {{ block.super }}
  <li>{{ product.name }}</li>
{% endblock crumb %}

{% block submeta %}
{% endblock %}

{% block content %}
<section id="environment">
  <h2>Set your environment</h2>
  <form method="POST">
    <input type="hidden" name="next" value="{{ next }}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul>
      {% for field in form %}
      <li>
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
      </li>
      {% endfor %}
    </ul>
    <div class="form-actions">
      <button type="submit">run tests</button>
    </div>
  </form>
</section>
{% endblock content %}
