{% extends 'test/base.html' %}

{% block crumb %}
{{ block.super }}
<li>Products</li>
{% endblock crumb %}

{% block testcontent %}
<section id="products">
  {% if products %}
  <h2>Select a product to test:</h2>
  <ul class="list">
    {% for product in products %}
    <li>
      <a href="{% url cycles product_id=product.id %}">{{ product.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <h2>no products available for testing.</h2>
  {% endif %}
</section>
{% endblock testcontent %}
