{% extends 'test/base.html' %}

{% block bread %}{% endblock bread %}

{% block content %}
<section id="products">
  {# if products #}
  <h2>Select a product to test:</h2>
  <ul class="list">
    <li><a href="/product/1/environment/">product #1</a></li>
    <li><a href="/product/1/environment/">product #2</a></li>
    <li><a href="/product/1/environment/">product #3</a></li>
    <li><a href="/product/1/environment/">product #4</a></li>
  </ul>
  {# else #}
  {% comment %}
    <h2>no products available for testing.</h2>
  {% endcomment %}
  {# endif #}
</section>
{% endblock content %}
