{% extends 'test/base.html' %}

{% load execution %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
  <li><a href="{{ cycle.get_absolute_url }}">{{ cycle }}</a></li>
  <li><a href="{{ testrun.get_absolute_url }}">{{ testrun }}</a></li>
{% endblock crumb %}

{% block content %}
  <section id="run">
    <h2>Run Tests:</h2>

    {% for includedtestcase in testrun.includedtestcases %}
      {% run_case includedtestcase request.user request.environments %}
    {% endfor %}

  </section>
{% endblock content %}
