{% extends 'test/base.html' %}

{% block crumb %}
  {{ block.super }}
  <li><a href="#">{ product }</a></li>
  <li><a href="#">{ cycle }</a></li>
  <li><a href="#">{ testrun }</a></li>
{% endblock crumb %}

{% block content %}
  <section id="run">
    <h2>Run Tests:</h2>

    <details class="test" open="open">

      <summary class="header">
        <header>
          <small>#256</small>
          <h3>Another Test Case</h3>            
        </header>
        
        <div class="status">
          <button class="start">start</button>
        </div>
      </summary>
    
      <div>
        <details class="testinvalid">
          <summary>invalid test case</summary>
          <div class="invalidform">
            <textarea name="invaliddesc" placeholder="please explain why this test case is invalid."></textarea>
            <div class="form-actions">
              <button class="invalid">mark as invalid</button>
            </div>
          </div>
        </details>
      
        <ol class="steps">
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail" open="open">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail failed" open="open">
              <summary>fail</summary>
              <div class="faildesc">
                <p>Quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per. Zzril delenit augue duis dolore te feugait nulla facilisi nam liber tempor cum. Saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est notare quam littera. Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ut wisi? Illum dolore eu feugiat nulla facilisis at vero eros. Nihil imperdiet doming id quod mazim placerat facer possim assum typi non habent claritatem insitam. Lectores legere me lius quod ii legunt gothica seacula quarta decima et quinta.</p>
              </div>
            </details>
          </li>
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
        </ol>
      </div>
    </details>

    <details class="test started">

      <summary class="header">
        <header>
          <small>#256</small>
          <h3>Another Test Case</h3>            
        </header>
        
        <div class="status">
          {% spaceless %}
            <button class="pass">pass all steps</button>
          {% endspaceless %}
        </div>
      </summary>
      
      <div>
        <details class="testinvalid">
          <summary>invalid test case</summary>
          <div class="invalidform">
            <textarea name="invaliddesc" placeholder="please explain why this test case is invalid."></textarea>
            <div class="form-actions">
              <button class="invalid">mark as invalid</button>
            </div>
          </div>
        </details>

        <ol class="steps">
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
        </ol>
      </div>
    </details>

    <details class="test passed">

      <summary class="header">
        <header>
          <small>#256</small>
          <h3>Another Test Case</h3>            
        </header>
        
        <div class="status">
          <p>Passed</p>
        </div>
      </summary>
      
      <div>
        <details class="testinvalid">
          <summary>invalid test case</summary>
          <div class="invalidform">
            <textarea name="invaliddesc" placeholder="please explain why this test case is invalid."></textarea>
            <div class="form-actions">
              <button class="invalid">mark as invalid</button>
            </div>
          </div>
        </details>
      
        <ol class="steps">
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
        </ol>
      </div>
    </details>

    <details class="test invalidated">

      <summary class="header">
        <header>
          <small>#256</small>
          <h3>Another Test Case</h3>            
        </header>
        
        <div class="status">
          <p>Invalid</p>
        </div>
      </summary>
      
      <div>
        <details class="testinvalid invalidated">
          <summary>invalid test case</summary>
          <div class="invaliddesc">
            <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
          </div>
        </details>

        <ol class="steps">
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
        </ol>
      </div>
    </details>

    <details class="test failed">

      <summary class="header">
        <header>
          <small>#256</small>
          <h3>Another Test Case</h3>            
        </header>
        
        <div class="status">
          <p>Failed</p>
        </div>
      </summary>
      
      <div>
        <details class="testinvalid">
          <summary>invalid test case</summary>
          <div class="invalidform">
            <textarea name="invaliddesc" placeholder="please explain why this test case is invalid."></textarea>
            <div class="form-actions">
              <button class="invalid">mark as invalid</button>
            </div>
          </div>
        </details>

        <ol class="steps">
          <li>
            <h4>step instruction</h4>
            <div class="results">
              <p>Gothica quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta. Dolore eu feugiat, nulla facilisis at vero eros et accumsan et iusto?</p>
              <p>Nulla facilisi nam liber tempor cum soluta nobis eleifend option congue nihil. Blandit praesent luptatum zzril delenit augue duis dolore te feugait imperdiet doming id quod mazim placerat. Decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Gothica quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta. Accumsan et iusto odio dignissim qui facer possim assum typi non habent.</p>
            </div>
            <details class="stepfail">
              <summary>fail</summary>
              <div class="failform">
                <textarea name="actualResult" placeholder="please explain the actual results of this step."></textarea>
                <div class="form-actions">
                  <button class="fail">submit step failure</button>
                </div>
              </div>
            </details>
          </li>
        </ol>
      </div>
    </details>
    
  </section>
{% endblock content %}
