{% extends 'test/base.html' %}

{% load sort environment %}

{% block crumb %}
  {{ block.super }}
  <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
  <li><a href="{{ cycle.get_absolute_url }}">{{ cycle }}</a></li>
{% endblock crumb %}

{% block content %}
  <section id="testruns">
    <h2>Select a test run</h2>

    <table>
      <thead>
        <tr>
          <th class="name {{ request|sort_status:"name" }}">
            <a href="{{ request|sort_url:"name" }}" title="sort by name">name</a>
          </th>
          <th class="start {{ request|sort_status:"startDate" }}">
            <a href="{{ request|sort_url:"startDate" }}" title="sort by start date">start date</a>
          </th>
          <th class="end {{ request|sort_status:"endDate" }}">
            <a href="{{ request|sort_url:"endDate" }}" title="sort by end date">end date</a>
          </th>
          <th class="go"></th>
        </tr>
      </thead>

      <tbody>
        {% match_environment testruns request.environments as split %}
        {% for testrun in split.matched %}
        <tr>
          <td>{{ testrun.name }}</td>
          <td>{{ testrun.startDate|date:"Y/m/d" }}</td>
          <td>{{ testrun.endDate|date:"Y/m/d" }}</td>
          <td><a href="{{ testrun.get_absolute_url }}">run tests</a></td>
        </tr>
        {% endfor %}
        {% if split.unmatched %}
        <p>
          Omitting {{ split.unmatched|length }}
          test run{{ split.unmatched|length|pluralize }} incompatible with your
          current environment settings.
        </p>
        {% endif %}
      </tbody>

    </table>

  </section>
{% endblock content %}
