/* Print Defaults ------------------------------------------------------------ */
nav {
  display: none;
}

* {
  background: transparent !important;
  color: #595959 !important;
  float: none !important;
  text-shadow: none !important;
}

body {
  font-family: Cambria, Georgia, serif;
  font-size: 12px;
  line-height: 18px;
  background: white;
  color: black;
}

a:link, a:visited {
  color: #595959 !important;
}
a:not([href^="#"]):not([href="/"]):not([rel="home"]):link, a:not([href^="#"]):not([href="/"]):not([rel="home"]):visited {
  color: #333366 !important;
  text-decoration: underline;
}
a:not([href^="#"]):not([href="/"]):not([rel="home"]):after {
  content: " (" attr(href) ") ";
}

abbr:after {
  content: " (" attr(title) ")";
}

pre, blockquote, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}
