/* Sizes --------------------------------------------------------------------- */
/* */
/* norm    : 1 */
/* small   : 0.618 */
/* xsmall  : 0.382 */
/* xxsmall : 0.236 */
/* med     : 1.618 */
/* large   : 2.618 */
/* xlarge  : 4.236 */
/* */
/* normem    : 1em */
/* smallem   : 0.618em */
/* xsmallem  : 0.382em */
/* xxsmallem : 0.236em */
/* medem     : 1.618em */
/* largeem   : 2.618em */
/* xlargeem  : 4.236em */
/* */
/* normpx    : 14px */
/* smallpx   : 8.653px */
/* xsmallpx  : 5.348px */
/* xxsmallpx : 3.305px */
/* medpx     : 22.652px */
/* largepx   : 36.651px */
/* xlargepx  : 59.301px */
/* colors -------------------------------------------------------------------- */
/* */
/* light     : #ededed */
/* dark      : #454545 */
/* lighter   : #fafafa */
/* mid       : #999999 */
/* mid-light : #c3c3c3 */
/* mid-dark  : #6f6f6f */
/* */
/* blue            : #516985 */
/* blue-light      : #8695a8 */
/* blue-lighter    : #a9b2bf */
/* blue-lightest   : #cbcfd6 */
/* blue-hint       : #e8e9ec */
/* blue-dark       : #4b5765 */
/* */
/* red           : #b8282d */
/* red-light     : #e37d81 */
/* red-lighter   : #eca7a9 */
/* red-lightest  : #f5d1d2 */
/* red-dark      : #4f1114 */
/* */
/* green           : #75b828 */
/* green-light     : #b3e37d */
/* green-lighter   : #cceca7 */
/* green-lightest  : #e4f5d1 */
/* green-dark      : #4d791b */
/* */
/* yellow          : #fee58b */
/* yellow-light    : #fef0bd */
/* yellow-dark     : #fdc90d */
/* yellow-darker   : #d4a702 */
/* yellow-darkest  : #a27f02 */
/* */
/* base            : #454545 */
/* alt             : #516985 */
/* accent          : #b8282d */
@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.svg#CambridgeRound') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.woff') format('woff'), url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.svg#CambridgeRoundLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.woff') format('woff'), url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.svg#CambridgeRoundSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.svg#CambridgeRoundBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.svg#CambridgeRoundItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.svg#CambridgeRoundCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.svg#CambridgeRoundBoldCondensed') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.svg#CambridgeRoundBoldCondensed') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* !
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Aviation Partners
 * License URL: http://www.fontspring.com/fflicense/aviation-partners
 *
 *
 */
/* Print Defaults -------------------------------------------------------------- */
nav {
  display: none;
}

* {
  background: transparent !important;
  color: #444444 !important;
  float: none !important;
  text-shadow: none !important;
}

body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

a:link, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}
a:after {
  content: " (" attr(href) ") ";
  font-size: smaller;
}
a:after[href^="#"] {
  content: "";
  display: none;
}

abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

pre, blockquote, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}
