html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.svg#CambridgeRound') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.woff') format('woff'), url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.svg#CambridgeRoundLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.woff') format('woff'), url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.svg#CambridgeRoundSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.svg#CambridgeRoundBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.svg#CambridgeRoundItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.svg#CambridgeRoundCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.svg#CambridgeRoundBoldCondensed') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.svg#CambridgeRoundSemiboldCondensed') format('svg');
  font-weight: 500;
  font-style: normal;
}

.caps, .allcaps, h1, h2, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"], #page-status::before, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

.allcaps, h1, h2, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"], #page-status::before {
  text-transform: uppercase;
}

.smallcaps, h4 {
  font-variant: small-caps;
}

/* Root ---------------------------------------------------------------------- */
body {
  font-size: 87.5%;
  line-height: 1.5em;
}

html > body {
  font-size: 14px;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "CambridgeRound", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(250, 250, 250, 0.25)), color-stop(5%, rgba(250, 250, 250, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(250, 250, 250, 0.25) 5%, rgba(250, 250, 250, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(250, 250, 250, 0.25) 5%, rgba(250, 250, 250, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(250, 250, 250, 0.25) 5%, rgba(250, 250, 250, 0) 5%);
  background-image: -ms-linear-gradient(bottom, rgba(250, 250, 250, 0.25) 5%, rgba(250, 250, 250, 0) 5%);
  background-image: linear-gradient(bottom, rgba(250, 250, 250, 0.25) 5%, rgba(250, 250, 250, 0) 5%);
  -webkit-background-size: 100% 21px;
  -moz-background-size: 100% 21px;
  -o-background-size: 100% 21px;
  background-size: 100% 21px;
  background-position: left top;
  color: #454545;
}

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection {
  color: black;
  background: #516985;
  text-shadow: none;
}

::-moz-selection {
  color: black;
  background: #516985;
  text-shadow: none;
}

::selection {
  color: black;
  background: #516985;
  text-shadow: none;
}

/* Links --------------------------------------------------------------------- */
a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #516985;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #4f1114;
}

/* Headings ------------------------------------------------------------------ */
h1 {
  font-size: 1.5em;
  line-height: 2em;
}

h3 {
  font-weight: bold;
}

h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

sup, sub {
  position: relative;
  font-size: smaller;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

small {
  font-size: 0.857em;
  line-height: 1.75em;
}

q {
  font-style: italic;
}
q em {
  font-style: normal;
}

/* Block --------------------------------------------------------------------- */
p {
  margin-bottom: 1.5em;
}

pre {
  padding: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

blockquote {
  padding: 1.5em;
  font-style: italic;
}

/* Interactive --------------------------------------------------------------- */
details {
  margin-bottom: 1.5em;
}

summary {
  display: inline;
  cursor: pointer;
}
summary:focus {
  outline: thin dotted #4f1114;
}

.no-details details > * {
  display: none;
}
.no-details details summary {
  display: inline;
}

/* Replaced ------------------------------------------------------------------ */
figure img, figure object, figure embed {
  vertical-align: top;
  max-width: 100%;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* Lists --------------------------------------------------------------------- */
ol, ul, dd {
  margin-left: 1.5em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

dt {
  margin-top: 1.5em;
}

/* Tables -------------------------------------------------------------------- */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table, td, th {
  vertical-align: top;
}

th, thead th {
  font-weight: bold;
}

th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.679em;
}

tfoot {
  font-size: 1em;
  line-height: 1.5em;
}

/* Form Resets --------------------------------------------------------------- */
input[type="button"], input[type="submit"], input[type="image"], label, button {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input[type="select"], select, textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

optgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

optgroup {
  color: #454545;
  font-style: normal;
  font-weight: normal;
}

.iem7 legend {
  margin-left: -7px;
}

::-moz-focus-inner {
  border: 0;
}

/* Placeholders -------------------------------------------------------------- */
/* Basic --------------------------------------------------------------------- */
form > ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
form > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
form > ul > li {
  *zoom: 1;
}
form > ul > li:after {
  content: "";
  display: table;
  clear: both;
}

/* Text Inputs --------------------------------------------------------------- */
.textinput, textarea, select:not([multiple]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] {
  font-family: "CambridgeRound", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.304em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.25em;
  vertical-align: top;
  outline: 0;
}

.input[disabled], textarea[disabled], select[disabled] {
  background-color: #eeeeee;
  color: #6b6b6b;
}
.input:valid, textarea:valid, select:valid {
  -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
  -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
  -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
  box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
}
.input:valid:focus, textarea:valid:focus, select:valid:focus, .input:valid.hadfocus, textarea:valid.hadfocus, select:valid.hadfocus {
  -webkit-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em;
  -moz-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em;
  -o-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em;
  box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em;
}
.no-boxshadow .input:valid:focus, .no-boxshadow textarea:valid:focus, .no-boxshadow select:valid:focus, .no-boxshadow .input:valid.hadfocus, .no-boxshadow textarea:valid.hadfocus, .no-boxshadow select:valid.hadfocus {
  background-color: rgba(0, 128, 0, 0.25);
}
.input:invalid, textarea:invalid, select:invalid {
  -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
  -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
  -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
  box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em;
}
.input:invalid:focus, textarea:invalid:focus, select:invalid:focus, .input:invalid.hadfocus, textarea:invalid.hadfocus, select:invalid.hadfocus {
  -webkit-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em;
  -moz-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em;
  -o-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em;
  box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em;
}
.no-boxshadow .input:invalid:focus, .no-boxshadow textarea:invalid:focus, .no-boxshadow select:invalid:focus, .no-boxshadow .input:invalid.hadfocus, .no-boxshadow textarea:invalid.hadfocus, .no-boxshadow select:invalid.hadfocus {
  background-color: rgba(255, 0, 0, 0.25);
}
.ie7 .input, .ie7 textarea, .ie7 select {
  height: auto;
}

textarea {
  height: auto;
  min-height: 7.5em;
}
textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea.placeholder {
  color: #999999;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder {
  color: #999999;
}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="color"]:-moz-placeholder {
  color: #999999;
}
input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="tel"].placeholder, input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder, input[type="month"].placeholder, input[type="week"].placeholder, input[type="time"].placeholder, input[type="number"].placeholder, input[type="search"].placeholder, input[type="color"].placeholder {
  color: #999999;
}

/* Buttons ------------------------------------------------------------------- */
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] {
  margin: 0;
  padding: 0;
  border: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  overflow: visible;
  width: auto;
  vertical-align: baseline;
  background: none;
  color: inherit;
  font: inherit;
}
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] {
  *display: inline;
}

.button, button, input[type="reset"], input[type="submit"], input[type="button"] {
  -webkit-transition: box-shadow 300ms;
  -moz-transition: box-shadow 300ms;
  -o-transition: box-shadow 300ms;
  transition: box-shadow 300ms;
  font-size: 0.857em;
  line-height: 0.875em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background: #516985;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(237, 237, 237, 0.25)), color-stop(100%, rgba(237, 237, 237, 0))), #516985;
  background: -webkit-linear-gradient(top, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: -moz-linear-gradient(top, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: -o-linear-gradient(top, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: -ms-linear-gradient(top, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: linear-gradient(top, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  border-style: solid;
  border-width: 0.083em;
  padding: 0.354em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-shadow: white 1px 1px 0;
  border-color: #454545;
  vertical-align: top;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.button:hover, button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus {
  -webkit-box-shadow: #4f1114 0 0 0.5em;
  -moz-box-shadow: #4f1114 0 0 0.5em;
  -o-box-shadow: #4f1114 0 0 0.5em;
  box-shadow: #4f1114 0 0 0.5em;
}
.button:active, button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: #4f1114 0 0 0.25em, inset #454545 1px 1px 1px;
  -moz-box-shadow: #4f1114 0 0 0.25em, inset #454545 1px 1px 1px;
  -o-box-shadow: #4f1114 0 0 0.25em, inset #454545 1px 1px 1px;
  box-shadow: #4f1114 0 0 0.25em, inset #454545 1px 1px 1px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(237, 237, 237, 0.25)), color-stop(100%, rgba(237, 237, 237, 0))), #516985;
  background: -webkit-linear-gradient(bottom, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: -moz-linear-gradient(bottom, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: -o-linear-gradient(bottom, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: -ms-linear-gradient(bottom, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
  background: linear-gradient(bottom, rgba(237, 237, 237, 0.25), rgba(237, 237, 237, 0) 100%), #516985;
}
.button[disabled], button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] {
  color: #888888;
}

/* Form Helpers -------------------------------------------------------------- */
.errorlist {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: red;
}
.errorlist li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

body > div {
  *zoom: 1;
  margin: auto;
  width: 97em;
  max-width: 100%;
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.031%, rgba(0, 0, 0, 0)), color-stop(1.031%, rgba(203, 207, 214, 0.25)), color-stop(4.124%, rgba(203, 207, 214, 0.25)), color-stop(4.124%, rgba(0, 0, 0, 0)), color-stop(5.155%, rgba(0, 0, 0, 0)), color-stop(5.155%, rgba(203, 207, 214, 0.25)), color-stop(8.247%, rgba(203, 207, 214, 0.25)), color-stop(8.247%, rgba(0, 0, 0, 0)), color-stop(9.278%, rgba(0, 0, 0, 0)), color-stop(9.278%, rgba(203, 207, 214, 0.25)), color-stop(12.371%, rgba(203, 207, 214, 0.25)), color-stop(12.371%, rgba(0, 0, 0, 0)), color-stop(13.402%, rgba(0, 0, 0, 0)), color-stop(13.402%, rgba(203, 207, 214, 0.25)), color-stop(16.495%, rgba(203, 207, 214, 0.25)), color-stop(16.495%, rgba(0, 0, 0, 0)), color-stop(17.526%, rgba(0, 0, 0, 0)), color-stop(17.526%, rgba(203, 207, 214, 0.25)), color-stop(20.619%, rgba(203, 207, 214, 0.25)), color-stop(20.619%, rgba(0, 0, 0, 0)), color-stop(21.649%, rgba(0, 0, 0, 0)), color-stop(21.649%, rgba(203, 207, 214, 0.25)), color-stop(24.742%, rgba(203, 207, 214, 0.25)), color-stop(24.742%, rgba(0, 0, 0, 0)), color-stop(25.773%, rgba(0, 0, 0, 0)), color-stop(25.773%, rgba(203, 207, 214, 0.25)), color-stop(28.866%, rgba(203, 207, 214, 0.25)), color-stop(28.866%, rgba(0, 0, 0, 0)), color-stop(29.897%, rgba(0, 0, 0, 0)), color-stop(29.897%, rgba(203, 207, 214, 0.25)), color-stop(32.99%, rgba(203, 207, 214, 0.25)), color-stop(32.99%, rgba(0, 0, 0, 0)), color-stop(34.021%, rgba(0, 0, 0, 0)), color-stop(34.021%, rgba(203, 207, 214, 0.25)), color-stop(37.113%, rgba(203, 207, 214, 0.25)), color-stop(37.113%, rgba(0, 0, 0, 0)), color-stop(38.144%, rgba(0, 0, 0, 0)), color-stop(38.144%, rgba(203, 207, 214, 0.25)), color-stop(41.237%, rgba(203, 207, 214, 0.25)), color-stop(41.237%, rgba(0, 0, 0, 0)), color-stop(42.268%, rgba(0, 0, 0, 0)), color-stop(42.268%, rgba(203, 207, 214, 0.25)), color-stop(45.361%, rgba(203, 207, 214, 0.25)), color-stop(45.361%, rgba(0, 0, 0, 0)), color-stop(46.392%, rgba(0, 0, 0, 0)), color-stop(46.392%, rgba(203, 207, 214, 0.25)), color-stop(49.485%, rgba(203, 207, 214, 0.25)), color-stop(49.485%, rgba(0, 0, 0, 0)), color-stop(50.515%, rgba(0, 0, 0, 0)), color-stop(50.515%, rgba(203, 207, 214, 0.25)), color-stop(53.608%, rgba(203, 207, 214, 0.25)), color-stop(53.608%, rgba(0, 0, 0, 0)), color-stop(54.639%, rgba(0, 0, 0, 0)), color-stop(54.639%, rgba(203, 207, 214, 0.25)), color-stop(57.732%, rgba(203, 207, 214, 0.25)), color-stop(57.732%, rgba(0, 0, 0, 0)), color-stop(58.763%, rgba(0, 0, 0, 0)), color-stop(58.763%, rgba(203, 207, 214, 0.25)), color-stop(61.856%, rgba(203, 207, 214, 0.25)), color-stop(61.856%, rgba(0, 0, 0, 0)), color-stop(62.887%, rgba(0, 0, 0, 0)), color-stop(62.887%, rgba(203, 207, 214, 0.25)), color-stop(65.979%, rgba(203, 207, 214, 0.25)), color-stop(65.979%, rgba(0, 0, 0, 0)), color-stop(67.01%, rgba(0, 0, 0, 0)), color-stop(67.01%, rgba(203, 207, 214, 0.25)), color-stop(70.103%, rgba(203, 207, 214, 0.25)), color-stop(70.103%, rgba(0, 0, 0, 0)), color-stop(71.134%, rgba(0, 0, 0, 0)), color-stop(71.134%, rgba(203, 207, 214, 0.25)), color-stop(74.227%, rgba(203, 207, 214, 0.25)), color-stop(74.227%, rgba(0, 0, 0, 0)), color-stop(75.258%, rgba(0, 0, 0, 0)), color-stop(75.258%, rgba(203, 207, 214, 0.25)), color-stop(78.351%, rgba(203, 207, 214, 0.25)), color-stop(78.351%, rgba(0, 0, 0, 0)), color-stop(79.381%, rgba(0, 0, 0, 0)), color-stop(79.381%, rgba(203, 207, 214, 0.25)), color-stop(82.474%, rgba(203, 207, 214, 0.25)), color-stop(82.474%, rgba(0, 0, 0, 0)), color-stop(83.505%, rgba(0, 0, 0, 0)), color-stop(83.505%, rgba(203, 207, 214, 0.25)), color-stop(86.598%, rgba(203, 207, 214, 0.25)), color-stop(86.598%, rgba(0, 0, 0, 0)), color-stop(87.629%, rgba(0, 0, 0, 0)), color-stop(87.629%, rgba(203, 207, 214, 0.25)), color-stop(90.722%, rgba(203, 207, 214, 0.25)), color-stop(90.722%, rgba(0, 0, 0, 0)), color-stop(91.753%, rgba(0, 0, 0, 0)), color-stop(91.753%, rgba(203, 207, 214, 0.25)), color-stop(94.845%, rgba(203, 207, 214, 0.25)), color-stop(94.845%, rgba(0, 0, 0, 0)), color-stop(95.876%, rgba(0, 0, 0, 0)), color-stop(95.876%, rgba(203, 207, 214, 0.25)), color-stop(98.969%, rgba(203, 207, 214, 0.25)), color-stop(98.969%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(203, 207, 214, 0.25) 1.031%, rgba(203, 207, 214, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(203, 207, 214, 0.25) 5.155%, rgba(203, 207, 214, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(203, 207, 214, 0.25) 9.278%, rgba(203, 207, 214, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(203, 207, 214, 0.25) 13.402%, rgba(203, 207, 214, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(203, 207, 214, 0.25) 17.526%, rgba(203, 207, 214, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(203, 207, 214, 0.25) 21.649%, rgba(203, 207, 214, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(203, 207, 214, 0.25) 25.773%, rgba(203, 207, 214, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(203, 207, 214, 0.25) 29.897%, rgba(203, 207, 214, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(203, 207, 214, 0.25) 34.021%, rgba(203, 207, 214, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(203, 207, 214, 0.25) 38.144%, rgba(203, 207, 214, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(203, 207, 214, 0.25) 42.268%, rgba(203, 207, 214, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(203, 207, 214, 0.25) 46.392%, rgba(203, 207, 214, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(203, 207, 214, 0.25) 50.515%, rgba(203, 207, 214, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(203, 207, 214, 0.25) 54.639%, rgba(203, 207, 214, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(203, 207, 214, 0.25) 58.763%, rgba(203, 207, 214, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(203, 207, 214, 0.25) 62.887%, rgba(203, 207, 214, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(203, 207, 214, 0.25) 67.01%, rgba(203, 207, 214, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(203, 207, 214, 0.25) 71.134%, rgba(203, 207, 214, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(203, 207, 214, 0.25) 75.258%, rgba(203, 207, 214, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(203, 207, 214, 0.25) 79.381%, rgba(203, 207, 214, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(203, 207, 214, 0.25) 83.505%, rgba(203, 207, 214, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(203, 207, 214, 0.25) 87.629%, rgba(203, 207, 214, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(203, 207, 214, 0.25) 91.753%, rgba(203, 207, 214, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(203, 207, 214, 0.25) 95.876%, rgba(203, 207, 214, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(203, 207, 214, 0.25) 1.031%, rgba(203, 207, 214, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(203, 207, 214, 0.25) 5.155%, rgba(203, 207, 214, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(203, 207, 214, 0.25) 9.278%, rgba(203, 207, 214, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(203, 207, 214, 0.25) 13.402%, rgba(203, 207, 214, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(203, 207, 214, 0.25) 17.526%, rgba(203, 207, 214, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(203, 207, 214, 0.25) 21.649%, rgba(203, 207, 214, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(203, 207, 214, 0.25) 25.773%, rgba(203, 207, 214, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(203, 207, 214, 0.25) 29.897%, rgba(203, 207, 214, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(203, 207, 214, 0.25) 34.021%, rgba(203, 207, 214, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(203, 207, 214, 0.25) 38.144%, rgba(203, 207, 214, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(203, 207, 214, 0.25) 42.268%, rgba(203, 207, 214, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(203, 207, 214, 0.25) 46.392%, rgba(203, 207, 214, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(203, 207, 214, 0.25) 50.515%, rgba(203, 207, 214, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(203, 207, 214, 0.25) 54.639%, rgba(203, 207, 214, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(203, 207, 214, 0.25) 58.763%, rgba(203, 207, 214, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(203, 207, 214, 0.25) 62.887%, rgba(203, 207, 214, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(203, 207, 214, 0.25) 67.01%, rgba(203, 207, 214, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(203, 207, 214, 0.25) 71.134%, rgba(203, 207, 214, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(203, 207, 214, 0.25) 75.258%, rgba(203, 207, 214, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(203, 207, 214, 0.25) 79.381%, rgba(203, 207, 214, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(203, 207, 214, 0.25) 83.505%, rgba(203, 207, 214, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(203, 207, 214, 0.25) 87.629%, rgba(203, 207, 214, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(203, 207, 214, 0.25) 91.753%, rgba(203, 207, 214, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(203, 207, 214, 0.25) 95.876%, rgba(203, 207, 214, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(203, 207, 214, 0.25) 1.031%, rgba(203, 207, 214, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(203, 207, 214, 0.25) 5.155%, rgba(203, 207, 214, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(203, 207, 214, 0.25) 9.278%, rgba(203, 207, 214, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(203, 207, 214, 0.25) 13.402%, rgba(203, 207, 214, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(203, 207, 214, 0.25) 17.526%, rgba(203, 207, 214, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(203, 207, 214, 0.25) 21.649%, rgba(203, 207, 214, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(203, 207, 214, 0.25) 25.773%, rgba(203, 207, 214, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(203, 207, 214, 0.25) 29.897%, rgba(203, 207, 214, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(203, 207, 214, 0.25) 34.021%, rgba(203, 207, 214, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(203, 207, 214, 0.25) 38.144%, rgba(203, 207, 214, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(203, 207, 214, 0.25) 42.268%, rgba(203, 207, 214, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(203, 207, 214, 0.25) 46.392%, rgba(203, 207, 214, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(203, 207, 214, 0.25) 50.515%, rgba(203, 207, 214, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(203, 207, 214, 0.25) 54.639%, rgba(203, 207, 214, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(203, 207, 214, 0.25) 58.763%, rgba(203, 207, 214, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(203, 207, 214, 0.25) 62.887%, rgba(203, 207, 214, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(203, 207, 214, 0.25) 67.01%, rgba(203, 207, 214, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(203, 207, 214, 0.25) 71.134%, rgba(203, 207, 214, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(203, 207, 214, 0.25) 75.258%, rgba(203, 207, 214, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(203, 207, 214, 0.25) 79.381%, rgba(203, 207, 214, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(203, 207, 214, 0.25) 83.505%, rgba(203, 207, 214, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(203, 207, 214, 0.25) 87.629%, rgba(203, 207, 214, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(203, 207, 214, 0.25) 91.753%, rgba(203, 207, 214, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(203, 207, 214, 0.25) 95.876%, rgba(203, 207, 214, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(203, 207, 214, 0.25) 1.031%, rgba(203, 207, 214, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(203, 207, 214, 0.25) 5.155%, rgba(203, 207, 214, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(203, 207, 214, 0.25) 9.278%, rgba(203, 207, 214, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(203, 207, 214, 0.25) 13.402%, rgba(203, 207, 214, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(203, 207, 214, 0.25) 17.526%, rgba(203, 207, 214, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(203, 207, 214, 0.25) 21.649%, rgba(203, 207, 214, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(203, 207, 214, 0.25) 25.773%, rgba(203, 207, 214, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(203, 207, 214, 0.25) 29.897%, rgba(203, 207, 214, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(203, 207, 214, 0.25) 34.021%, rgba(203, 207, 214, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(203, 207, 214, 0.25) 38.144%, rgba(203, 207, 214, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(203, 207, 214, 0.25) 42.268%, rgba(203, 207, 214, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(203, 207, 214, 0.25) 46.392%, rgba(203, 207, 214, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(203, 207, 214, 0.25) 50.515%, rgba(203, 207, 214, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(203, 207, 214, 0.25) 54.639%, rgba(203, 207, 214, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(203, 207, 214, 0.25) 58.763%, rgba(203, 207, 214, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(203, 207, 214, 0.25) 62.887%, rgba(203, 207, 214, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(203, 207, 214, 0.25) 67.01%, rgba(203, 207, 214, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(203, 207, 214, 0.25) 71.134%, rgba(203, 207, 214, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(203, 207, 214, 0.25) 75.258%, rgba(203, 207, 214, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(203, 207, 214, 0.25) 79.381%, rgba(203, 207, 214, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(203, 207, 214, 0.25) 83.505%, rgba(203, 207, 214, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(203, 207, 214, 0.25) 87.629%, rgba(203, 207, 214, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(203, 207, 214, 0.25) 91.753%, rgba(203, 207, 214, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(203, 207, 214, 0.25) 95.876%, rgba(203, 207, 214, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 1.031%, rgba(203, 207, 214, 0.25) 1.031%, rgba(203, 207, 214, 0.25) 4.124%, rgba(0, 0, 0, 0) 4.124%, rgba(0, 0, 0, 0) 5.155%, rgba(203, 207, 214, 0.25) 5.155%, rgba(203, 207, 214, 0.25) 8.247%, rgba(0, 0, 0, 0) 8.247%, rgba(0, 0, 0, 0) 9.278%, rgba(203, 207, 214, 0.25) 9.278%, rgba(203, 207, 214, 0.25) 12.371%, rgba(0, 0, 0, 0) 12.371%, rgba(0, 0, 0, 0) 13.402%, rgba(203, 207, 214, 0.25) 13.402%, rgba(203, 207, 214, 0.25) 16.495%, rgba(0, 0, 0, 0) 16.495%, rgba(0, 0, 0, 0) 17.526%, rgba(203, 207, 214, 0.25) 17.526%, rgba(203, 207, 214, 0.25) 20.619%, rgba(0, 0, 0, 0) 20.619%, rgba(0, 0, 0, 0) 21.649%, rgba(203, 207, 214, 0.25) 21.649%, rgba(203, 207, 214, 0.25) 24.742%, rgba(0, 0, 0, 0) 24.742%, rgba(0, 0, 0, 0) 25.773%, rgba(203, 207, 214, 0.25) 25.773%, rgba(203, 207, 214, 0.25) 28.866%, rgba(0, 0, 0, 0) 28.866%, rgba(0, 0, 0, 0) 29.897%, rgba(203, 207, 214, 0.25) 29.897%, rgba(203, 207, 214, 0.25) 32.99%, rgba(0, 0, 0, 0) 32.99%, rgba(0, 0, 0, 0) 34.021%, rgba(203, 207, 214, 0.25) 34.021%, rgba(203, 207, 214, 0.25) 37.113%, rgba(0, 0, 0, 0) 37.113%, rgba(0, 0, 0, 0) 38.144%, rgba(203, 207, 214, 0.25) 38.144%, rgba(203, 207, 214, 0.25) 41.237%, rgba(0, 0, 0, 0) 41.237%, rgba(0, 0, 0, 0) 42.268%, rgba(203, 207, 214, 0.25) 42.268%, rgba(203, 207, 214, 0.25) 45.361%, rgba(0, 0, 0, 0) 45.361%, rgba(0, 0, 0, 0) 46.392%, rgba(203, 207, 214, 0.25) 46.392%, rgba(203, 207, 214, 0.25) 49.485%, rgba(0, 0, 0, 0) 49.485%, rgba(0, 0, 0, 0) 50.515%, rgba(203, 207, 214, 0.25) 50.515%, rgba(203, 207, 214, 0.25) 53.608%, rgba(0, 0, 0, 0) 53.608%, rgba(0, 0, 0, 0) 54.639%, rgba(203, 207, 214, 0.25) 54.639%, rgba(203, 207, 214, 0.25) 57.732%, rgba(0, 0, 0, 0) 57.732%, rgba(0, 0, 0, 0) 58.763%, rgba(203, 207, 214, 0.25) 58.763%, rgba(203, 207, 214, 0.25) 61.856%, rgba(0, 0, 0, 0) 61.856%, rgba(0, 0, 0, 0) 62.887%, rgba(203, 207, 214, 0.25) 62.887%, rgba(203, 207, 214, 0.25) 65.979%, rgba(0, 0, 0, 0) 65.979%, rgba(0, 0, 0, 0) 67.01%, rgba(203, 207, 214, 0.25) 67.01%, rgba(203, 207, 214, 0.25) 70.103%, rgba(0, 0, 0, 0) 70.103%, rgba(0, 0, 0, 0) 71.134%, rgba(203, 207, 214, 0.25) 71.134%, rgba(203, 207, 214, 0.25) 74.227%, rgba(0, 0, 0, 0) 74.227%, rgba(0, 0, 0, 0) 75.258%, rgba(203, 207, 214, 0.25) 75.258%, rgba(203, 207, 214, 0.25) 78.351%, rgba(0, 0, 0, 0) 78.351%, rgba(0, 0, 0, 0) 79.381%, rgba(203, 207, 214, 0.25) 79.381%, rgba(203, 207, 214, 0.25) 82.474%, rgba(0, 0, 0, 0) 82.474%, rgba(0, 0, 0, 0) 83.505%, rgba(203, 207, 214, 0.25) 83.505%, rgba(203, 207, 214, 0.25) 86.598%, rgba(0, 0, 0, 0) 86.598%, rgba(0, 0, 0, 0) 87.629%, rgba(203, 207, 214, 0.25) 87.629%, rgba(203, 207, 214, 0.25) 90.722%, rgba(0, 0, 0, 0) 90.722%, rgba(0, 0, 0, 0) 91.753%, rgba(203, 207, 214, 0.25) 91.753%, rgba(203, 207, 214, 0.25) 94.845%, rgba(0, 0, 0, 0) 94.845%, rgba(0, 0, 0, 0) 95.876%, rgba(203, 207, 214, 0.25) 95.876%, rgba(203, 207, 214, 0.25) 98.969%, rgba(0, 0, 0, 0) 98.969%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-box-shadow: #454545 0 -1.5em 1.5em;
  -moz-box-shadow: #454545 0 -1.5em 1.5em;
  -o-box-shadow: #454545 0 -1.5em 1.5em;
  box-shadow: #454545 0 -1.5em 1.5em;
  position: relative;
}
body > div:after {
  content: "";
  display: table;
  clear: both;
}

#page-status {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75em 1.5em;
  background: #ededed;
}
#page-status[title=""], #page-status h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}
#page-status p {
  margin-bottom: 0em;
}
#page-status::before {
  -moz-border-radius-topleft: 0.296em;
  -webkit-border-top-left-radius: 0.296em;
  -ms-border-top-left-radius: 0.296em;
  -o-border-top-left-radius: 0.296em;
  border-top-left-radius: 0.296em;
  font-weight: 700;
  content: url('../images/ui/warning.png?1314206098');
  display: block;
  position: absolute;
  bottom: 100%;
  right: 0;
  padding: 0.375em 0.75em;
  background: #ededed;
}
#page-status:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: auto;
}
#page-status[title*="wireframe"] {
  background: #fef0bd;
}
#page-status[title*="wireframe"]::before {
  background: #fef0bd;
}
#page-status[title*="incomplete"] {
  background: #eca7a9;
}
#page-status[title*="incomplete"]::before {
  background: #eca7a9;
}

.loading {
  position: relative;
}
.loading .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.667);
  color: rgba(69, 69, 69, 0.667);
  text-align: center;
}

.message {
  padding-left: 2.25em;
  padding-right: 0.75em;
  background: rgba(250, 250, 250, 0.667) no-repeat scroll 0.75em;
}
.message.info {
  background-image: url('../images/ui/info.png?1309045001');
  background-color: rgba(169, 178, 191, 0.444);
}
.message.success {
  background-image: url('../images/ui/check.png?1314206098');
  background-color: rgba(204, 236, 167, 0.444);
}
.message.warning {
  background-image: url('../images/ui/warning.png?1314206098');
  background-color: rgba(255, 246, 215, 0.444);
}
.message.error {
  background-image: url('../images/ui/x.png?1314206098');
  background-color: rgba(236, 167, 169, 0.444);
}

#messages ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
#messages ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
