{% extends 'manage/testcase/base.html' %}

{% block crumb %}
  {{ block.super }}
  <li><a href="/manage/testcase/add/">add test case</a></li>
{% endblock crumb %}

{% block managecontent %}
<section id="addcase">
  <h2>create a new test case</h2>
  <form method="POST">
    {% csrf_token %}
    <ul class="meta">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      <li>
        {{ form.tags.errors }}
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </li>
    </ul>

    <div class="env">
      <h3>Environment Constraints</h3>
      {{ form.env_formset.management_form }}
      <ul class="envlist">
        {% for envform in form.env_formset %}
        {% include "manage/_env_form.html" %}
        {% endfor %}
      </ul>
    </div>

    <div class="steps">
      {{ form.steps_formset.management_form }}
      {% for stepform in form.steps_formset %}
      <ol class="steplist">
        {% include "manage/testcase/_step_form.html" %}
        {% endfor %}
      </ol>
    </div>

    <div class="form-actions">
      <button type="submit">save test case</button>
    </div>

  </form>

  {% include "manage/_empty_env_form.html" %}
  {% include "manage/testcase/_empty_step_form.html" %}

</section>
{% endblock managecontent %}

{% block extrajs %}
  <script src="{{ STATIC_URL }}js/envforms.js"></script>
  <script src="{{ STATIC_URL }}js/stepforms.js"></script>
{% endblock %}
