{% extends 'manage/testcase/base.html' %}

{% block crumb %}
  {{ block.super }}
  <li><a href="/manage/testcase/add/">add test case</a></li>
{% endblock crumb %}

{% block managecontent %}
<section id="create">
  <h2>create a new test case</h2>
  <form method="POST">
    {% csrf_token %}
    <ul class="meta">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      <li>
        {{ form.tags.errors }}
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </li>
    </ul>

    <div class="env">
      <h3>Environment Constraints</h3>
      {{ form.env_formset.management_form }}
      <ul class="envlist">
        {% for envform in form.env_formset %}
        {% include "manage/testcase/_env_form.html" %}
        {% endfor %}
      </ul>
    </div>

    <div class="steps">
      {{ form.steps_formset.management_form }}
      {% for stepform in form.steps_formset %}
      <ol class="steplist">
        {% include "manage/testcase/_step_form.html" %}
        {% endfor %}
      </ol>
    </div>

    <div class="form-actions">
      <button type="submit">save test case</button>
    </div>

  </form>

  <ul id="empty-env-form" class="empty-form" style="display: none">
    {% with form.env_formset.empty_form as envform %}
    {% include "manage/testcase/_env_form.html" %}
    {% endwith %}
  </ul>

  <ul id="empty-step-form" class="empty-form" style="display: none">
    {% with form.steps_formset.empty_form as stepform %}
    {% include "manage/testcase/_step_form.html" %}
    {% endwith %}
  </ul>

</section>
{% endblock managecontent %}


{% block extrajs %}
<script type="text/javascript">
  $(function() {
    $('ol.steplist > li').formset({
      prefix: '{{ form.steps_formset.prefix }}',
      formTemplate: '#empty-step-form > li',
      formCssClass: 'steps-form',
      deleteCssClass: 'remove',
      deleteText: 'remove',
      deleteOnlyNew: true,
      addCssClass: 'add',
      addText: 'add a step »'
    });
    $('ul.envlist > li').formset({
      prefix: '{{ form.env_formset.prefix }}',
      formTemplate: '#empty-env-form > li',
      formCssClass: 'env-form',
      deleteCssClass: 'remove',
      deleteText: 'remove',
      addCssClass: 'add',
      addText: 'add a constraint »'
    });
  })
</script>

{% endblock %}
