{% extends 'manage/testcase/base.html' %}

{% block managecontent %}
<section id="managecases">
  <h2>manage test cases</h2>
  <a href="/manage/testcase/add/" class="create">create a test case</a>
  <form>
    
    <div class="bulk">
      <strong>bulk action:</strong>
      <button value="suite">create test suite</button>
    </div>

    <section class="managelist">
      <nav class="listordering">
        <ul>
          <li class="bytitle"><a href="#">title</a></li>
          <li class="byproduct"><a href="#">product</a></li>
          <li class="byversion"><a href="#">version</a></th>
        </ul>
      </nav>
      <article id="unique-slug-id01" class="draft">
        <details>
          <summary class="header">
            <p class="bulkselect">
              <input type="checkbox" name="bulk" value="" id="bulk">
              <label for="bulk">select for bulk action</label>
            </p>
            <p class="status"><button title="activate" class="draft">draft</button></p>
            <h3 class="title">Test Cycle Title</h3>
            <p class="product">Firefox</p>
            <p class="version">2.24</p>
            <div class="controls">
              <a href="/manage/testcycle/add/" title="edit">edit</a>
              <button title="clone">clone</button>
              <button title="delete">delete</button>
            </div>
          </summary>
          <div class="content">
            <p class="id">#3456</p>
            <h4 class="byline hcard">
              Created by <span class="fn">Eric Meyer</span>
              on <time pubdate>12.28.2010</time>
            </h4>
            <div class="tags">
              <h4>tags</h4>
              <ul>
                <li>tag 01</li>
                <li>tag 02</li>
                <li>tag 03</li>
                <li>tag 04</li>
              </ul>
            </div>
            <div class="environments">
              <h4>environrments</h4>
              <ul>
                <li>env 01</li>
                <li>env 02</li>
                <li>env 03</li>
                <li>env 04</li>
              </ul>
            </div>
          </div>
        </details>
      </article>
      <article id="unique-slug-id01" class="active">
        <details>
          <summary class="header">
            <p class="bulkselect">
              <input type="checkbox" name="bulk" value="" id="bulk">
              <label for="bulk">select for bulk action</label>
            </p>
            <p class="status"><button title="lock" class="active">active</button></p>
            <h3 class="title">Test Cycle Title</h3>
            <p class="product">Fennec</p>
            <p class="version">0.3</p>
            <div class="controls">
              <a href="/manage/testcycle/add/" title="edit">edit</a>
              <button title="clone">clone</button>
              <button title="delete">delete</button>
            </div>
          </summary>
          <div class="content">
            <p class="id">#3456</p>
            <div class="description">
              <h4 class="byline hcard">
                Created by <span class="fn">Eric Meyer</span>
                on <time pubdate>12.28.2010</time>
              </h4>
              
              <p>Ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem? Et quinta decima eodem modo typi qui nunc nobis videntur.</p>
            </div>
            <div class="environments">
              <h4>environrments</h4>
              <ul>
                <li>env 01</li>
                <li>env 02</li>
                <li>env 03</li>
                <li>env 04</li>
              </ul>
            </div>
            <div class="testers">
              <h4>testers</h4>
              <ul>
                <li>tester 01</li>
                <li>tester 02</li>
                <li>tester 03</li>
                <li>tester 04</li>
              </ul>
            </div>
          </div>
        </details>
      </article>
      <article id="unique-slug-id01" class="locked">
        <details>
          <summary class="header">
            <p class="bulkselect">
              <input type="checkbox" name="bulk" value="" id="bulk">
              <label for="bulk">select for bulk action</label>
            </p>
            <p class="status"><button title="activate" class="locked">locked</button></p>
            <h3 class="title">Test Cycle Title</h3>
            <p class="product">Firefox</p>
            <p class="version">4.0</p>
            <div class="controls">
              <a href="/manage/testcycle/add/" title="edit">edit</a>
              <button title="clone">clone</button>
              <button title="delete">delete</button>
            </div>
          </summary>
          <div class="content">
            <p class="id">#3456</p>
            <div class="description">
              <h4 class="byline hcard">
                Created by <span class="fn">Eric Meyer</span>
                on <time pubdate>12.28.2010</time>
              </h4>
              
              <p>Ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem? Et quinta decima eodem modo typi qui nunc nobis videntur.</p>
            </div>
            <div class="environments">
              <h4>environrments</h4>
              <ul>
                <li>env 01</li>
                <li>env 02</li>
                <li>env 03</li>
                <li>env 04</li>
              </ul>
            </div>
            <div class="testers">
              <h4>testers</h4>
              <ul>
                <li>tester 01</li>
                <li>tester 02</li>
                <li>tester 03</li>
                <li>tester 04</li>
              </ul>
            </div>
          </div>
        </details>
      </article>
    </section>
    
    <nav class="listfilter">
      <h3>Filters</h3>
      <h4>Product</h4>
      <ul>
        <li><a href="#">Firefox</a></li>
        <li><a href="#">Fennec</a></li>
      </ul>
      <h4>Status</h4>
      <ul>
        <li><a href="#">Active</a></li>
        <li><a href="#">Draft</a></li>
        <li><a href="#">Locked</a></li>
      </ul>
    </nav>
    
    <nav class="listnav">
      <p class="location">showing 21-40 of 700</p>
      <ul class="pagination">
        <li><a href="?page=3" class="prev">&laquo; previous</a> </li>
        <li><a href="?page=1" class="page">1</a></li>
        <li><span class="current page">2</span> </li>
        <li><a href="?page=3" class="page">3</a> </li>
        <li><a href="?page=3" class="next">next &raquo;</a> </li>
      </ul>
      <div class="perpage">
        <strong>cases per page:</strong>
        <ul>
          <li><a href="#">10</a></li>
          <li><span href="#" class="current">20</span></li>
          <li><a href="#">50</a></li>
          <li><a href="#">100</a></li>
        </ul>
      </div>
    </nav>

    <div class="bulk">
      <strong>bulk action:</strong>
      <button value="suite">create test suite</button>
    </div>
    
  </form>
</section>
{% endblock managecontent %}