{% extends 'manage/testcase/base.html' %}

{% load sort staticdata %}

{% block managecontent %}

<section id="managecases">
  <h2>Manage Test Cases</h2>
  <a href="{% url manage_testcase_add %}" class="create">create a test case</a>

  {% include "includes/filter.html" %}

  <form method="POST">
    {% csrf_token %}

    <section class="managelist">
      <nav class="listordering">
        <ul>
          <li class="bystatus">
            <a href="{{ request|sort_url:"status" }}" class="{{ request|sort_status:"status" }}">status</a>
          </li>
          <li class="bytitle">
            <a href="{{ request|sort_url:"name" }}" class="{{ request|sort_status:"name" }}">name</a>
          </li>
          <li class="byproduct">
            <a href="{{ request|sort_url:"product" }}" class="{{ request|sort_status:"product" }}">product</a>
          </li>
        </ul>
      </nav>

      {% for case in cases %}
      <article id="case-id-{{ case.id }}" class="item {{ case.status|status_class }}">
        <details>
          <summary class="header">
            <p class="status">
              {% if case.approval.PENDING %}
              <span class="pending">
                <button title="approve" type="submit" name="action-approve" value="{{ case.id }}">approve</button>
                <button title="reject" type="submit" name="action-reject" value="{{ case.id }}">reject</button>
              </span>
              {% endif %}
              {% if case.approval.REJECTED %}
              <button title="approve" type="submit" name="action-approve" value="{{ case.id }}" class="rejected">rejected</button>
              {% endif %}
              {% if case.approval.APPROVED %}
              {% if case.status.DRAFT %}
              <button title="activate" type="submit" name="action-activate" value="{{ case.id }}" class="draft">draft</button>
              {% endif %}
              {% if case.status.ACTIVE %}
              <button title="lock" type="submit" name="action-deactivate" value="{{ case.id }}" class="active">active</button>
              {% endif %}
              {% if case.status.LOCKED %}
              <button title="activate" type="submit" name="action-activate" value="{{ case.id }}" class="locked">locked</button>
              {% endif %}
              {% endif %}
            </p>
            <h3 class="title">{{ case.name }}</h3>
            <p class="product">{{ case.product }}</p>
            <div class="controls">
              {% if case.status.DRAFT %}
              <a href="{% url manage_testcase_edit case_id=case.id %}" title="edit">edit</a>
              <button title="delete" type="submit" name="action-delete" value="{{ case.id }}">delete</button>
              {% endif %}
            </div>
          </summary>
          <div class="content">
            <p class="id">#{{ case.testCaseId }}</p>
            <h4 class="byline hcard">
              Created by <span class="fn">{{ case.timeline.createdBy.screenName }}</span>
              on <time pubdate>{{ case.timeline.createDate|date }}</time>
            </h4>
            {% comment %} @@@
            <div class="tags">
              <h4>tags</h4>
              <ul>
                <li>tag 01</li>
                <li>tag 02</li>
                <li>tag 03</li>
                <li>tag 04</li>
              </ul>
            </div>
            {% endcomment %}
            <div class="environments">
              <h4>environments</h4>
              <ul>
                {% regroup case.environmentgroups.environments by typename as type_list %}
                {% for type in type_list %}
                <li>
                  <h5>{{ type.grouper }}</h5>
                  <ul>
                    {% for env in type.list %}
                    <li>{{ env.name }}</li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </details>
      </article>
      {% endfor %}
    </section>

    {% include "manage/_listfilter.html" with objs=cases fields="approval,status,product" %}

    {% include "manage/_listnav.html" %}

  </form>
</section>
{% endblock managecontent %}
