{% load finder %}

<li class="finderitem">
  <input type="radio"{% if active == object %} checked{% endif %} name="{{ colname }}" value="{{ object.id }}" id="finder-{{ colname }}-{{ object.id }}" data-sub-url="{{ finder.finder|child_query_url:object|default:'' }}" class="finderinput">
  <label for="finder-{{ colname }}-{{ object.id }}" class="finderselect">
    {% block columns %}{% endblock %}
  </label>
  {% block final %}
  {% with finder.finder|goto_url:object as goto_url %}
  {% if goto_url %}
  <a href="{{ goto_url }}" class="goto" title="open all the {{ object }} {{ finder.finder|sub_name:object }}">open all the {{ object }} {{ finder.finder|sub_name:object }}</a>
  {% endif %}
  {% endwith %}
  {% endblock %}
</li>
