{% load ccforms %}
<div class="formfield {% if label %}{{ label|slugify }}{% else %}{{ field|label_text|slugify }}{% endif %}-field{% if field|optional %} optional{% endif %}{% if read_only %} readonly{% endif %}{% if field.errors %} errors{% endif %}">
  {% if read_only %}
    <strong class="ro-label">{% if label %}{{ label }}{% else %}{{ field|label_text }}{% endif %}</dt>
    <span class="ro-value">{{ field|value_text }}</dd>
    {{ field.as_hidden }}
  {% else %}

    {% if field|is_checkbox %}
      {% include "forms/field/_input.html" %}
      {% include "forms/field/_label.html" %}
    {% else %}
      {% include "forms/field/_label.html" %}
      {% include "forms/field/_input.html" %}
    {% endif %}

    {{ field.errors }}

  {% endif %}
</div>
