{% load ccforms %}
<div class="formfield {% if not field.field.required %}optional{% endif %}">
  {% if field|read_only %}
    <dl class="readonly">
      <dt class="rolabel">{% if label %}{{ label }}{% else %}{{ field|label_text }}{% endif %}</dt>
      <dd class="rovalue">{{ field|value_text }}</dd>
    </dl>
    {{ field.as_hidden }}
  {% else %}
    {{ field.errors }}
    {% if label %}
    {{ field|label:label }}
    {% else %}
    {{ field|label }}
    {% endif %}
    {% if classes %}
    {{ field|classes:classes }}
    {% else %}
    {{ field }}
    {% endif %}
  {% endif %}
</div>