{% load mtforms %}
<div class="formfield {% if label %}{{ label|slugify }}{% else %}{{ field|label_text|slugify }}{% endif %}-field{% if field|optional %} optional{% endif %}{% if field|is_readonly %} readonly{% endif %}{% if field.errors %} errors{% endif %}{% if hidden %} hiddenfield{% endif %}" data-title="{{ field|label_text }}">

  {% if errorsfirst %}
    {{ field.errors }}
  {% endif %}

  {% if field|is_readonly %}
    {% include "forms/field/_readonly.html" %}
  {% else %}

    {% if field|is_checkbox %}
      {% include "forms/field/_input.html" %}
      {% include "forms/field/_label.html" %}
    {% else %}
      {% include "forms/field/_label.html" %}
      {% include "forms/field/_input.html" %}
    {% endif %}

    {% if not errorsfirst %}
      {{ field.errors }}
    {% endif %}

  {% endif %}
</div>
