{# field mockup takes 'field', 'type' [, 'label', 'classes', 'required', 'readonly', 'errors', 'suggest'] #}

<div class="formfield {{ field|slugify }}{% if readonly %} readonly{% endif %}{% if required %} optional{% endif %}{% if errors %} errors{% endif %}">
  {% if readonly %}

    <strong class="ro-label">{% if label %}{{ label }}{% else %}{{ field }}{% endif %}</strong>
    <span class="ro-value">{{ readonly }}</span>
    {# field.as_hidden #}

  {% else %}

    <label for="field-{{ field|slugify }}">{% if label %}{{ label }}{% else %}{{ field }}{% endif %}</label>

    {% if type == "select" %}
      <select id="field-{{ field|slugify }}" {% if classes %}class="{{ classes }}"{% endif %}>
        <option>option 1</option>
        <option>option 2</option>
        <option>option 3</option>
      </select>
    {% else %}
      {% if type == "textarea" %}
        <textarea id="field-{{ field|slugify }}" {% if classes %}class="{{ classes }}"{% endif %}></textarea>
      {% else %}
        <input type="{{ type }}" id="field-{{ field|slugify }}" {% if classes %}class="{{ classes }}"{% endif %} {% if suggest %}autocomplete="off" data-autocomplete-url="{{ suggest }}" data-allow-new="{# @@@ if permissions #}true{# @@@ else %}false{% endif #}"{% endif %}>
      {% endif %}
    {% endif %}

    {% if suggest %}
      <ul class="suggest"></ul>
    {% endif %}

    {% if errors %}
      <ul class="errorlist">
        <li>{{ errors }}</li>
      </ul>
    {% endif %}

  {% endif %}
</div>