{# field mockup takes 'field', 'type' [, 'label', 'classes', 'required', 'readonly', 'errors'] #}

<div class="formfield {{ field|slugify }}-field{% if readonly %} readonly{% endif %}{% if required %} optional{% endif %}{% if errors %} errors{% endif %}">
  {% if readonly %}

    <strong class="ro-label">{% if label %}{{ label }}{% else %}{{ field }}{% endif %}</strong>
    <span class="ro-value">{{ readonly }}</span>
    {# field.as_hidden #}

  {% else %}

    {% if type != "checkbox" %}
      <label for="id_{{ field|slugify }}">{% if label %}{{ label }}{% else %}{{ field }}{% endif %}</label>
    {% endif %}

    {% if type == "select" %}
      <select id="id_{{ field|slugify }}" {% if classes %}class="{{ classes }}"{% endif %}>
        <option>option 1</option>
        <option>option 2</option>
        <option>option 3</option>
      </select>
    {% else %}
      {% if type == "textarea" %}
        <textarea id="id_{{ field|slugify }}" {% if classes %}class="{{ classes }}"{% endif %}></textarea>
      {% else %}
        <input type="{{ type }}" id="id_{{ field|slugify }}" {% if classes %}class="{{ classes }}"{% endif %}>
      {% endif %}
    {% endif %}

    {% if suggest %}
      <ul class="suggest"></ul>
    {% endif %}

    {% if errors %}
      <ul class="errorlist">
        <li>{{ errors }}</li>
      </ul>
    {% endif %}

    {% if type == "checkbox" %}
      <label for="id_{{ field|slugify }}">{% if label %}{{ label }}{% else %}{{ field }}{% endif %}</label>
    {% endif %}

  {% endif %}
</div>
