<!DOCTYPE html>
<!--[if lte IE 8 ]><html class="no-js ie" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
{% load compress %}
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

  <!-- Page Info -->
  {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
  <meta name="description" content="{% block description %}each page should have a short description{% endblock description %}" />
  <meta name="author" content="Mozilla" />
  <meta name="keywords" content="keywords" />
  <meta name="language" content="en-us" />
  <title>Mozilla TCM</title>

  <!-- Microformat Profiles -->
  <!-- hCard, hCalendar, rel-license, rel-tag, XOXO, XFN, VoteLinks -->
  <link rel="profile" href="https://microformats.org/profile/specs/" />
  <!-- hAtom -->
  <link rel="profile" href="https://microformats.org/profile/hatom/" />

	<!-- favicon.ico and apple-touch-icon.png -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />

  <!-- Styles -->
  <!--[if !IE 6]><!-->
  {% block styles %}
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen, projection" />
  {% endcompress %}
  {% endblock styles %}
  <!--<![endif]-->
  <!--[if IE 6]>
  <link href="https://universal-ie6-css.googlecode.com/files/ie6.1.0.css" media="screen, projection" />
  <![endif]-->

  <!-- Other Media -->
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print" />
  {% endcompress %}

  <!-- Modernizr -->
  {% compress js %}
  <script src="{{ STATIC_URL }}js/modernizr.js"></script>
  <script src="{{ STATIC_URL }}js/elem-details.js"></script>
  {% endcompress %}

  <!-- Page-Specific Head -->
  {% block extrahead %}{% endblock %}
</head>

<body id="client-url" class="{% block bodyclasses %}{% endblock %}">

{% block body %}
  {% block site %}
  {% endblock site %}

  <aside id="page-status" title="{% block page-status %}{% endblock page-status %}">
    <h2>Page Status</h2>
    {% block page-notes %}
    {% endblock page-notes %}
  </aside>
{% endblock body %}

<!-- JavaScript -->
{% compress js %}
<script src="{{ STATIC_URL }}js/jquery-1.5.2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script src="{{ STATIC_URL }}js/jquery.scrollTo.js"></script>
<script src="{{ STATIC_URL }}js/jquery.sorter.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ba-dotimeout.js"></script>
<script src="{{ STATIC_URL }}js/jquery.html5accordion.js"></script>
<script src="{{ STATIC_URL }}js/jquery.html5finder.js"></script>
<script src="{{ STATIC_URL }}js/jquery.text-overflow.js"></script>
<script src="{{ STATIC_URL }}js/ajax_csrf.js"></script>
<script src="{{ STATIC_URL }}js/ajax_error.js"></script>
<script src="{{ STATIC_URL }}js/local.js"></script>
<script src="{{ STATIC_URL }}js/runtests.js"></script>
<script src="{{ STATIC_URL }}js/envconstraints.js"></script>
{% endcompress %}

{% block last %}
{% endblock %}

{% block extrajs %}
{% endblock %}

</body>
</html>
