{% extends 'manage/product/testsuite/base.html' %}

{% block page-notes %}
<p>Missing new environment constraints UI.</p>
<p>"Add test cases" has a richer UI on the way, with search, ordering, etc.</p>
{% endblock %}

{% block listcontent %}
<section id="addsuite">
  <h2>{% block formtitle %}{% endblock %}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="basic">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      <li>
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </li>
    </ul>

    <section class="caseselect">
      <h3>add test cases to your test suite</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {{ form.cases.errors }}
        {{ form.cases.label_tag }}
        {{ form.cases }}
      </div>
    </section>

    <div class="form-actions">
      <button type="submit">save test suite</button>
    </div>

  </form>

</section>
{% endblock listcontent %}
