{% extends "manage/product/testcase/_case_form_single_versioned_fields.html" %}

{% load ccforms %}

{% block basicform %}
  <a href="{% url manage_narrow_environments object_type='testcase' object_id=case.id %}" class="select-env-link">select environments</a>

  <ul class="basic">
    {% comment %}
    <li class="suite-field">
      <label for="suite-bulk">Suite</label>
      <input type="text" name="suite-bulk" value="" id="suite-bulk" placeholder="begin typing the name of a suite">
      {# @@@ this should be an autocomplete field #}
    </li>
    {% endcomment %}
    <li>
      {% include "forms/_field.html" with field=form.description %}
    </li>
  </ul>
{% endblock basicform %}

{% block versionactions %}
  {{ form.increment|classes:"increment-select warning" }}
{% endblock versionactions %}
