  <div class="versioned">
    {% block basicform %}
      <ul class="basic">
        <li>
          {% include "forms/_field.html" with field=form.product %}
        </li>
        {% comment %}
        <li class="suite-field">
          <label for="suite-bulk">Suite</label>
          <input type="text" name="suite-bulk" value="" id="suite-bulk" placeholder="begin typing the name of a suite">
          {# @@@ this should be an autocomplete field #}
        </li>
        {% endcomment %}
        <li>
          {% include "forms/_field.html" with field=form.name %}
        </li>
        <li>
          {% include "forms/_field.html" with field=form.description %}
        </li>
      </ul>
    {% endblock basicform %}

    {% block attachments-tags %}
      {% include "manage/product/testcase/_tagging.html" with formtype="single" %}
      {% include "manage/product/_attachments.html" %}
    {% endblock attachments-tags %}

    <div class="steps">
      {{ form.steps_formset.management_form }}
      <ol class="steplist">
        {% for form in form.steps_formset %}
        {% include "manage/product/testcase/_step_form.html" %}
        {% endfor %}
      </ol>
    </div>

    <div class="form-actions">
      {% block versionactions %}{% endblock versionactions %}
      <button type="submit" name="single-save" value="1">save test case</button>
    </div>
  </div>
