  <div class="versioned">
    {% block basicform %}
      <ul class="basic">
        <li>
          {% include "forms/_field.html" with field=form.product %}
        </li>
        <li>
          {% include "forms/_field.html" with field=form.suite %}
        </li>
        <li>
          {% include "forms/_field.html" with field=form.name %}
        </li>
        <li>
          {% include "forms/_field.html" with field=form.description %}
        </li>
      </ul>
    {% endblock basicform %}

      {% include "manage/product/testcase/_tagging.html" with formtype="single" %}
      {% include "manage/product/_attachments.html" with obj=case %}

    <div class="steps">
      {{ form.steps_formset.management_form }}
      <ol class="steplist" data-prefix="{{ form.steps_formset.prefix }}">
        {% for form in form.steps_formset %}
        {% include "manage/product/testcase/_step_form.html" %}
        {% endfor %}
      </ol>
    </div>

    <div class="form-actions">
      {% block versionactions %}{% endblock versionactions %}
      <button type="submit" name="single-save" value="1">save test case</button>
    </div>
  </div>
