{% load sort staticdata permissions %}

<div class="managelist action-ajax-replace">
  <nav class="listordering">
    <h3 class="navhead">List Ordering</h3>
    <ul>
      <li class="bystatus">
        <a href="{{ sort|url:"status" }}" class="{{ sort|dir:"status" }}">status</a>
      </li>
      <li class="bytitle">
        <a href="{{ sort|url:"name" }}" class="{{ sort|dir:"name" }}">name</a>
      </li>
      <li class="byproduct">
        <a href="{{ sort|url:"product" }}" class="{{ sort|dir:"product" }}">product</a>
      </li>
      <li class="bycontrols">
        <span>controls</span>
      </li>
    </ul>
  </nav>

  <div class="items">
    {% if cases %}
      {% for case in cases %}
      <article id="case-id-{{ case.id }}" class="details item {{ case.status|status_class }}" data-details-url="{% url manage_testcase_details case.id %}">
        <header class="summary">
          <p class="status">
            {% if "PERMISSION_TEST_CASE_ACTIVATE" in request.user.permissionCodes %}
              {% if case.approval.PENDING %}
              <span class="pending">
                <button title="approve" type="submit" name="action-approve" value="{{ case.id }}">approve</button>
                <button title="reject" type="submit" name="action-reject" value="{{ case.id }}">reject</button>
              </span>
              {% endif %}
              {% if case.approval.REJECTED %}
              <button title="approve" type="submit" name="action-approve" value="{{ case.id }}" class="rejected">rejected</button>
              {% endif %}
              {% if case.approval.APPROVED %}
              {% if case.status.DRAFT %}
              <button title="activate" type="submit" name="action-activate" value="{{ case.id }}" class="draft">draft</button>
              {% endif %}
              {% if case.status.ACTIVE %}
              <button title="disable" type="submit" name="action-deactivate" value="{{ case.id }}" class="active">active</button>
              {% endif %}
              {% if case.status.LOCKED %}
              <button title="activate" type="submit" name="action-activate" value="{{ case.id }}" class="locked">disabled</button>
              {% endif %}
              {% endif %}
            {% else %}
              {% if case.status.DRAFT %}
              <span class="draft">draft</span>
              {% endif %}
              {% if case.status.ACTIVE %}
              <span class="active">active</span>
              {% endif %}
              {% if case.status.LOCKED %}
              <span class="locked">disabled</span>
              {% endif %}
            {% endif %}
          </p>
          <h3 class="title" title="{{ case.name }}">{{ case.name }}</h3>
          <p class="product">{{ case.product }}</p>
          <div class="controls">
            {% if request.user|can_edit_case:case %}
            <a href="{% url manage_testcase_edit case_id=case.id %}" title="edit">edit</a>
            {% if case.status.DRAFT %}
            <a href="{% url manage_narrow_environments object_type='testcase' object_id=case.id %}" title="select environments" class="target">select environments</a>
            {% endif %}
            {% endif %}
            {% if "PERMISSION_TEST_CASE_ADD" in request.user.permissionCodes %}
            <button title="clone" type="submit" name="action-clone" value="{{ case.testCaseId }}">clone</button>
            {% endif %}
            {% if request.user|can_edit_case:case and case.status.DRAFT %}
            <button title="delete" type="submit" name="action-delete" value="{{ case.testCaseId }}">delete</button>
            {% endif %}
          </div>
        </header>
        <div class="content">
          {# _case_details.html loaded via ajax #}
        </div>
      </article>
      {% endfor %}
    {% else %}
      <p class="empty">There are currently no items in this list...</p>
    {% endif %}
  </div>

  {% include "lists/_listnav.html" %}
</div>
