{% extends 'manage/product/testcase/_case_form_single.html' %}

{% block versionform %}
  <div class="versioning">
    <ul class="basic">
      <li>
        {% include "forms/_field.html" with field=form.product %}
      </li>
      <li>
        {% include "forms/_field.html" with field=form.name %}
      </li>
    </ul>

    <div class="version-select">
      {% include "forms/_field.html" with field=form.version label="Edit Version" %}
      <div class="form-actions">
        <button type="submit" name="version-change" value="1">switch version</button>
      </div>
    </div>
  </div>
{% endblock versionform %}

{% block mainform %}
  {% include "manage/product/testcase/_case_form_edit_versioned_fields.html" %}
{% endblock mainform %}
