<ol class="steps">
  {% for step in case.steps %}
  <li>
    <p class="instruction">{{ step.instruction }}</p>
    <p class="outcome">{{ step.expectedResult }}</p>
  </li>
  {% endfor %}
</ol>

<p class="byline hcard">
  Created by <span class="fn">{{ case.timeline.createdBy.screenName }}</span>
  on <time pubdate>{{ case.timeline.createDate|date }}</time>
</p>

{% if case.attachments or case.relatedbugs %}
  <aside class="associated">
    <h4>attached files and bugs</h4>
    {% if case.attachments %}
      <ul class="files-list">
        {% for attachment in case.attachments %}
        <li class="file"><a href="{{ attachment.url }}">{{ attachment.description }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if case.relatedbugs %}
      <ul class="bugs-list">
        {% for bug in case.relatedbugs %}
        <li class="bugurl"><a href="{{ bug.url }}">{{ bug.url }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </aside>
{% endif %}

<div class="envgroups">
  {% include "lists/_environments.html" with environments=case.environmentgroups.environments %}
</div>
