<form id="bulk-case-form" method="POST" action="#bulk">
  {% csrf_token %}
  {{ bulk_form.non_field_errors }}
  <ul class="basic">
    <li class="product-field">
      {% include "forms/_field.html" with field=bulk_form.product %}
    </li>
    {% comment %}
    <li class="suite-field">
      <label for="suite-bulk">Suite</label>
      <input type="text" name="suite-bulk" value="" id="suite-bulk" placeholder="begin typing the name of a suite">
      {# @@@ this should be an autocomplete field #}
    </li>
    {% endcomment %}
  </ul>
  <div class="bulk-field">
    {% include "forms/_field.html" with field=bulk_form.cases %}
    <div class="fieldhelp">
      <section class="keywords">
        <h3>Keyword Instructions</h3>
        <ul>
          <li>The first line must begin with "Test that ", and becomes the name of the new test case.</li>
          <li>There must be at least one description line following that, possibly more. These descriptions may be in any format; there are no required keywords.</li>
          <li>Following the description line(s) there must be a line beginning with "When ". This marks the beginning of a step instruction.</li>
          <li>Additional lines can follow that are also part of the instruction, until a line beginning with "Then ", which marks the beginning of the expected result of that step.</li>
          <li>Any following lines are also part of that expected result, until either another "When " line (marking the start of the instruction for the next step), or another "Test that " line (marking the beginning of a new test case).</li>
          <li>The start-of-instruction for any step after the first may optionally use "And when " rather than just "When ". Alternatively, "And" may be used on a line by itself between steps, in which case it will be ignored.</li>
          <li>White space at the beginning or end of lines is ignored, and all keywords are case-insensitive.</li>
        </ul>
      </section>
      {% comment %}
      <section class="markdown">
        <h3>Markdown Instructions</h3>
        <p>how to use markdown.</p>
      </section>
      {% endcomment %}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" name="bulk-save" value="1">save test cases</button>
  </div>
</form>
