{% extends 'manage/product/testcase/_case_form_single.html' %}

{% block versionform %}
  <div class="versioning">
    <ul class="basic">
      <li>
        {% include "forms/_field.html" with field=form.product %}
      </li>
      <li>
        {% include "forms/_field.html" with field=form.name %}
      </li>
    </ul>

    <div class="version-select details">
      <p class="summary">Edit <strong>v1 (latest)</strong> <em>or select a different version &raquo;</em></p>
      <div class="content">
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="01" check="checked" %}
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="02" %}
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="03" %}
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="04" %}
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="05" %}
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="06" %}
        {% include "manage/product/testcase/_case_form_version_list_item.html" with id="07" %}
      </div>
    </div>
  </div>
{% endblock versionform %}

{% block mainform %}
  {% include "manage/product/testcase/_case_form_edit_versioned_fields.html" %}
{% endblock mainform %}
