<ol class="steps">
  {% for step in case.steps %}
  <li>
    <p class="instruction">{{ step.instruction }}</p>
    <p class="outcome">{{ step.expectedResult }}</p>
  </li>
  {% endfor %}
</ol>

<p class="byline hcard">
  Created by <span class="fn">{{ case.timeline.createdBy.screenName }}</span>
  on <time pubdate>{{ case.timeline.createDate|date }}</time>
</p>

<aside class="files">
  <h4>attached files</h4>
  <ul class="files-list">
    {% for attachment in case.attachments %}
    <li class="file"><a href="{{ attachment.url }}">{{ attachment.description }}</a></li>
    {% endfor %}
  </ul>
</aside>

<div class="envgroups">
  {% include "lists/_environments.html" with environments=case.environmentgroups.environments %}
</div>
