<article id="version-id-{{ id }}" class="version">
  <input type="radio" name="version" value="" id="version-{{ id }}" class="select" {{ check }}>
  <label for="version-{{ id }}" class="body">
    <header class="versioninfo">
      <h3><time datetime="" class="updated" pubdate updated>09/24/2011</time></h3>
      <p class="info">v{{ id }} <em>by user name</em></p>
    </header>
    <div class="runs">
      <ol class="runlist">
        <li>
          <p class="run">Run Names Can Sometimes Get Very Very Long</p>
          <p class="cycle">Cycle Names Can Also Be Fairly Long</p>
        </li>
      {% if runs != "less" %}
        <li>
          <p class="run">Run Names Can Sometimes Get Very Very Long</p>
          <p class="cycle">Cycle Names Can Also Be Fairly Long</p>
        </li>
      {% endif %}
      {% if runs == "more" %}
        <li>
          <p class="run">Run Names Can Sometimes Get Very Very Long</p>
          <p class="cycle">Cycle Names Can Also Be Fairly Long</p>
        </li>
        <li>
          <p class="run">Run Names Can Sometimes Get Very Very Long</p>
          <p class="cycle">Cycle Names Can Also Be Fairly Long</p>
        </li>
      {% endif %}
      </ol>
      {% if runs == "more" %}
        <span class="moreruns">more runs &raquo;</span>
      {% endif %}
    </div>
  </label>
</article>
