<div class="tagging">
  <div class="textual">
    <label for="text-tag">tags</label>
    <input type="text" name="text-tag" value="" id="text-tag" placeholder="tag this test case.">
    <ul class="suggest">
      {# icanhaz "filter_suggestion" #}
      {# icanhaz "keyword_filter_suggestion" #}
    </ul>
  </div>

  <ul class="visual">
    {% include "manage/product/testcase/_tag_visual.html" with name="tag" counter="1" selected="true" %}
    {% include "manage/product/testcase/_tag_visual.html" with name="tag" counter="2" selected="true"  %}
    {% include "manage/product/testcase/_tag_visual.html" with name="tag" counter="3" selected="true"  %}
    {% include "manage/product/testcase/_tag_visual.html" with name="tag" counter="4" selected="true"  %}
    {% include "manage/product/testcase/_tag_visual.html" with name="tag" counter="5" selected="true"  %}
  </ul>

  {% comment %} @@@
    {% include "forms/_field.html" with field=single_form.tags %}
  {% endcomment %}
</div>
