<div class="tagging">
  <div class="textual">
    <label for="{{ formtype }}-text-tag">tags</label>
    <input type="text" name="text-tag" value="" id="{{ formtype }}-text-tag" placeholder="tag {% if formtype == 'single' %}this test case{% else %}these test cases{% endif %}." autocomplete="off" data-autocomplete-url="{% url manage_tags_autocomplete %}">
    <ul class="suggest">
    </ul>
  </div>

  <div class="visual">
    <p class="taglabel">tags:</p>
    <ul class="taglist">
    {% if case and case.tags %}
      {% for tag in case.tags %}
        {% include "manage/product/testcase/_tag_visual.html" %}
      {% endfor %}
    {% else %}
      <li class="none">none.</li>
    {% endif %}
    </ul>
  </div>

</div>
