<div class="tagging">
  <div class="textual">
    <label for="{{ formtype }}-text-tag">tags</label>
    <input type="text" name="text-tag" value="" id="{{ formtype }}-text-tag" placeholder="tag this test case." autocomplete="off" data-autocomplete-url="{% url manage_tags_autocomplete %}">
    <ul class="suggest">
    </ul>
  </div>

  <ul class="visual">
    {% if case %}
    {% for tag in case.tags %}
    {% include "manage/product/testcase/_tag_visual.html" %}
    {% endfor %}
    {% endif %}
  </ul>

</div>
