{% extends 'manage/product/testcase/base.html' %}

{% load permissions %}

{% block content %}

<section id="managecases" class="manage listpage">
  <h2>Manage Test Cases</h2>

  {% if user|has_perm:"library.create_cases" %}
  <div class="create">
    <a href="{% url manage_case_add %}" class="single">create a single case (form)</a>
    <a href="{% url manage_case_add_bulk %}" class="bulk">create bulk cases (text)</a>
  </div>
  {% endif %}

  {% include "lists/_filter.html" %}
  {% include "manage/product/testcase/list/_cases_list.html" %}

</section>
{% endblock content %}
