{% load execution urls %}

{% with runcaseversion.caseversion as caseversion %}
{% result_for runcaseversion user environment as result %}

<article id="test-id-{{ runcaseversion.id }}" class="listitem action-ajax-replace {{ result.status }}">

  <div class="itemhead">
    <div class="results">
      <span class="result {{ result.status }}">{{ result.status }}</span>
    </div>

    <div class="name">
      <h3 class="title" title="{{ caseversion.name }}">{{ caseversion.name }}</h3>

      {% if result.status == result.STATUS.invalidated %}
        <p class="invalid-note">{{ result.comment }}</p>
      {% endif %}

      {% if result.status == result.STATUS.failed %}
        <p class="failed-note">{{ result.comment }}</p>
        {% if result.bug_urls %}
          <ul class="buglist">
            {% for bug in result.bug_urls %}
              <li class="bugurl">
                {% include "bugs/bug.html" %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

    </div>
  </div>

  {% include "runtests/list/_runtest_details.html" %}

</article>

{% endwith %}
