{% load execution urls %}

{% with runcaseversion.caseversion as caseversion %}
{% result_for runcaseversion user environment as result %}

<article id="test-id-{{ runcaseversion.id }}" class="listitem {{ result.status }}" data-title="{{ caseversion.name }}">

  <div class="itemhead">
    <div class="results">
      <span class="result {{ result.status }}">
        {% if result.status == result.STATUS.assigned or result.status == result.STATUS.started %}
          pending
        {% else %}
          {{ result.status }}
        {% endif %}
      </span>
    </div>

    {% if result.status == result.STATUS.passed or result.status == result.STATUS.invalidated or result.status == result.STATUS.failed %}
      <form method="post" id="restart-form-{{ runcaseversion.id }}" class="restart">
        {% csrf_token %}
        <button class="action-restart" value="{{ runcaseversion.id }}" name="action-restart" title="restart '{{ caseversion.name }}'">restart</button>
      </form>
    {% endif %}

    <div class="name">
      <h3 class="title" title="{{ caseversion.name }}">{{ caseversion.name }}</h3>

      {% if result.status == result.STATUS.invalidated %}
        <p class="invalid-note">{{ result.comment }}</p>
      {% endif %}
      {% if result.status == result.STATUS.failed %}
        <p class="failed-note">{{ result.comment }}</p>
      {% endif %}

      {% with caseversion.tags.all as tags %}
      {% if tags %}
      <ul class="tags">
        {% for tag in tags %}
        <li><a href="#{{ tag|slugify }}" title="filter by {{ tag }}" class="filter-link tag" data-type="tag">{{ tag }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% if result.status == result.STATUS.failed %}
        {% if result.bug_urls %}
          <ul class="buglist">
            {% for bug in result.bug_urls %}
              <li class="bugurl">
                {% include "bugs/bug.html" %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

    </div>

    <div class="suites">
      {% with runcaseversion.suites.all as suites %}
      {% if suites %}
      <ul>
        {% for suite in suites %}
        <li><a href="" title="filter by {{ suite }}" class="filter-link suite" data-type="suite">{{ suite }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div>

  {% include "runtests/list/_runtest_details.html" %}

</article>

{% endwith %}
