//**
//  Susy: Un-obtrusive grids for designers
//  By: Eric A. Meyer and OddBird
//  Site: www.oddbird.net/susy/
//**

// Font Sizes --------------------------------------------------------------

$base-font-size: 16px
$base-line-height: 24px

// Grid --------------------------------------------------------------

$total-cols: 24
$col-width: 2.5em
$gutter-width: 1em
$side-gutter-width: $gutter-width

// Don't move this @import above the GRID and FONT-SIZE variables.
@import susy/susy

// Colors --------------------------------------------------------------

$light: #eee
$dark: #444
$mid: mix($light,$dark)

$blue: #5d7b7a
$blue-light: #8bb9b7
$blue-lighter: mix($blue-light,#eee,66%)
$blue-lightest: mix($blue-light,#eee,33%)
$blue-dark: #2e3e3d

$red: #b9292f
$red-light: lighten($red,25)
$red-lighter: lighten($red,35)
$red-dark: darken($red,25)

$green: #77b929
$green-light: lighten($green,25)
$green-lighter: lighten($green,35)
$green-dark: darken($green,25)

$yellow: #fee58c
$yellow-light: lighten($yellow,10)
$yellow-dark: darken($yellow,25)
$yellow-darker: darken($yellow,35)

$base: $dark
$alt: $blue
$accent: $red

// Fonts --------------------------------------------------------------

=sans-family
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

=serif-family
  font-family: Cambria, Georgia, serif

=monospace-family
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif

// OTHER MIXINS --------------------------------------------------------------
// Mixins set here will be available in defaults, screen, print and IE
// Or anywhere you import either base.sass or defaults.sass

=hpadding($l:$gutter-width,$r:$l)
  padding:
    left: $l
    right: $r
