// Imports -------------------------------------------------------------------

@import compass
@import compass/layout
@import susy

// Support -------------------------------------------------------------------

$legacy-support-for-ie6 : false
$legacy-support-for-ie7 : false

// Grid Backgrounds ----------------------------------------------------------

$grid-background-baseline-color : rgba(0,0,0,.125)
$grid-background-column-color   : rgba(120, 120, 225, 0.125)
$grid-background-gutter-color   : rgba(0, 0, 0, 0)

$show-column-grid-backgrounds   : true
$show-baseline-grid-backgrounds : false
$show-grid-backgrounds          : false

// Font Sizes ----------------------------------------------------------------

$base-font-size: 14px
$base-line-height: 21px

// Grid ----------------------------------------------------------------------

$total-cols: 24
$col-width: 2.5em
$gutter-width: 1em
$side-gutter-width: $gutter-width

// Colors --------------------------------------------------------------------

$light: #eee
$dark: #444
$mid: mix($light,$dark)
$mid-light: mix($light,$dark,75%)
$mid-dark: mix($light,$dark,25%)

$blue: #5d7b7a
$blue-light: #8bb9b7
$blue-lighter: mix($blue-light,#eee,66%)
$blue-lightest: mix($blue-light,#eee,33%)
$blue-hint: lighten($blue-lightest,10)
$blue-dark: #2e3e3d

$red: #b9292f
$red-light: lighten($red,25)
$red-lighter: lighten($red,35)
$red-lightest: lighten($red,45)
$red-dark: darken($red,25)

$green: #77b929
$green-light: lighten($green,25)
$green-lighter: lighten($green,35)
$green-lightest: lighten($green,45)
$green-dark: darken($green,15)

$yellow: #fee58c
$yellow-light: lighten($yellow,10)
$yellow-dark: darken($yellow,25)
$yellow-darker: darken($yellow,35)

$base: $dark
$alt: $blue
$accent: $red

// Fonts ---------------------------------------------------------------------

=sans-family
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

=serif-family
  font-family: Cambria, Georgia, serif

=monospace-family
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif

// MIXINS --------------------------------------------------------------------

=hpadding($l:$gutter-width,$r:$l)
  padding:
    left: $l
    right: $r

=gone
  position: absolute
  clip: rect(0 0 0 0)
  overflow: hidden
  margin: -1px
  padding: 0
  height: 1px
  width: 1px
  border: 0
