// Sizes --------------------------------------------------------------------

$ratio      : 1.618

$norm       : 1
$med        : $ratio
$small      : $norm/$ratio
$xsmall     : $small/$ratio
$xxsmall    : $xsmall/$ratio
$xxxsmall   : $xxsmall/$ratio
$large      : $med*$ratio
$xlarge     : $large*$ratio
$xxlarge    : $xlarge*$ratio

$normem       : 1em
$medem        : $normem*$ratio
$smallem      : $normem/$ratio
$xsmallem     : $smallem/$ratio
$xxsmallem    : $xsmallem/$ratio
$xxxsmallem   : $xxsmallem/$ratio
$largeem      : $medem*$ratio
$xlargeem     : $largeem*$ratio
$xxlargeem    : $xlargeem*$ratio

$normpx       : 14px
$medpx        : $normpx*$ratio
$smallpx      : $normpx/$ratio
$xsmallpx     : $smallpx/$ratio
$xxsmallpx    : $xsmallpx/$ratio
$xxxsmallpx   : $xxsmallpx/$ratio
$largepx      : $medpx*$ratio
$xlargepx     : $largepx*$ratio
$xxlargepx    : $xlargepx*$ratio

$base-font-size: $normpx
$base-line-height: $medpx

// Imports -------------------------------------------------------------------

@import compass
@import compass/layout
@import susy
//@import comments

// Support -------------------------------------------------------------------

$legacy-support-for-ie6 : false
$legacy-support-for-ie7 : false

// Grid Backgrounds ----------------------------------------------------------

$grid-background-baseline-color : rgba(0,0,0,.25)
$grid-background-column-color   : rgba(120, 120, 225, 0.125)
$grid-background-gutter-color   : rgba(0, 0, 0, 0)

$show-column-grid-backgrounds   : true
$show-baseline-grid-backgrounds : true
$show-grid-backgrounds          : false

// Grid ----------------------------------------------------------------------

$total-cols: 24
$col-width: 3em
$gutter-width: 1em
$side-gutter-width: $gutter-width

// Colors --------------------------------------------------------------------

$light: #eee
$dark: #444
$lighter: lighten($light,5)
$mid: mix($light,$dark)
$mid-light: mix($light,$dark,75%)
$mid-dark: mix($light,$dark,25%)

$blue: saturate(#5d7b7a,10)
$blue-light: mix($blue,$light,66%)
$blue-lighter: mix($blue-light,$light,66%)
$blue-lightest: mix($blue-light,$light,33%)
$blue-hint: lighten($blue-lightest,10)
$blue-dark: mix($blue,$dark)
$blue-darker: mix($blue-dark,$dark)

$red: #b9292f
$red-light: lighten($red,25)
$red-lighter: lighten($red,35)
$red-lightest: lighten($red,45)
$red-dark: darken($red,25)

$green: #77b929
$green-light: lighten($green,25)
$green-lighter: lighten($green,35)
$green-lightest: lighten($green,45)
$green-dark: darken($green,15)

$yellow: #fee58c
$yellow-light: lighten($yellow,10)
$yellow-dark: darken($yellow,25)
$yellow-darker: darken($yellow,35)
$yellow-darkest: darken($yellow,45)

$base: $dark
$alt: $blue
$accent: $red-dark

// Fonts ---------------------------------------------------------------------
/* !
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Aviation Partners
 * License URL: http://www.fontspring.com/fflicense/aviation-partners
 *
 *
 */

+font-face('CambridgeRoundRegular', font-files('cambridgeround_regular_macroman/cambridge_round-webfont.woff',woff,'cambridgeround_regular_macroman/cambridge_round-webfont.ttf',truetype,'cambridgeround_regular_macroman/cambridge_round-webfont.svg#CambridgeRound',svg))
+font-face('CambridgeRoundLight', font-files('cambridgeround_light_macroman/cambridge_round_light-webfont.woff',woff,'cambridgeround_light_macroman/cambridge_round_light-webfont.ttf',truetype,'cambridgeround_light_macroman/cambridge_round_light-webfont.svg#CambridgeRoundLight',svg))
+font-face('CambridgeRoundDemi', font-files('cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.woff',woff,'cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.ttf',truetype,'cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.svg#CambridgeRoundSemibold',svg))
+font-face('CambridgeRoundBold', font-files('cambridgeround_bold_macroman/cambridge_round_bold-webfont.woff',woff,'cambridgeround_bold_macroman/cambridge_round_bold-webfont.ttf',truetype,'cambridgeround_bold_macroman/cambridge_round_bold-webfont.svg#CambridgeRoundBold',svg))
+font-face('CambridgeRoundItalic', font-files('cambridgeround_italic_macroman/cambridge_round_it-webfont.woff',woff,'cambridgeround_italic_macroman/cambridge_round_it-webfont.ttf',truetype,'cambridgeround_italic_macroman/cambridge_round_it-webfont.svg#CambridgeRoundItalic',svg))
+font-face('CambridgeRoundCond', font-files('cambridgeround_condensed_macroman/cambridge_round_cond-webfont.woff',woff,'cambridgeround_condensed_macroman/cambridge_round_cond-webfont.ttf',truetype,'cambridgeround_condensed_macroman/cambridge_round_cond-webfont.svg#CambridgeRoundCondensed',svg))
+font-face('CambridgeRoundBoldCond', font-files('cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.woff',woff,'cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.ttf',truetype,'cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.svg#CambridgeRoundBoldCondensed',svg))

$sans-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif

=sans-family
  font-family: "CambridgeRoundRegular", $sans-fallback

=light
  font-family: "CambridgeRoundLight", $sans-fallback

=bold
  font-family: "CambridgeRoundBold", $sans-fallback

=boldcond
  font-family: "CambridgeRoundBoldCond", $sans-fallback

=demi
  font-family: "CambridgeRoundDemi", $sans-fallback

=italic
  font-family: "CambridgeRoundItalic", $sans-fallback

=condensed
  font-family: "CambridgeRoundCond", $sans-fallback

=serif-family
  font-family: Cambria, Georgia, serif

=monospace-family
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif

// Defaults ------------------------------------------------------------------

$default-border-radius  : $xxsmallem

// Mixins --------------------------------------------------------------------

=hpadding($l:$gutter-width,$r:$l)
  padding:
    left: $l
    right: $r

=gone
  position: absolute
  clip: rect(0 0 0 0)
  overflow: hidden
  margin: -1px
  padding: 0
  height: 1px
  width: 1px
  border: 0

=inlay
  +border-radius
  +box-shadow(rgba($blue-hint,.75) 0 -1px 1px 1px inset, rgba($blue-dark,.5) 0 1px 1px 1px inset)