// Imports -------------------------------------------------------------------
// @import lightbox
// @import slideshow

@import modernizr_mixins


/* Helpers -------------------------------------------------------------------

.full
  +full
  +pie-clearfix
  

/* left and right floats for dynamic content */
.left
  +float(left)
  margin:
    right: 1em
    bottom: 0.5em

.right
  +float(right)
  margin:
    left: 1em
    bottom: 0.5em


/* Wireframe -----------------------------------------------------------------

body > div
  +container

header[role="banner"]
  @extend .full
  +padding-leader(1)

  h1
    margin: 0

div[role="main"]
  @extend .full
  +pie-clearfix
  +h-borders(1px,1,$base-font-size,dotted)

footer[role="contentinfo"]
  @extend .full
  +adjust-font-size-to(12px)
  +trailer(1,12px)
  font-style: italic
  .author, .credit
    +columns(6, 12)
  .street-address
    display: inline
    &:after
      content: ", "
  .credit
    +omega(12)
    text-align: right
  small
    font-size: 1em

a
  text-decoration: none


// Media Queries ---------------------------------------------------------------

  /* Smartphones (portrait and landscape) --------------------------------------
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    /* Styles


  /* Smartphones (landscape) ---------------------------------------------------
  @media only screen and (min-width : 321px)
    /* Styles


  /* Smartphones (portrait) ----------------------------------------------------
  @media only screen and (max-width : 320px)
    /* Styles


  /* iPads (portrait and landscape) --------------------------------------------
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
    /* Styles


  /* iPads (landscape) ---------------------------------------------------------
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
    /* Styles


  /* iPads (portrait) ----------------------------------------------------------
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    /* Styles


  /* Desktops and laptops ------------------------------------------------------
  @media only screen and (min-width : 1224px)
    /* Styles


  /* Large screens -------------------------------------------------------------
  @media only screen and (min-width : 1824px)
    /* Styles


  /* iPhone 4 ------------------------------------------------------------------
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
    /* Styles
