// Imports -------------------------------------------------------------------


/* Helpers -------------------------------------------------------------------

.full
  +full
  +pie-clearfix
  
.simple
  +full(24)
  +pad(6,6,24)

/* left and right floats for dynamic content */
.left
  +float(left)
  margin:
    right: 1em
    bottom: 0.5em

.right
  +float(right)
  margin:
    left: 1em
    bottom: 0.5em

.no-details 
  details
    > *
      display: none
    summary
      display: block

.tdlink
  padding: 0
  border: 0
  a
    #{$link}
      display: block
      padding: $base-rhythm-unit * 0.25
      border-bottom: 1px solid #ccc

.controls
  text-align: right
  thead &
    +hide
  a
    #{$link}
      +inline-block
      +icon('[title="edit"]','ui/pencil.png')
      +opacity(.5)
    #{$focus}
      +opacity(1)
  button
    +button-reset
    +icon('[title="clone"]','ui/clone.png')
    +icon('[title="delete"]','ui/trash.png')

@-webkit-keyframes loadingbackground
  0%
    background-position: left
  100%
    background-position: right

=loading-animation
  position: relative
  +background-image(linear-gradient(left, rgba($light,.5), rgba($light,0), rgba($light,.5)))
  background:
    size: $base-rhythm-unit*2 100%
    repeat: repeat
  -webkit-animation: loadingbackground 15s linear infinite

.loading
  +loading-animation
  +text-shadow($base 0 0 6px !important)
  > *
    +opacity(.5)
  &::before
    @extend .allcaps
    +text-shadow(rgba($base,.675) 1px 1px 0)
    display: block
    position: absolute
    content: "loading..."
    color: rgba($light,.85)
    background-color: rgba($base,.5)
    font-weight: bold
    text-align: center
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 50
    