//** SCREEN STYLES **//

// Settings --------------------------------------------------------------*/

$legacy-support-for-ie6 : false

// Imports --------------------------------------------------------------*/

@import defaults
@import template

/* Layout --------------------------------------------------------------

+susy

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
.container
  +container
  //+show-grid("grid.png")
  min-width: 750px

body > div
  @extend .container
  +padding-leader(.25)

header[role="banner"]
  @extend .full
  +trailing-border(1px,.5)
  border-color: #ccc

  h1
    +columns(3,24)
    +trailer(0)
    a
      #{$link}
        +padding-leader(.5,21px)
        display: block
        color: $base
      #{$focus}
        color: $accent
      
nav[role="navigation"]
  +columns(12,24)
  +padding-leader(.5)
  +text-shadow(rgba(white,.5) 1px 1px 0)
  li
    +float(left)
    margin-right: .5em
  a
    &:not([href])
      +opacity(.5)
      color: inherit
      cursor: default    
    &, #{$link}
      +padding-leader(.25)
      +padding-trailer(.25)
      +hpadding(1em)
      +border-radius(.25em)
    #{$focus}, &.active
      background: rgba($base,.25)

nav.meta
  +columns(9,24)
  +omega(24)
  +padding-leader(.5)
  text-align: right
  li
    +inline-block
    +adjust-font-size-to(14px)
    padding: 0 .5em
    border-right: 1px solid
    vertical-align: baseline
    &:last-child
      border: 0
      padding-right: 0

nav.crumb
  +columns(18)
  +alpha
  +padding-leader(.25)
  +padding-trailer(.25)
  clear: both
  border-color: #ccc
  li
    +inline-block
    vertical-align: baseline
    &::after
      content: " »"
    &:last-child
      &::after
        content: ""
      a
        +no-style-link

div[role="main"]
  @extend .full
  +pie-clearfix
  +h-borders(1px,1)
  border-color: #ccc
  position: relative

#messages
  @extend .sans
  +full(24)
  +border-radius(.5em)
  +rhythm-borders(1px,.5)
  +trailer()
  +text-shadow(#efe 1px 1px 0)
  background: #cfc
  color: #666
  font-weight: bold
  ul
    +no-style-list
  li
    + li
      +leader(.5)

footer[role="contentinfo"]
  @extend .full
  +adjust-font-size-to(12px)
  +trailer(1,12px)
  font-style: italic
  .author, .credit
    +columns(6, 12)
  .adr
    display: inline
    &::before
      content: "| "
  .credit
    +omega(12)
    text-align: right
  small
    font-size: 1em

/* login --------------------------------------------------------------    

#login, #register
  +side-errors(6,12)

#login
  @extend .simple
  label
    +hide
    position: absolute
  .logo
    +full(12)
    +pad(3,3,12)
    +trailer
  h2
    margin: 0
  form
    +full(12)

/* register --------------------------------------------------------------    

#register
  @extend .simple
  li
    +pie-clearfix
  label
    +columns(4,12)
  input
    +columns(8,12)
    +omega(12)

/* products --------------------------------------------------------------    

#products
  @extend .simple
  .list
    +no-style-list
    li
      +trailer(.5)
      +columns(4,12)
      a
        +rhythm-borders(1px,.5)
        display: block
        background: #efe
      &:nth-child(3n)
        +omega(12)
      &:first-child:last-child
        +un-column
        +full(12)
      &:first-child
        &:nth-last-child(2), &:nth-last-child(4), &:nth-last-child(7)
          &, & ~ li
            +columns(6,12)
            &:nth-child(3n)
              +float(left)
              margin-right: gutter(12)
            &:nth-child(2n)
              +omega(12)
      &:first-child
        &:nth-last-child(3n), &:nth-last-child(5n)
          &, & ~ li
            +columns(4,12)
            &:nth-child(3n)
              +omega(12)

/* environment --------------------------------------------------------------    

.environment
  position: relative
  summary
    +columns(6)
    +omega
    +padding-leader(.25)
    +padding-trailer(.25)
    text-align: right
    color: $alt
    &:hover
      color: $accent
  form
    @extend .full
    +prefix(12)
    +leading-border(1px)
    +trailer(.5)
    border-color: #ccc
  +inline-form(4,8,12)

#environment
  @extend .simple
  +inline-form(4,8,12)

/* cycles + testruns --------------------------------------------------------------    

#cycles, #testruns
  .date
    width: columns(4,24)
  .start, .end
    width: columns(3,24)
    
  td:first-child
    padding: 0
    border: 0
    a
      #{$link}
        display: block
        padding: $base-rhythm-unit * 0.5
        border-color: #ccc
        +trailing-border(1px,.5)
  
  .note
    +leader(-.5)
    +trailer(1.5)
    text-align: right
    font-style: italic
        
/* create tests --------------------------------------------------------------    

.remove
  +replace-text("http://dummyimage.com/16/933/fff&text=X")
  display: block
  height: $base-rhythm-unit

.add
  display: block
  text-align: right

#create
  li
    +pie-clearfix
  .form-actions
    +leader
  
  .meta
    +columns(12,24)
    +inline-form(2,10,12)
  
  .env
    +columns(12,24)
    +omega(24)
    ul
      +no-style-list
    select
      +columns(5,12)
      + select
        +columns(6,12)
    .remove
      +columns(1,12)
      +omega(12)
    .add
      margin-right: columns(1,12) + gutter(12)
  
  .steps
    +full(24)
    counter-reset: step
    .remove
      +columns(1,24)
      +omega(24)
      +leader
    .add
      margin-right: columns(1,24) + gutter(24)
    li
      position: relative
      counter-increment: step
      &::before
        +adjust-font-size-to(48px)
        content: counter(step, decimal) "."
        position: absolute
        left: 0
        top: 1.5em
      &:last-child::before
        content: ""
    textarea
      min-height: $base-rhythm-unit*6
  .step
    +columns(10,24)
    margin-left: columns(2,24) + gutter(24)
  .result
    +columns(11,24)
    

/* run tests --------------------------------------------------------------    

#run
  .test, .content
    +full(24)
  .test
    +pie-clearfix      
    &[open], &.open, .header
      +trailing-border(1px,.5)
    &[open], &.open
      .header
        border-bottom-color: #ccc
    &:first-of-type
      &, &[open], &.open
        padding-top: 0
        .header
          +leading-border(1px,.5)
  .header
    +pie-clearfix
    +padding-leader(.5)
    p
      +padding-leader(.25)
      +padding-trailer(.25)
      margin: 0
  header
    +columns(20,24)
    +leader(.25)
    +trailer(.25)
    h3
      +columns(14,20)
      +adjust-font-size-to(24px)
      margin: 0
      font-weight: normal
    small
      +columns(2,20)
      +adjust-font-size-to(14px)
      vertical-align: top
      font-weight: bold
      text-align: right

  .status
    +columns(4,24)
    +omega(24)
    text-align: center
    p
      @extend .allcaps
      +border-radius(1em)
      margin: 0 gutter(4)
      color: $light
      font-weight: bold
    button
      width: 100% - gutter(4)*2
      margin: 0 gutter(4)

  .steps
    +pad(2,4,24)
    +padding-leader
    clear: both
    margin: 0
    counter-reset: step
    > li
      +pie-clearfix
      +trailer
      position: relative
      padding: $base-rhythm-unit*.5
        bottom: 0
      background: $light
      list-style: none
      counter-increment: step
      &::before
        +adjust-font-size-to(48px)
        content: counter(step, decimal) "."
        position: absolute
        right: 100% + gutter(18)
        top: 0
    h4
      +trailer(0)

  .stepfail
    +full(18)
    position: relative
    margin: 0 0 - $base-rhythm-unit*.5
    border-top: $base-rhythm-unit solid $yellow-light
    summary
      @extend .allcaps
      +transition(all,300ms)
      position: absolute
      top: - $base-rhythm-unit
      right: 0
      padding: 0 gutter(18)
      width: columns(2,18)
      background: $red-light
      color: $light
      text-align: center
      &:hover
        background: $red
    &[open], &.open, &.failed
      summary
        width: 100%
        padding: 0
        background: $red
        
  .failform, .invalidform
    textarea
      min-height: $base-rhythm-unit*6
  .failform, .faildesc
    padding: $base-rhythm-unit*.5
    background: $red-lightest
  .invalidform, .invaliddesc
    +float('left')
    +padding-leader
    +hpadding(gutter(24))
    +border-bottom-radius(1em)
    width: columns(18,24) - gutter(24)*2
    margin-left: columns(2,24) + gutter(24)
    background: $yellow
    
  .testinvalid
    position: relative
    summary
      @extend .smallcaps
      +text-shadow(rgba($yellow-light,.75) 1px 1px 0)
      +border-bottom-radius(1em)
      position: absolute
      top: 0
      right: 0
      width: columns(4,24) - gutter(24)*2
      padding: $base-rhythm-unit*.5 gutter(24)
      background: $yellow-light
      text-align: center
      &:hover
        background: $yellow
    &[open], &.open, &.invalidated
      summary
        background: $yellow

  .start, .pass, .fail
    +hpadding(1em)
  .start
    @extend .bluebutton
  .invalid
    @extend .yellowbutton
  .fail
    @extend .redbutton
  .invalid, .fail
    +trailer
    width: columns(4,18)
  
  .started
    .header
      background: $blue-lighter
  .passed
    .header
      background: $green-lighter
    .status
      p
        +text-shadow(rgba($green-dark,.75) 1px 1px 0)
        background: $green image-url('ui/accept.png') no-repeat scroll gutter(4)
  .invalidated
    .header
      background: $yellow-light
    .status
      p
        +text-shadow(rgba($red,.75) 1px 1px 0)
        background: $yellow-darker image-url('ui/error.png') no-repeat scroll gutter(4)
  .failed
    .header
      background: $red-lighter
    .status
      p
        +text-shadow(rgba($red-dark,.75) 1px 1px 0)
        background: $red image-url('ui/delete.png') no-repeat scroll gutter(4)
