//** SCREEN STYLES **//

// Settings --------------------------------------------------------------*/

$legacy-support-for-ie6 : false

// Imports --------------------------------------------------------------*/

@import defaults
@import template

/* Layout --------------------------------------------------------------

+susy

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
.container
  +container
  //+show-grid("grid.png")
  min-width: 750px

body > div
  @extend .container
  +padding-leader(.25)

header[role="banner"]
  +columns(3)
  +alpha
  h1
    margin: 0
  a
    #{$link}
      +padding-leader(.5,21px)
      +padding-trailer(.5,21px)
      display: block
      color: $base
    #{$focus}
      color: $accent
      
nav[role="navigation"]
  +columns(12)
  +padding-leader(.5)
  li
    +float(left)
    margin-right: .5em
  a
    #{$link}
      +padding-leader(.25)
      +padding-trailer(.25)
      +hpadding(1em)
      +border-radius(.25em)
    #{$focus}, &.active
      background: rgba($base,.25)

nav.meta
  +columns(9)
  +omega
  +padding-leader(.5)
  text-align: right
  li
    +inline-block
    +adjust-font-size-to(14px)
    padding: 0 .5em
    border-right: 1px solid
    vertical-align: baseline
    &:last-child
      border: 0

nav.crumb
  @extend .full
  +leading-border(1px,.25)
  +padding-trailer(.25)
  border-color: #ccc
  li
    +inline-block
    vertical-align: baseline
    &::after
      content: " »"
    &:last-child
      &::after
        content: ""
      a
        +no-style-link

div[role="main"]
  @extend .full
  +pie-clearfix
  +h-borders(1px,1)
  border-color: #ccc

footer[role="contentinfo"]
  @extend .full
  +adjust-font-size-to(12px)
  +trailer(1,12px)
  font-style: italic
  .author, .credit
    +columns(6, 12)
  .adr
    display: inline
    &::before
      content: "| "
  .credit
    +omega(12)
    text-align: right
  small
    font-size: 1em

/* login --------------------------------------------------------------    

#login
  @extend .simple
  label
    +hide
    position: absolute
  .logo
    +full(12)
    +pad(3,3,12)
    +trailer
  h2
    margin: 0
  form
    +full(12)

/* register --------------------------------------------------------------    

#register
  @extend .simple
  li
    +pie-clearfix
  label
    +columns(4,12)
  input
    +columns(8,12)
    +omega(12)
    position: relative
    top: - $base-line-height/14px*.25em

/* products --------------------------------------------------------------    

#products
  @extend .simple

/* environment --------------------------------------------------------------    

.environment
  position: relative
  summary
    position: absolute
    top: - $base-rhythm-unit*2
    right: 0
    color: $alt
    &:hover
      color: $accent
  form
    +full(24)
    +prefix(12,24)
    +trailing-border(1px,1)
    +trailer
  li
    +pie-clearfix
  label
    +columns(4,12)
  select
    +columns(8,12)
    +omega(12)
    
    
#environment
  @extend .simple
  li
    +pie-clearfix
  label
    +columns(4,12)
  select
    +columns(8,12)
    +omega(12)

/* cycles --------------------------------------------------------------    

#cycles
  .date
    width: columns(4,24)
  .start, .end
    width: columns(3,24)
  .go
    width: columns(4,24)
  th
    a
      #{$link}
        display: block
        position: relative
      #{$focus}
        &::after
          content: "»"
          position: absolute
          right: 0
  td:last-child
    text-align: right
    a
      @extend .button
      +opacity(0)
      text-transform: lowercase
      font-variant: small-caps
      white-space: nowrap
  tr:hover
    td:last-child
      a
        +opacity(1)

/* run tests --------------------------------------------------------------    

#run
  .test, summary, .content
    +full(24)
  .test
    +pie-clearfix
    +trailing-border(1px,.5)
    +trailer(.5)
    &:last-child
      margin: 0
      padding: 0
      border: 0
  .started
    summary
      background: #eef
  summary
    +pie-clearfix
  header
    +columns(20,24)
  h3
    +adjust-font-size-to(24px)
    margin: 0
    font-weight: normal
    b
      +adjust-font-size-to(14px,1,24px)
      +inline-block
      width: columns(2,20)
      margin-right: gutter(20)
      vertical-align: top
      font-weight: bold
      text-align: right
  .suite
    +prefix(2,20)
    margin: 0
  .status
    +adjust-font-size-to(14px)
    +columns(4,24)
    +omega(24)
    +leader(.25,14px)
    text-align: center
    button
      +rhythm-borders(1px,.25,14px)
  .content
    +pad(2,4,24)
    +leader
  h4
    margin: 0
  .start
    +box-sizing('border-box')
    width: 100%
  .invalid
    background: #ffe
    #{$focus}
      background: #ffb
  .fail
    background: #fcc
    #{$focus}
      background: #fbb  