<form method="POST" id="single-case-form">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <ul class="basic">
    <li>
      {% include "forms/_field.html" with field=form.product %}
    </li>
    <li class="suite-field">
      <label for="suite-bulk">Suite</label>
      <input type="text" name="suite-bulk" value="" id="suite-bulk" placeholder="begin typing the name of a suite">
      {# @@@ this should be an autocomplete field #}
    </li>
    <li>
      {% include "forms/_field.html" with field=form.name %}
    </li>
    {% block caseversions %}{% endblock caseversions %}
    {% comment %} @@@
    <li>
      {% include "forms/_field.html" with field=form.tags %}
    </li>
    {% endcomment %}
  </ul>

  <div class="steps">
    {{ form.steps_formset.management_form }}
    <ol class="steplist">
      {% for form in form.steps_formset %}
      {% include "manage/product/testcase/_step_form.html" %}
      {% endfor %}
    </ol>
  </div>

  <div class="form-actions">
    {% block versionactions %}{% endblock versionactions %}
    <button type="submit">save test case</button>
  </div>

</form>