{% extends 'manage/product/testcase/base.html' %}

{% block listcontent %}
<section id="addcase">
  <h2>{% block formtitle %}{% endblock %}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="basic">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      {% comment %} @@@
      <li>
        {{ form.tags.errors }}
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </li>
      {% endcomment %}
    </ul>

    <div class="steps">
      {{ form.steps_formset.management_form }}
      <ol class="steplist">
        {% for form in form.steps_formset %}
        {% include "manage/product/testcase/_step_form.html" %}
        {% endfor %}
      </ol>
    </div>

    <div class="form-actions">
      <button type="submit">save test case</button>
    </div>

  </form>
</section>
{% endblock listcontent %}

{% block extrajs %}
<script>
  $(
      function() {
          $('ol.steplist').formset(
              {
                  prefix: '{{ form.steps_formset.prefix }}',
                  formTemplate: '#empty-step-form > li',
                  formSelector: '.steps-form',
                  deleteLink: '<a class="removefields" href="javascript:void(0)">remove</a>',
                  addLink: '<a class="addfields" href="javascript:void(0)">add a step »</a>',
              });
          // can't remove the first step
          $('ol.steplist .removefields').eq(0).remove();
      });

</script>
{% endblock %}

{% block last %}
<div style="display: none;">
  <ul id="empty-step-form" class="empty-form">
    {% include "manage/product/testcase/_step_form.html" with form=form.steps_formset.empty_form %}
  </ul>
</div>
{% endblock %}
