{% extends 'manage/product/testcase/base.html' %}

{% block page-notes %}
<p>Missing new environment constraints UI.</p>
{% endblock %}

{% block listcontent %}
<section id="addcase">
  <h2>{% block formtitle %}{% endblock formtitle %}</h2>

  {% block caseforms %}
    {% include "manage/product/testcase/_case_form_edit.html" %}
  {% endblock caseforms %}

</section>
{% endblock listcontent %}

{% block extrajs %}
<script>
  $(
      function() {
          $('ol.steplist').formset(
              {
                  prefix: '{{ form.steps_formset.prefix }}',
                  formTemplate: '#empty-step-form > li',
                  formSelector: '.steps-form',
                  deleteLink: '<a class="removefields" href="javascript:void(0)">remove</a>',
                  addAnimationSpeed: 'normal',
                  removeAnimationSpeed: 'fast',
                  autoAdd: true,
                  deleteOnlyNew: true
              });
      });

</script>
{% endblock %}

{% block last %}
<div style="display: none;">
  <ul id="empty-step-form" class="empty-form">
    {% include "manage/product/testcase/_step_form.html" with form=form.steps_formset.empty_form %}
  </ul>
</div>
{% endblock %}
