<details class="apicall {% if cachekey %}cached{% endif %}">
  <summary>
    <div class="wrap">
      <time>{{ time }}</time>
      <span class="method">{{ method }}</span>
      <span class="uri" title="{{ uri }}">{{ uri }}</span>
      <span class="status_code">{{ status_code }}</span>
      <span class="status">{{ status }}</span>
    </div>
  </summary>
  {% if cachekey %}
  <p class="cachekey">{{ cachekey }}</p>
  {% endif %}
  <details class="request">
    <summary>Request</summary>
    <details class="headers">
      <summary>Headers</summary>
      <dl>
        {% for header, value in request_headers.iteritems %}
        <dt>{{ header }}</dt><dd>{{ value }}</dd>
        {% endfor %}
      </dl>
    </details>
    {% if request_body %}
    <pre>{{ request_body }}</pre>
    {% endif %}
  </details>
  <details class="response">
    <summary>Response</summary>
    <details class="headers">
      <summary>Headers</summary>
      <dl>
        {% for header, value in response_headers.iteritems %}
        <dt>{{ header }}</dt><dd>{{ value }}</dd>
        {% endfor %}
      </dl>
    </details>
    {% if response_body %}
    <pre>{{ response_body }}</pre>
    {% endif %}
  </details>
</details>
