// ---------------------------------------------------------------------------
// Controls General

.controls
  display: inline

.action
  +reset-box-model
  +opacity($xxsmall)
  margin-right: rhythm(.125)
  display: inline-block
  vertical-align: baseline
  background: none
  #{$focus}
    +opacity(1)

.actionbutton
  @extend .action

.actionlink
  @extend .action

// ---------------------------------------------------------------------------
// Action Details

=action-button($img)
  @extend .actionbutton
  +icon($img,$small:true)
  #{$focus}
    background-image: image-url($img)

=action-link($img)
  @extend .actionlink
  +icon($img,$small:true)

.edit-link
  +action-link('ui/pencil.png')

[name="action-clone"]
  +action-button('ui/clone.png')

[name="action-delete"]
  +action-button('ui/x.png')
