.listitem
  +pie-clearfix
  +padding-leader(.25)
  +trailing-border(1px,.25)
  +background-image(linear-gradient(top, rgba($lightest,$small), rgba($mid,$xxxsmall)))
  position: relative
  padding-left: rhythm(1)
  background-color: rgba($blue-hint,$small)
  border-color: rgba($blue-dark,$xxsmall)
  &:hover
    background-image: none

.itemhead
  +clearfix

.itembody
  .summary
    +opacity(.5)
    +icon('ui/angle_right.png')
    +padding-leader(.25)
    +padding-trailer(.25)
    position: absolute
    top: 0
    left: 0
    width: rhythm(1)
    #{$focus}
      +opacity(1)

  &.open
    .summary
      +opacity(1)
      +icon('ui/angle_down.png')