// Adds sorting direction indicators to <a> elements.
//
// focus  - Display the direction to be sorted on-click.
// .asc   - Icon indicates sort in ascending order.
// .desc  - Icon indicates sort in descending order.
.sortlink
  #{$link}
    &::after
      +replace-text-with-dimensions('ui/angle_up.png')
      display: inline-block
      content: " "
      margin-left: .4em
      background-image: none
      vertical-align: baseline
  #{$focus}
    &::after
      +opacity(.5)
      background-image: image-url('ui/angle_up.png')

  &.asc
    #{$link}
      &::after
        background-image: image-url('ui/angle_up.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_down.png')

  &.desc
    #{$link}
      &::after
        background-image: image-url('ui/angle_down.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_up.png')

// Create a list-ordering navigation bar.

.listordering
  +clearfix
  padding: rhythm(.25) 0
  background: rgba($blue-lighter,$small)

.sortitem
  +columns(2,24)
  +trailer(0)
  +demi
  +cond
  white-space: nowrap
  text-transform: capitalize
  letter-spacing: 0