.bystatus
  position: relative
  a
    #{$link}
      +icon('ui/power.png')
      display: block
    #{$focus}
      +opacity(.5)
      +icon('ui/angle_up.png')

    &.asc
      #{$link}
        +icon('ui/angle_up.png')
      #{$focus}
        +icon('ui/angle_down.png')

    &.desc
      #{$link}
        +icon('ui/angle_down.png')
      #{$focus}
        +icon('ui/angle_up.png')

.bystatus
  width: rhythm(1)
  margin:
    left: rhythm(-1.5)
    right: 0

=status($color,$icon)
  &.status-readonly, .status-title
    +icon($icon,$color)
  &.status-action
    +button-style($color,$icon)

.status
  position: absolute
  width: rhythm(1)
  margin:
    top: rhythm(.25)
    left: rhythm(1)
    right: rhythm(.5)

  .status-readonly
    +box-shadow(rgba($base,$small) 0 0 $xxsmallpx inset)
  .status-readonly, .status-select
    display: inline-block
  .status-select
    position: relative

  .status-title
    +box-sizing(border-box)
    +border-radius
    width: rhythm(1)
    height: rhythm(1)
    border: 1px solid rgba($blue-darker,$small)

  .status-options
    +leader(.25)
    +border-radius
    +box-shadow($lightest 0 0 rhythm(.25))
    position: absolute
    top: 100%
    left: rhythm(-.25)
    width: columns(5,1)
    padding: rhythm(.5)
    background: rgba(0,0,0,.75)
    z-index: 900
    &::after
      +rotate(135deg)
      +background(linear-gradient(45deg, rgba(0,0,0,.75), rgba(0,0,0,.75) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)))
      content: ' '
      display: block
      position: absolute
      top: rhythm(-.25)
      width: rhythm(.5)
      height: rhythm(.5)

  .status-action
    +trailer(.25)
    display: block
    width: 100%
    text-align: left
    &:last-child
      +trailer(0)

  .draft
    +status($blue-lightest,'ui/draft.png')

  .active
    +status($green-lighter,'ui/power.png')

  .disabled
    +status($yellow-light,'ui/lock.png')

