{% load pagination %}

<form method="POST" id="manage-products-form" class="itemlist action-ajax-replace">
  {% csrf_token %}

  {% include "manage/product/list/_products_listordering.html" %}

  {% paginate products as pager %}
  {% if pager.objects %}
    {% for product in pager.objects %}
      {% include "manage/product/list/_product_list_item.html" %}
    {% endfor %}
  {% else %}
    {% include "lists/_emptylist.html" %}
  {% endif %}

  {% include "lists/_listnav.html" with pager=pager %}

</form>
