{% extends 'base_site.html' %}

{% block title %}Register as an Open Web App{% endblock %}

{% block content %}
<script type="text/javascript" src="view-source:https://myapps.mozillalabs.com/jsapi/include.js"></script>
<script>
        function installCallback(result) {
            // great - display a message, or redirect to a launch page
            var msg = "Successfully registered!";
            ich.message({message: msg, tags: "success"}).appendTo($("#messages ul"));
            $("#messages").messages();
        }

        function errorCallback(result) {
            // whoops - result.code and result.message have details
            var msg = "Unable to register due to " + result.code + ": " + result.message;
            ich.message({message: msg, tags: "error"}).appendTo($("#messages ul"));
            $("#messages").messages();
        }

        function register() {
            navigator.mozApps.install(
                "{{ manifest_url }}",
                {},
                installCallback,
                errorCallback
            );
        }
</script>

  <h2>Register Case Conductor as an Open Web Application.</h2>
  <button id="reg_button" onClick="register();">Register Me</button>

{% endblock %}

