<div class="content">
  <p class="name">
    {{ category.name }}
    <button name="action-edit" value="category-{{ category.id }}">edit</button>
  </p>
  <ul class="elements">

    {% for element in category.environments %}
    <li>
      <div class="element-select">
        <input type="checkbox" name="element" value="{{ element.id }}" id="element-{{ element.id }}">
        <label for="element-{{ element.id }}">{{ element.name }}</label>
      </div>
      <div class="element-controls">
        <button name="action-edit" value="element-{{ element.id }}">edit</button>
        <button name="action-delete" value="element-{{ element.id }}">delete</button>
      </div>
    </li>
    {% endfor %}

    <li class="add-element edit">
      <label for="{{ category.id }}-add-element">add element</label>
      <input type="text" name="{{ category.id }}-add-element" value="" id="{{ category.id }}-add-element" placeholder="add an element">
    </li>
  </ul>
</div>
