<div class="content">
  {% if new %}
    <p class="name edit">
      <label for="edit_name">give your new category a name</label>
      <input type="text" name="edit_name" value="" id="edit_name" placeholder="new category name">
    </p>
  {% else %}
    <p class="name">
      {{ category }}
      <button name="action-edit">edit</button>
    </p>
  {% endif %}
  <ul class="elements">
    {% if not new %}
    <li>
      <div class="element-select">
        <input type="checkbox" name="{{ id }}-elemslug1" value="" id="{{ id }}-elemslug1" checked>
        <label for="{{ id }}-elemslug1" class="checked">{{ elem1 }}</label>
      </div>
      <div class="element-controls">
        <button name="action-edit">edit</button>
        <button name="action-delete">delete</button>
      </div>
    </li>
    {% if elem2 %}
    <li>
      <div class="element-select">
        <input type="checkbox" name="{{ id }}-elemslug2" value="" id="{{ id }}-elemslug2">
        <label for="{{ id }}-elemslug2">{{ elem2 }}</label>
      </div>
      <div class="element-controls">
        <button name="action-edit">edit</button>
        <button name="action-delete">delete</button>
      </div>
    </li>
    {% endif %}
    {% if elem3 %}
    <li class="editing">
      <input type="text" name="{{ id }}-elemslug3" value="{{ elem3 }}" id="{{ id }}-elemslug3">
    </li>
    {% endif %}
    {% if elem4 %}
    <li>
      <div class="element-select">
        <input type="checkbox" name="{{ id }}-elemslug4" value="" id="{{ id }}-elemslug4">
        <label for="{{ id }}-elemslug4">{{ elem4 }}</label>
      </div>
      <div class="element-controls">
        <button name="action-edit">edit</button>
        <button name="action-delete">delete</button>
      </div>
    </li>
    {% endif %}
    <li class="add-element edit">
      <label for="{{ id }}-add-element">add element</label>
      <input type="text" name="{{ id }}-add-element" value="" id="{{ id }}-add-element" placeholder="add an element">
    </li>
    {% endif %}
  </ul>
</div>
