<article id="category-id-{{ id }}" class="item details">
  <header class="summary">
    <h3 class="title">
      <input type="checkbox" name="bulk-select-{{ id }}" value="" id="bulk-select-{{ id }}">
      <label for="bulk-select-{{ id }}">category name</label>
    </h3>
    <ul class="preview">
      <li>preview</li>
      <li>list</li>
      <li>of</li>
      <li>elements</li>
    </ul>
    <div class="controls">
      <button title="delete" type="submit" name="action-delete">delete</button>
    </div>
  </header>
  {% include "manage/environment/_category_list_item_content.html" %}
</article>