{% extends 'manage/environment/base.html' %}
{# @@@ full page wireframe #}

{% block listcontent %}
<section id="addprofile">
  <h2>Create An Environment Profile</h2>

  <form method="POST">
    {% csrf_token %}

    <p class="profile-name">
      <label for="profile_name">profile name</label>
      <input type="text" name="profile_name" value="" id="profile_name" placeholder="profile name">
    </p>

    {% include "lists/_filter.html" %}

    <div class="managelist">
      <nav class="listordering">
        <h3 class="navhead">List Ordering</h3>
        <ul>
          <li class="bytitle">
            <a href="#">name</a>
          </li>
          <li class="bypreview">
            <span>preview</span>
          </li>
          <li class="bycontrols">
            <span>controls</span>
          </li>
        </ul>
      </nav>

      <div class="items">
        {% include "manage/environment/_category_list_item.html" with id="01" category="Language" elem1="English" elem2="Spanish" elem3="Iroquois" %}
        {% include "manage/environment/_category_list_item.html" with id="02" category="Operating System" elem1="Windows" elem2="OS X" elem3="Linux" %}
        {% include "manage/environment/_category_list_item.html" with id="03" category="Browser" elem1="Firefox" elem2="Chrome" elem3="Safari" elem4="Internet Explorer" %}
        {% include "manage/environment/_category_list_item.html" with id="04" category="Screen resolution" elem1="Over 1280x1024" elem2="1280x1024" elem3="1024x768" elem4="800x600" %}
        <article href="#" class="item add-item details">
          <h3 class="summary">add a category</h3>
          <div class="content">
            {% include "manage/environment/_category_list_item_content.html" with new='true' %}
          </div>
        </a>
      </div>

      {% include "lists/_listnav.html" %}
    </div>

    <div class="form-actions">
      <button type="submit">auto-generate environments</button>
    </div>
  </form>
</section>
{% endblock listcontent %}
