{% extends 'manage/environment/base.html' %}

{% load icanhaz sort %}

{% block listcontent %}
<section id="addprofile">
  <h2>Create An Environment Profile</h2>

  <form method="POST">
    {% csrf_token %}

    <p class="profile-name">
      <label for="profile_name">profile name</label>
      <input type="text" name="profile_name" value="" id="profile_name" placeholder="profile name" required>
    </p>

    <div class="managelist">
      <nav class="listordering">
        <h3 class="navhead">List Ordering</h3>
        <ul>
          <li class="bytitle">
            <span>name</span>
          </li>
          <li class="bypreview">
            <span>preview</span>
          </li>
          <li class="bycontrols">
            <span>controls</span>
          </li>
        </ul>
      </nav>

      <div class="items">
        {% icanhaz "env_profile_element" %}
        {% icanhaz "env_profile_element_preview" %}
        {% icanhaz "env_profile_element_edit" %}
        {% icanhaz "env_profile_category" %}

        {% for category in categories %}
        {% include "manage/environment/add_profile/_category_list_item.html" %}
        {% endfor %}

        <article href="#" class="item add-item details">
          <h3 class="summary">add a category</h3>
          <div class="content">
            {% include "manage/environment/add_profile/_category_list_item_content_new.html" %}
          </div>
        </article>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit">auto-generate environments</button>
    </div>
  </form>
</section>
{% endblock listcontent %}
