{% extends 'manage/environment/base.html' %}
{# @@@ full page wireframe #}

{% block listcontent %}
<section id="editprofile">
  <h2>Edit Environment Profile</h2>

  <form method="POST">
    {% csrf_token %}

    <p class="profile-name">
      <label for="profile_name">profile name</label>
      <input type="text" name="profile_name" value="name of this profile" id="profile_name" placeholder="profile name" required>
    </p>

    {% include "lists/_filter.html" %}

    <div class="managelist">
      <nav class="listordering">
        <h3 class="navhead">List Ordering</h3>
        <ul>
          <li class="bypreview">
            <a href="#">environment preview</a>
          </li>
          <li class="bycontrols">
            <span>controls</span>
          </li>
        </ul>
      </nav>

      <div class="items">
        {% include "manage/environment/_env_list_item.html" with id='01' %}
        {% include "manage/environment/_env_list_item.html" with id='01' %}

        <a href="#" class="item add-item">add an environment</a>
      </div>

      {% include "lists/_listnav.html" %}
    </div>

    <div class="form-actions">
      <button type="submit">save and return to profile list</button>
    </div>

  </form>
</section>
{% endblock listcontent %}
