{% extends 'manage/environment/base.html' %}
{# @@@ full page wireframe #}

{% block listcontent %}
<section id="envnarrowing">
  <h2>Select Environments for Object</h2>

  <form method="POST">
    {% csrf_token %}

    {% include "lists/_filter.html" %}

    <div class="managelist">
      <nav class="listordering">
        <h3 class="navhead">List Ordering</h3>
        <ul>
          <li class="bybulk">
            <input type="checkbox" name="bulk_select" value="" id="bulk_select">
            <label for="bulk_select">bulk select</label>
          </li>
          <li class="bypreview">
            <a href="#">environment preview</a>
          </li>
        </ul>
      </nav>

      <div class="items">
        {% include "manage/environment/_env_list_item.html" with id='01' %}
        {% include "manage/environment/_env_list_item.html" with id='02' %}
      </div>

      {% include "lists/_listnav.html" %}
    </div>

    <div class="form-actions">
      <button type="submit">save and return to profile list</button>
    </div>

  </form>
</section>
{% endblock listcontent %}
