{% extends 'manage/environment/base.html' %}

{% block page-status %}incomplete{% endblock %}

{% block listcontent %}
<section id="manageprofiles">
  <h2>Manage Environment Profiles</h2>

  {% if "PERMISSION_ENVIRONMENT_EDIT" in request.user.permissionCodes %}
  <a href="{% url manage_environment_add %}" class="create">create a profile</a>
  {% endif %}

  {% include "lists/_filter.html" %}

  <form method="POST">
    {% csrf_token %}

    {% include "manage/environment/_profiles_list.html" %}

  </form>
</section>
{% endblock listcontent %}
