{% if "PERMISSION_ENVIRONMENT_EDIT" in request.user.permissionCodes %}
<form method="POST" id="managetagform">
{% csrf_token %}
{% endif %}

<div id="tag-id-{{ tag.id }}" class="tag" data-id="{{ tag.id }}">
  {% if "PERMISSION_ENVIRONMENT_EDIT" in request.user.permissionCodes %}
    <label for="name-{{ tag.id }}">name</label>
    <input type="text" name="name-{{ tag.id }}" value="{{ tag }}" id="name-{{ tag.id }}" class="name">
    <button title="save" type="submit" name="action-save" value="{{ tag.id }}" class="tagaction save">save</button>
    <button title="delete" type="submit" name="action-delete" value="{{ tag.id }}" class="tagaction delete">delete</button>
  </form>
  {% else %}
  <span class="content">{{ tag }}</span>
  {% endif %}
</div>

{% if "PERMISSION_ENVIRONMENT_EDIT" in request.user.permissionCodes %}
</form>
{% endif %}
