{% extends 'manage/tag/base.html' %}

{% block content %}
<section class="{% block sectionid %}{% endblock %}">
  <h2>{% block formtitle %}{% endblock %} {% include "_helplink.html" with helpURL="library.html#tag-edit-fields" %}</h2>
  {% block formtop %}{% endblock %}
  <form id="{% block formid %}{% endblock %}" method="POST" class="manage-form tag-form">
    {% csrf_token %}
    {{ form.cc_version }}
    {{ form.non_field_errors }}

    {% include "forms/_field.html" with field=form.name %}
    {% include "forms/_field.html" with field=form.product %}

    <div class="form-actions">
      <button type="submit">save tag</button>
    </div>
  </form>
</section>
{% endblock content %}
