
body {
  padding: 1.5em;
  margin: 0;
  font: 87.5%/1.5em sans-serif;
  color: #000;
}

dl, dd, dt, p {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

body > details > summary {
  border-top: 1px solid #ddd;
}

p {
  margin-bottom: .75em;
}

pre {
  font: inherit;
  font-family: monospace, serif;
  color: #666;
  background: hsla(0,0%,80%,.125);
}

summary:hover, summary:focus {
  cursor: pointer;
  background: hsla(0,0%,80%,.125);
}

.apicall, .ui {
  border-bottom: 1px solid #ddd;
}

.apicall > summary, .ui > summary {
  font-weight: bold;
  padding: .5em;
}

.cached > summary {
  font-weight: normal;
  color: #999;
}

.ui > summary {
  background: hsla(0,60%,70%,.25);
}

.ui > summary:hover, .ui > summary:focus {
  background: hsla(0,60%,70%,.375);
}

.ui > summary + * {
  margin-top: .5em;
}

.wrap {
  float: right;
  width: 98%;
}

.method, .status_code, .status, .uri {
  float: left;
}

.method, .status_code {
  width: 5%;
}

.status {
  width: 15%;
}

.uri {
  width: 75%;
}

.status_code {
  box-sizing: border-box;
  text-align: right;
  padding-right: 1em;
  color: hsl(120,50%,40%);
}

.status {
  color: hsl(240,50%,60%);
}

body > details > *:not(summary) {
  padding-left: 7.8%;
  color: #444;
}

body > details > *:last-child {
  margin-bottom: .5em;
}

.cachekey {
  position: relative;
  top: -.58em;
  font-size: .857em;
  color: hsla(0,0%,50%,.5);
}

details > details > *:not(summary) {
  padding-left: 2%;
}

dl {
  overflow: hidden;
}

dt {
  clear: both;
  float: left;
  width: 25%;
  font-weight: bold;
}

dt::after {
  content: ":";
}

dd {
  float: left;
  width: 75%;
}
