{% extends "manage/product/testcase/form/_case_form_single_versioned_fields.html" %}

{% load ccforms %}

{% block basicform %}
  {% if case.status.DRAFT %}
  <a href="{% url manage_narrow_environments object_type='testcase' object_id=case.id %}" class="select-env-link">select environments</a>
  {% endif %}

  <ul class="basic">
    <li>
      {% include "forms/_field.html" with field=form.description %}
    </li>
  </ul>
{% endblock basicform %}

{% block versionactions %}
  {{ form.increment|classes:"increment-select warning" }}
{% endblock versionactions %}
