  <div class="versioned">
    {% block basicform %}
      <div class="basic">
        {% include "forms/_mock_field.html" with field="product" type="select" %}
        {% include "forms/_mock_field.html" with field="version" type="select" %}
        {% include "forms/_mock_field.html" with field="suite" type="select" %}
        {% include "forms/_mock_field.html" with field="name" type="text" %}
        {% include "forms/_mock_field.html" with field="description" type="text" %}
      </div>
    {% endblock basicform %}

    {% include "manage/product/testcase/tag/_tagging.html" with formtype="single" %}
    {% include "manage/product/_attachments.html" with obj=case %}
    {% include "manage/product/testcase/form/_step_form.html" %}

    <div class="form-actions">
      {% block versionactions %}{% endblock versionactions %}
      <button type="submit" name="single-save" value="1">save test case</button>
    </div>
  </div>
