{% extends 'manage/product/testcase/form/_case_form_single.html' %}

{% load icanhaz %}

{% block versionform %}
  <div class="versioning">
    <ul class="basic">
      <li>
        {% include "forms/_field.html" with field=form.product %}
      </li>
      <li>
        {% include "forms/_field.html" with field=form.name %}
      </li>
    </ul>

    <div class="version-select details">
      <p class="summary">
        Edit
        <strong>
          v{{ form.instance.majorVersion }}
          ({% if form.instance.latestVersion %}latest{% else %}obsolete{% endif %})
        </strong>
        <em>or select a different version &raquo;</em>
      </p>
      <div class="content">
        {% icanhaz "case_versioning_more_runs_link" %}
        {% for version in form.instance.all_versions %}
        {% include "manage/product/testcase/form/_case_form_version_list_item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock versionform %}

{% block mainform %}
  {% include "manage/product/testcase/form/_case_form_edit_versioned_fields.html" %}
{% endblock mainform %}
