{% load filters markup %}

<div class="iteminfo">
  {% include "lists/_byline.html" with item=run %}

  {% if run.description %}
  <p class="details">
    {{ run.description|markdown }}
  </p>
  {% endif %}
  {% if run.status == run.STATUS.active %}
    <span class="button"><a href="{% url 'runtests_environment' run_id=run.id %}">run tests in {{ run }}</a></span>
  {% else %}
    <span class="status-note">Activate this run to execute its tests.</span>
  {% endif %}

</div>

{% with run.team.all as team %}
{% include "lists/_team.html" %}
{% endwith %}

{% with run.suites.all as suites %}
{% if suites %}
  <div class="suites">
    <h4 class="suites-title"><a href="{{ 'manage_suites'|filter_url:run }}">Included Suites</a></h4>
    <ul class="suite-list">
      {% for suite in suites %}
      <li><a href="{{ 'manage_suites'|filter_url:run }}#suite-id-{{ suite.id }}" title="{{ suite.name }}" class="suite">{{ suite }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endwith %}

{% include "lists/_environments.html" with environments=run.environments %}
