{% load permissions filters %}

<article id="run-id-{{ run.id }}" class="listitem" data-title="{{ run.name }}">
  {% include "manage/_status.html" with item=run permission="execution.manage_runs" %}

  <header class="itemhead">

    <div class="name">

      <div class="controls">
        {% if user|has_perm:"execution.manage_runs" %}
          {% url 'manage_run_edit' run_id=run.id as run_edit_url %}
          {% include "lists/controls/_edit.html" with edit_url=run_edit_url edit_name=run.name %}
          {% include "manage/run/list/_refresh.html" with refresh_url=run_refresh_url refresh_name=run.name %}
          {% url 'manage_narrow_environments' object_type="run" object_id=run.id as manage_envs_url %}
          {% include "manage/_narrow_env_link.html" with manage_envs_url=manage_envs_url %}
          {% include "lists/controls/_clone.html" with clone_id=run.id clone_name=run.name %}
          {% include "lists/controls/_delete.html" with delete_id=run.id delete_name=run.name %}
        {% endif %}
      </div>

      <h3 class="title" title="{{ run.name }}">{{ run.name }}</h3>

      <div class="suitecount">
          (<a href="{{ 'manage_suites'|filter_url:run }}" class="drill-link" title="manage all suites in {{ run.name }}">{{ run.suite_count }} Suites</a>)
      </div>
      {% if run.is_series %}
      <div class="runseries">
          (<a href="{{ 'manage_runs'|filter_url:run }}" class="drill-link" title="manage all runs in this series">Series Runs</a>)
      </div>
      {% endif %}

    </div>

    <div class="product-version">{{ run.productversion }}</div>
    <div class="start-date">{{ run.start }}</div>
    <div class="end-date">{{ run.end }}</div>

  </header>

  {% url 'manage_run_details' run.id as details_url %}
  {# _run_details.html loaded via ajax #}
  {% include "lists/_itembody.html" %}

</article>
