{% load icanhaz %}

<div class="multiselect">
  {% icanhaz "autocomplete_suggestion" %}
  {% icanhaz "autocomplete_input" %}
  {% icanhaz "filtered_multiselect_input" %}
  <section class="multiunselected">
    <h4>available {{ name }}</h4>
    <div class="selectsearch">
      <label for="search-add">filter available {{ name }}</label>
      <input type="text" name="search" value="" id="search-add" autocomplete="off" placeholder="filter available {{ name }}">
      <ul class="suggest">
      </ul>
      <div class="groups">
        {% for field in filter %}
        {% include "lists/_filter_group.html" with advanced=0 prefix="filter" %}
        {% endfor %}
      </div>
    </div>
    <div class="selectbox">
      <nav class="listordering">
        <h5 class="navhead">List Ordering</h5>
        <ul>
          <li class="byinclude"><button class="action-include" title="include selected">include selected</button></li>
          <li class="bystatus"><a href="#">status</a></li>
          <li class="bytitle"><a href="#">name</a></li>
          <li class="bytags"><a href="#">tags</a></li>
          <li class="byauthor"><a href="#">author</a></li>
        </ul>
      </nav>
      <div class="select sortable">
        {% for choice in choices %}
        {% if choice.0 not in value %}
        {% include choice_template %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="multiselected">
    <h4>included {{ name }}</h4>
    <div class="selectbox">
      <nav class="listordering">
        <h5 class="navhead">List Ordering</h5>
        <ul>
          <li class="byexclude"><button class="action-exclude" title="remove selected">remove selected</button></li>
          <li class="bystatus"><a href="#">status</a></li>
          <li class="bytitle"><a href="#">name</a></li>
          <li class="bytags"><a href="#">tags</a></li>
          <li class="byauthor"><a href="#">author</a></li>
        </ul>
      </nav>
      <div class="select sortable" data-name="{{ name }}">
        {% for choice in choices %}
        {% if choice.0 in value %}
        {% include choice_template %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
