{% extends 'manage/testsuite/base.html' %}

{% block crumb %}
  {{ block.super }}
  <li><a href="/manage/testsuite/add/">add test suite</a></li>
{% endblock crumb %}

{% block managecontent %}
<section id="addsuite">
  <h2>create a new test suite</h2>
  <form method="POST">
    <ul class="meta">
      <li>
        {# <ul class="errorlist"> #}
        {#   <li>this field is required</li> #}
        {# </ul> #}
        <label for="name">name</label>
        <input type="text" name="name" value="" id="name" required="required">
      </li>
      <li>
        {# <ul class="errorlist"> #}
        {#   <li>this field is required</li> #}
        {# </ul> #}
        <label for="desc">description</label>
        <textarea name="desc" required></textarea>
      </li>
    </ul>

    <div class="env">
      {# @@@ this H3 should be unhidden by JS when there are constraints present #}
      <h3 style="display:none;">Environment Constraints</h3>
      {# @@@ start with 0 constraints shown, only the link to add. #}
      <a href="#" class="addfields">add environment constraints »</a>
    </div>
    
    <section class="caseselect">
      <h3>add test cases to your test suite</h3>
      <div>
        <p><label for="search">search</label><input type="search" name="search" value="" id="search" placeholder="search for suites to add"></p>
        <div class="unselected">
          <h4>available cases</h4>
          <nav class="listordering">
            <ul>
              <li><a href="#" class="id">id</a></li>
              <li><a href="#" class="title">title</a></li>
              <li><a href="#" class="author">author</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="case01" value="" id="case01">
              <label for="case01" class="hcard">
                <span class="id">#3456</span>
                <span class="title">Test Case 01</span>
                <span class="author fn">Author Name</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="addremove">
          <button class="add" title="add selected">add selected</button>
          <button class="update" title="update all">update all</button>
          <button class="remove" title="remove selected">&laquo; remove selected</button>
        </div>
        <div class="selected">
          <h4>included cases</h4>
          <nav class="listordering">
            <ul>
              <li><a href="#" class="id">id</a></li>
              <li><a href="#" class="title">title</a></li>
              <li><a href="#" class="author">author</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="case06" value="" id="case06">
              <label for="case06">
                <span class="id">#4567</span>
                <span class="title">Test Case 06</span>
                <span class="author fn">Author Name</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="form-actions">
      <button type="submit">save test run</button>
    </div>

  </form>
    
</section>
{% endblock managecontent %}