{% extends 'base.html' %}

{% block site %}

<header role="banner">
  <h1 id="brand"><a href="/" rel="home">case conductor</a></h1>

  {% include "navigation/_accountnav.html" %}

  {% block main-nav %}
    {% include "navigation/_mainnav.html" %}
  {% endblock main-nav %}

  {% block drilldown %}
  {% endblock drilldown %}
</header>

<div id="main" role="main">
  {% include "_messages.html" %}

  {% block content %}
  {% endblock %}
</div><!-- /~main -->

<footer role="contentinfo">
  <div class="container">

  <div id="hcard-mozilla" class="author vcard">
    <small>copyright &copy; 2011</small>
    <strong class="fn org">Mozilla</strong>
    <div class="adr">
      <div class="street-address">650 Castro St, Suite 300</div>
      <span class="locality">Mountain View</span>,
      <span class="region">CA</span>
      <span class="postal-code">94041-2021</span>
    </div>
  </div>

  </div>
</footer>

{% endblock site %}
