// Fixes an item to the given offset positions of the window.
//
// $offset-top    - The top offset.
// $offset-right  - The right offset.
// $offset-bottom - The bottom offset.
// $offset-left   - The left offset
//
// Styleguide 1.2

=fixed-stretch($offset-top: false, $offset-right: false, $offset-bottom: false, $offset-left: false)
  position: fixed
  @if $offset-top
    top: $offset-top
  @if $offset-right
    right: $offset-right
  @if $offset-bottom
    bottom: $offset-bottom
  @if $offset-left
    left: $offset-left

// Creates a grid container with a min-width of 68em (approx 960px).
//
// No styleguide reference.

.container
  +container
  min-width: 68em