<article id="user-id-{{ user.id }}" class="item vcard">
  <p class="status">
    {% if "PERMISSION_USER_ACCOUNT_EDIT" in request.user.permissionCodes %}
      {% if user.status.INACTIVE %}
      <button title="activate" type="submit" value="{{ user.id }}" name="action-activate" class="inactive">inactive</button>
      {% endif %}
      {% if user.status.ACTIVE %}
      <button title="disable" type="submit" value="{{ user.id }}" name="action-deactivate" class="active">active</button>
      {% endif %}
      {% if user.status.DISABLED %}
      <button title="activate" type="submit" value="{{ user.id }}" name="action-activate" class="disabled">disabled</button>
      {% endif %}
    {% else %}
      {% if user.status.INACTIVE %}
      <span class="inactive">inactive</span>
      {% endif %}
      {% if user.status.ACTIVE %}
      <span class="active">active</span>
      {% endif %}
      {% if user.status.DISABLED %}
      <span class="disabled">disabled</span>
      {% endif %}
    {% endif %}
  </p>
  <h3 class="n">
    <span class="given-name">{{ user.firstName }}</span>
    <span class="family-name">{{ user.lastName }}</span>
  </h3>
  <p class="nickname">{{ user.screenName }}</p>
  <p class="email">{{ user.email }}</p>
  <ul class="roles">
    {% for role in user.roles %}
    <li>{{ role }}</li>
    {% endfor %}
  </ul>
  <div class="controls">
    <a href="{% url manage_user_edit user_id=user.id %}" title="edit">edit</a>
  </div>
</article>
