{% extends 'lists/_listordering.html' %}

{% block sortitems %}
  {% include "lists/_sortitem.html" with sortname="status" sortID="status" %}
  {% include "lists/_sortitem.html" with sortname="first name" sortID="firstName" %}
  {% include "lists/_sortitem.html" with sortname="last name" sortID="lastName" %}
  {% include "lists/_sortitem.html" with sortname="screenname" sortID="screenName" %}
  {% include "lists/_sortitem.html" with sortname="email" sortID="email" %}
  {% include "lists/_sortitem.html" with sortname="roles" %}
  {% include "lists/_sortitem.html" with sortname="controls" %}
{% endblock sortitems %}
