{# @@@ wireframe #}

<article id="user-id-{{ id }}" class="item vcard">
  <p class="status">status</p>
  <h3 class="n">
    <span class="given-name">firstname</span>
    <span class="family-name">lastname</span>
  </h3>
  <p class="nickname">screenname</p>
  <p class="email">email@example.com</p>
  <ul class="roles">
    <li>admin</li>
    <li>tester</li>
    <li>hep cat</li>
  </ul>
  <div class="controls">
    <a href="#" title="edit">edit</a>
    <button title="delete" type="submit" name="action-delete" value="{{ id }}">delete</button>
  </div>
</article>
