{% extends 'manage/user/base.html' %}

{% block listcontent %}
<section id="adduser">
  <h2>{% block formtitle %}{% endblock %}</h2>

  <form id="user-add-form" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <ul class="basic">
      <li class="given-name">{% include "forms/_field.html" with field=form.firstName %}</li>
      <li class="family-name">{% include "forms/_field.html" with field=form.lastName %}</li>
      <li class="nickname">{% include "forms/_field.html" with field=form.screenName %}</li>
      <li class="email">{% include "forms/_field.html" with field=form.email %}</li>
      <li class="password">{% include "forms/_field.html" with field=form.password %}</li>
    </ul>

    <section class="roleselect details{% if form.roles.errors or form.roles.value %} open{% endif %}">
      <h3 class="summary">assign roles to this user &raquo;</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {% include "forms/_field.html" with field=form.roles %}
      </div>
    </section>

    <div class="form-actions">
      <button type="submit">save</button>
    </div>

  </form>
</section>
{% endblock listcontent %}
