{% load icanhaz %}

<div class="attach">
  {% icanhaz "case_attachment" %}
  {% icanhaz "case_attachment_input" %}
  {% icanhaz "case_attachment_remove" %}

  {% include "forms/_mock_field.html" with field="attachment 1" type="file" label="add attachment" %}

  <div class="visual">
    <strong class="attachlabel">Attachments</strong>
    <ul class="attachlist">
      {% if obj %}
        {% for attachment in obj.attachments %}
          {% include "manage/product/_attachment_item.html" %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
