<div class="attachments">
  <ul class="uploads">
    <li>
      <button class="action-remove" title="remove attachment">remove attachment</button>
      <a href="#">file_1.png</a>
    </li>
    <li class="uploading">
      <button class="action-remove" title="remove attachment">remove attachment</button>
      <a href="#">file_2.png</a>
      <span class="loader"> </span>
    </li>
  </ul>
  <label for="attachment-input" class="upload">add an attachment</label>
  <p class="helper">any file type, up to 10GB.</p>
  <input type="file" name="attachment" id="attachment-input">
</div>