{% load icanhaz %}

<div class="attach">
  {% icanhaz "case_attachment" %}
  {% icanhaz "case_attachment_input" %}
  {% icanhaz "case_attachment_remove" %}

  {% include "forms/_field.html" with field=field label="add attachment" %}

  <div class="visual">
    <strong class="attachlabel">Attachments</strong>
    <ul class="attachlist">
      {% if obj %}
        {% for case_attachment in obj.attachments.all %}
          {% include "manage/product/_attachment_item.html" with attachment=case_attachment.attachment %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
