{% load permissions %}

<div class="status">
  {% if user|has_perm:"library.manage_cases" %}

    {% if item.status == "draft" %}
    <button title="activate" type="submit" name="action-activate" value="{{ item.id }}" class="draft">draft</button>
    {% endif %}
    {% if item.status == "active" %}
    <button title="disable" type="submit" name="action-deactivate" value="{{ item.id }}" class="active">active</button>
    {% endif %}
    {% if item.status == "disabled" %}
    <button title="activate" type="submit" name="action-activate" value="{{ item.id }}" class="disabled">disabled</button>
    {% endif %}

  {% else %}

    {% if item.status == "draft" %}
    <span class="draft">draft</span>
    {% endif %}
    {% if item.status == "active" %}
    <span class="active">active</span>
    {% endif %}
    {% if item.status == "disabled" %}
    <span class="disabled">disabled</span>
    {% endif %}

  {% endif %}
</div>
