{% extends 'manage/product/product_form.html' %}

{% block location %}Create Product{% endblock %}
{% block sectionclass %}add-product{% endblock %}
{% block formid %}product-add-form{% endblock %}

{% block fields %}
  {% include "forms/_field.html" with field=form.name %}
  {% include "forms/_field.html" with field=form.description %}

  <div class="fieldset">
    <h3 class="legend">create a version of your product</h3>
    {% include "forms/_field.html" with field=form.version %}
    {% include "forms/_field.html" with field=form.profile label="environments" %}
  </div>
{% endblock %}
