<p class="name">
  {{ category.name }}
  <button name="action-edit" value="category-{{ category.id }}">edit</button>
</p>
<ul class="elements">

  {% for element in category.elements %}
  {% include "manage/environment/add_profile/_element_list_item.html" %}
  {% endfor %}

  <li class="add-element edit">
    <label for="category-{{ category.id }}-new-element-name">add element</label>
    <input type="text" name="new-element-name" value="" id="category-{{ category.id }}-new-element-name" placeholder="add an element" data-category-id="{{ category.id }}">
  </li>
</ul>
