<article id="category-id-{{ category.id }}" class="item details action-ajax-replace">
  <header class="summary">
    <p class="bulk">
      <input type="checkbox" name="bulk-select" value="category-{{ category.id }}" id="bulk-select-{{ category.id }}">
      <label for="bulk-select-{{ category.id }}">bulk select for {{ category.name }}</label>
    </p>
    <h3 class="title">{{ category.name }}</h3>
    <ul class="preview">
      {% for element in category.environments %}
      {% include "manage/environment/add_profile/_element_preview_list_item.html" %}
      {% endfor %}
    </ul>
    <div class="controls">
      <button title="delete" type="submit" name="action-delete" value="category-{{ category.id }}">delete</button>
    </div>
  </header>
  <div class="content">
    {% include "manage/environment/add_profile/_category_list_item_content.html" %}
  </div>
</article>
