/* Create --------------------------------------------------------------------

.removefields
  +replace-text('ui/x_circle.png')
  display: block
  height: $base-rhythm-unit

// The Basic Form ------------------------------------------------------------

.addform
  h2
    +trailer
  .basic
    +pie-clearfix
    +inline-form(2,9,11)
    label
      text-align: right
    ul
      +no-style-list
    > li
      +columns(11,22)
      &:nth-child(even)
        +omega(22)
    .date
      +columns(5,11)
      clear: none
      position: relative
      + .date
        +omega(11)
      label
        +columns(2,5)
      input
        +columns(3,5)
        +omega(5)
      .errorlist
        +prefix(2,5)
    .errorlist
      +full(11)
      +prefix(2,11)

// SuperSelect! --------------------------------------------------------------

.superselect
  p
    margin: 0
  nav
    padding-right: 1em
    border: 1px solid #ccc
      width: 0px 1px

  .unselected, .selected
    +columns(9,20)
    h3, h4
      @extend .allcaps
      +hpadding(1.5em)
      color: $light
      background: $blue
      font-weight: normal
  .selected
    +omega(20)
  label[for="search"]
    +hide-text
    position: absolute
    height: 0
  input[type="search"]
    width: columns(9,20)
  .select
    +no-style-list
    height: $base-rhythm-unit*8
    border: 1px solid #ccc
    background: $blue-lightest
    overflow-y: scroll
    input
      position: absolute
      left: -9999px
      top: -9999px
      z-index: -1
    label
      +adjust-font-size-to(12px)
      +clearfix
      +padding-leader(.25,12px)
      +trailing-border(1px,.25,12px)
      display: block
      background: $blue-lightest no-repeat scroll 1em
      border-color: $light
      font-weight: normal
  .unselected
    label
      #{$focus}, &.mark
        background:
          color: $green-light
          image: image-url('ui/arrow_right.png')

  .selected
    label
      #{$focus}, &.mark
        background:
          color: $red-lighter
          image: image-url('ui/arrow_left.png')

  .addremove
    +columns(2,20)
    +leader(3)
    button
      +trailer(.5)
      display: block
      padding: 0
      border: 0
      width: 100%
      +icon('[title^="add"]','ui/arrow_right.png',$green-light)
      +icon('[title^="update"]','ui/arrow_leftright_21.png',$blue-light)
      +icon('[title^="remove"]','ui/arrow_left.png',$red-light)
      &[title^="update"]
        +padding-leader
        +padding-trailer
  .addall, .removeall
    @extend .allcaps
    +button-reset
    +adjust-font-size-to(12px)
    +hpadding($base-rhythm-unit)
    +bold
    display: block
    width: 100%
    text-align: left
  .addall
    color: $green-lightest
    background: $green
    text-align: right
    &:hover
      background-color: $green-dark
  .removeall
    color: $red-lightest
    background: $red-light
    &:hover
      background-color: $red

.mainselect
  @extend .superselect
  +clearfix
  +trailer
  +background(rgba($blue-hint,$xsmall) linear-gradient(bottom,rgba($blue-hint,$small),rgba($blue-hint,0) rhythm(2)))
  clear: both
  h3
    padding: rhythm(.25)
    background: rgba($blue,$xxxsmall)
    text-transform: capitalize
  > div
    +full(22)
    +pad(1,1,22)

/* Create/Edit Cycle --------------------------------------------------------------

#addcycle
  @extend .addform
  @extend .managelists

  .item
    +padding-leader(.25)
    +padding-trailer(.25)
  .status, .controls
    +trailer(0)
  .start, .end, .bystart, .byend
    +columns(3,24)
  .title, .bytitle
    +columns(14,24)
  .addrun
    a
      #{$link}
        +full(24)
        +demi
        +italic
        +border-radius
        display: block
        padding: rhythm(.25) rhythm(.5)
        background: rgba($green,$xsmall)
        color: $green-dark
        text-align: right
      #{$focus}
        color: $base
        background: rgba($green-light,$small)

.userselect
  @extend .mainselect
  .nickname
    +columns(3,9)
    +prefix(1,9)
  .fn
    +columns(5,9)
    +omega(9)

/* Create Run --------------------------------------------------------------

#addrun
  @extend .addform

.suiteselect
  @extend .mainselect
  .id
    +columns(2,9)
    +prefix(1,9)
  .title
    +columns(6,9)
    +omega(9)

/* Create Suite --------------------------------------------------------------

#addsuite
  @extend .addform

.caseselect
  @extend .mainselect
  .id
    +columns(2,9)
    +prefix(1,9)
  .title, .author
    +columns(3,9)
  .author
    +omega(9)

/* Create Case --------------------------------------------------------------

#addcase
  @extend .addform
  li
    +pie-clearfix
  .form-actions
    +leader

  .steps
    +full(22)
    +clearfix
  .steplist
    +no-style-list
    counter-reset: step
  .steps-form
    +full(22)
    +prefix(2,22)
    position: relative
    counter-increment: step
    &::before
      +adjust-font-size-to($largepx)
      +light
      content: counter(step, decimal) "."
      position: absolute
      left: 0
      top: rhythm(1.75,$largepx)
      width: columns(2,22)
      text-align: right
    .action
      +columns(9,20)
    .result
      +columns(11,20)
      +omega(20)
    .removefields
      +opacity(.25)
      +transition(opacity,300ms)
      position: absolute
      left: 0
      top: rhythm(2.25)
      width: image-width('ui/x_circle.png')
    &:hover
      .removefields
        +opacity(1)
    .errorlist
      +float('right')
      +padding-leader(.25)
      +padding-trailer(.25)
