.leftcolumnpadding
  +box-sizing('border-box')
  padding-left: $smallem

.preview
  +ellipsis
  +delimited-list(',')
  +italic
  color: rgba($blue-darker,$small)
  ul
    margin: 0
    padding: 0

  label
    +font-weight-normal
    &.checked
      +demi
      color: $blue-dark

.editinline
  position: relative
  &:hover
    .element-controls
      display: block

.element-select
  +columns(9,10)

.element-controls
  +columns(1,10)
  +omega(10)
  display: none

.footeradditem
  +trailer
  a, .summary
    +border-radius
    background: rgba($green,$xsmall) image-url('ui/plus.png') no-repeat scroll rhythm(.25) rhythm(.375)
    color: $base
    #{$focus}
      background-color: rgba($green,$small)

.item.add-item
  +demi
  a, .summary
    @extend .allcaps
    +background(image-url('ui/plus.png') no-repeat scroll rhythm(.125) rhythm(.375), linear-gradient(left,rgba($green-light,0),rgba($green-light,$xxxsmall),rgba($green-light,$xxxsmall),rgba($green-light,0)))
    display: block
    padding: rhythm(.25) rhythm(1.25)
    color: $green-dark
    #{$focus}
      +background(image-url('ui/plus.png') no-repeat scroll rhythm(.125) rhythm(.375), linear-gradient(left,rgba($green-light,0),rgba($green-light,$xsmall),rgba($green-light,$xsmall),rgba($green-light,0)))

.profile-name
  +full(24)
  +suffix(12,24)
  +pie-clearfix
  +trailer(0)
  label
    +columns(2,12)
  input
    +columns(10,12)
    +omega(12)

/* Manage Products --------------------------------------------------------------

#manageproducts
  .testers, .byline
    +columns(4,24)
  .title, .bytitle
    +columns(5,24)
  .preview, .bypreview
    +columns(15,24)
  .description
    +columns(18,24)
    +prefix(2,24)
  .testers, .byline
    +omega(24)
  .title
    @extend .leftcolumnpadding
  .byline
    text-align: right

/* Manage Tests --------------------------------------------------------------

#managecycles
  .start, .end, .bystart, .byend, .testers, .product, .byproduct
    +columns(4,24)
  .title, .bytitle
    +columns(8,24)
  .testers
    +omega(24)

#manageruns
  .start, .end, .bystart, .byend
    +columns(3,24)
  .cycle, .product, .bycycle, .byproduct, .testers
    +columns(4,24)
  .title, .bytitle
    +columns(6,24)

#managesuites
  .product, .byproduct, .title, .bytitle
    +columns(10,24)

#managecases
  .product, .byproduct, .title, .bytitle
    +columns(10,24)
  .steps
    +columns(20,24)
  .byline
    +columns(4,24)
    +omega(24)
    text-align: right

/* Manage Environments --------------------------------------------------------------

#manageprofiles
  .title, .bytitle
    +columns(6,24)
  .bypreview, .preview
    +columns(12,24)

  .title
    @extend .leftcolumnpadding
    a
      #{$link}
        display: block
      #{$focus}
        &::after
          content: " »"

#addprofile
  .bytitle, .title
    +columns(6,24)
  .bytitle
    +prefix(1,24)
    a, span
      padding: 0
  .bulk
    +columns(1,24)
  .bypreview, .preview
    +columns(11,24)

  .bulk
    label
      +gone

  .name
    @extend .editinline
    +bold
    margin: 0 columns(7,24) + gutter(24)
    label
      +gone
    button
      +float(right)
      display: none
    &:hover
      button
        display: block
  .elements
    +no-style-list
    +full(24)
    +pad(7,7,24)
    counter-reset: elements
    li
      @extend .editinline
      +pie-clearfix
      label
        +font-weight-normal
        display: block
      [type="checkbox"]
        position: absolute
        top: rhythm(.5)
        right: 100% + gutter(12)
      &.editing
        +leader(.25)

  .add-element
    label
      +gone

  .add-item
    @extend .footeradditem
    .name
      margin: 0 columns(17,24) + gutter(24) 0 columns(1,24) + gutter(24)
      input
        margin: 0

#editprofile
  .bypreview, .preview
    +columns(22,24)
  .content
    +pad(2,2,24)

  .env-management
    +leader(.25)
    label
      +gone
    input
      +trailer(.25)

.env-element-list
  +no-style-list
  +pie-clearfix
  +leader(.25)
  +trailer(.25)
  li
    +float(left)
    +demi
    +border-radius
    background: rgba($green,$xsmall)
    padding: rhythm(.125) rhythm(.25)
    margin-right: rhythm(.25)
    cursor: pointer
    &:hover
      background: rgba($red,$xsmall)

/* narrow Environments -------------------------------------------------------

#envnarrowlist
  .bybulk, .bulk
    +columns(1,24)
    label
      +gone
    input
      margin-left: rhythm(.5)
  .bypreview, .preview
    +columns(23,24)
    +omega(24)
    text-align: left
  .content
    +pad(1,1,24)
