/* Manage Tests --------------------------------------------------------------

#managecycles
  .start, .end, .bystart, .byend, .testers, .product, .byproduct
    +columns(4,24)
  .title, .bytitle
    +columns(8,24)
  .testers
    +omega(24)

#manageruns
  .start, .end, .bystart, .byend
    +columns(3,24)
  .cycle, .product, .bycycle, .byproduct, .suites
    +columns(4,24)
  .title, .bytitle
    +columns(6,24)
  .suites
    +omega(24)

#managesuites
  .product, .byproduct, .title, .bytitle
    +columns(10,24)

#managecases
  .product, .byproduct, .title, .byline, .bytitle
    +columns(10,24)

/* Manage Environments --------------------------------------------------------------

#manageprofiles
  .bycontrols
    +gone
  .controls
    +columns(1,24)
    text-align: left
  .title
    +columns(23,24)
    +omega(24)

  .bytitle
    padding-left: rhythm(.25)
    text-align: left

  .item
    +opacity(.75)
    &:hover
      +opacity(1)

  .title
    a
      #{$link}
        display: block
      #{$focus}
        &::after
          content: " »"