/* test nav --------------------------------------------------------------

.testnav

  .summary
    @extend .crumb
    #{$focus}
      +background-image(linear-gradient(left,rgba($blue-hint,0),rgba($blue-hint,$xxsmall),rgba($blue-hint,0)))
      outline: 0
  &[open]
    .summary
      background: rgba($blue-dark,$small)

  .selectruns
    +full
    +leader

.currentrun
  @extend .trail
  position: relative
  &::after
    +opacity(.65)
    +replace-text('ui/plus.png')
    +border-radius($xxsmallem)
    +box-shadow(rgba($blue-darker,$small) 0 0 $xsmallpx)
    +stretch-y
    content: " "
    right: 0
    width: image-width('ui/plus.png')
    height: auto
    padding: rhythm(.25)
    background-color: rgba($green,$small)
    z-index: 10
    visibility: visible
  #{$focus}
    &::after
      +opacity(.85)
  [open] &::after
    background-image: image-url('ui/minus.png')
    background-color: $yellow


/* run tests --------------------------------------------------------------

#run
  .test, .content
    +full(24)
  .test
    +pie-clearfix
    &[open], &.open, .header
      +trailing-border(1px,.5)
      border-color: #ccc
    &:first-of-type
      &, &[open], &.open
        padding-top: 0
        .header
          +leading-border(1px,.5)
  .header
    +pie-clearfix
    +padding-leader(.5)
  header
    +columns(20,24)
    +leader(.25)
    +trailer(.25)
    h3
      +columns(14,20)
      +adjust-font-size-to(16px)
      margin: 0
    small
      +columns(2,20)
      +bold
      vertical-align: top
      text-align: right

  .status
    +columns(4,24)
    +omega(24)
    text-align: center
    p
      @extend .allcaps
      +adjust-font-size-to(12px)
      +border-radius(1.5em)
      +padding-leader(.25,12px)
      +padding-trailer(.25,12px)
      +hpadding(1em)
      +bold
      margin: 0 gutter(4)
      color: $light
    button
      width: 100% - gutter(4)*2
      margin: 0 gutter(4)
    .passed
      +text-shadow(rgba($green-dark,.75) 1px 1px 0)
      background: $green image-url('ui/check.png') no-repeat scroll gutter(4)
    .invalidated
      +text-shadow(rgba($red,.75) 1px 1px 0)
      background: $yellow-darker image-url('ui/warning.png') no-repeat scroll gutter(4)
    .failed
      +text-shadow(rgba($red-dark,.75) 1px 1px 0)
      background: $red image-url('ui/x.png') no-repeat scroll gutter(4)

  .start
    @extend .bluebutton
  .invalid
    @extend .yellowbutton
  .fail
    @extend .redbutton
  .invalid, .fail
    +trailer
    width: columns(4,18)

  .steps
    +pad(2,4,24)
    +padding-leader
    clear: both
    margin: 0
    counter-reset: step
    > li
      +pie-clearfix
      +trailer
      position: relative
      padding: $base-rhythm-unit*.5
        bottom: 0
      background: $light
      list-style: none
      counter-increment: step
      &::before
        +adjust-font-size-to(48px)
        content: counter(step, decimal) "."
        position: absolute
        right: 100% + gutter(18)
        top: 0
    h4
      +trailer(0)
    .step
      overflow: hidden

  .stepfail
    +full(18)
    position: relative
    margin: 0 0 - $base-rhythm-unit*.5
    border-top: $base-rhythm-unit solid $yellow-light
    summary
      @extend .allcaps
      +transition(all,300ms)
      position: absolute
      top: - $base-rhythm-unit
      right: 0
      padding: 0 gutter(18)
      width: columns(2,18)
      background: $red-light
      color: $light
      text-align: center
      &:hover
        background: $red
    &[open], &.open, &.failed
      summary
        width: 100%
        padding: 0
        background: $red

  .failform, .invalidform
    textarea
      min-height: $base-rhythm-unit*6
  .failform, .faildesc
    padding: $base-rhythm-unit*.5
    background: $red-lightest
  .invalidform, .invaliddesc
    +float('left')
    +padding-leader
    +hpadding(gutter(24))
    +border-bottom-radius(1em)
    width: columns(18,24) - gutter(24)*2
    margin-left: columns(2,24) + gutter(24)
    background: $yellow

  .testinvalid
    position: relative
    summary
      @extend .smallcaps
      +text-shadow(rgba($yellow-light,.75) 1px 1px 0)
      +border-bottom-radius(1em)
      position: absolute
      top: 0
      right: 0
      width: columns(4,24) - gutter(24)*2
      padding: $base-rhythm-unit*.5 gutter(24)
      background: $yellow-light
      text-align: center
      &:hover
        background: $yellow
    &[open], &.open, &.invalidated
      summary
        background: $yellow

  .started
    .header
      background: $blue-lighter
  .passed
    .header
      background: $green-lighter
  .invalidated
    .header
      background: $yellow-light
  .failed
    .header
      background: $red-lighter
