/* Controls ------------------------------------------------------------------

.controls, .element-controls
  text-align: right
  white-space: nowrap
  *:last-child
    margin-right: .375em

[title="edit"]
  #{$link}
    +icon-replace('ui/pencil.png')

.target
  #{$link}
    +icon-replace('ui/crosshair.png')

[title^="create"]
  #{$link}
    +icon-replace('ui/paper_plus.png')

[name="action-clone"]
  +button-reset
  +icon-replace('ui/clone.png')

[name="action-delete"]
  +button-reset
  +icon-replace('ui/trash.png')

[name="action-edit"]
  +button-reset
  +icon-replace('ui/pencil.png')

[title="edit"], .target, [title^="create"],
  #{$link}
    +inline-block
    vertical-align: middle

[name="action-clone"], [name="action-delete"], [name="action-edit"]
  +inline-block
  vertical-align: middle
