<article{% for k, v in choice.1.attrs.items %} {{ k }}="{{ v }}"{% endfor %} class="selectitem" data-title="{{ choice.1.obj }}">
  <input type="checkbox" name="bulk-select" value="{{ choice.0 }}" class="bulk-value" id="bulk-select-{{ choice.0 }}" {{ checked }}>
  <div class="listitem itemhead bulk-item">
    <label for="bulk-select-{{ choice.0 }}" class="bulk-type" title="select or drag">bulk select {{ choice.0 }}</label>
    {% with choice.1.obj as item %}
    {% block content %}
    <h5 class="title" title="{{ item.name }}">{{ item.name }}</h5>
    {% endblock %}
    {% endwith %}
  </div>
</article>
