{% load icanhaz %}

<div class="multiselect">
  {% icanhaz "autocomplete_suggestion" %}
  {% icanhaz "autocomplete_input" %}
  {% icanhaz "filtered_multiselect_input" %}
  {% icanhaz "case_select_item" %}
  {% icanhaz "caseversion_select_item" %}
  {% icanhaz "suite_select_item" %}

  <section class="multiunselected">
    <h4 class="multi-header">available {{ name }}</h4>

    <div class="selectsearch">
      <div class="textual">
        <label for="search-add">filter available {{ name }}</label>
        <input type="text" name="search" value="" id="search-add" autocomplete="off" placeholder="filter available {{ name }}">
        <ul class="suggest"></ul>
      </div>
      <div class="visual compact">
        {% for field in filters %}
        {% include "lists/_filter_group.html" with advanced=0 prefix="filter" %}
        {% endfor %}
      </div>
    </div>

    <div class="selectbox itemlist">
      {% include listordering_template with multiID='unselected' %}
      <div class="select sortable">
        {% for choice in choices %}
        {% if choice.0 not in value %}
        {% include choice_template %}
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </section>
  <section class="multiselected">
    <h4 class="multi-header">included {{ name }}</h4>

    <div class="selectbox itemlist">
      {% include listordering_template with multiID='selected' %}
      <div class="select sortable" data-name="{{ name }}">
        {% for choice in choices %}
        {% if choice.0 in value %}
        {% include choice_template %}
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </section>
  <div class="include-exclude">
    <button class="action-include" title="include selected">include selected</button></li>
    <button class="action-exclude" title="remove selected">remove selected</button>
  </div>
</div>
