/* colors --- */
/* */
/* light     : #eeeeee */
/* dark      : #444444 */
/* lighter   : #fbfbfb */
/* mid       : #999999 */
/* mid-light : #c3c3c3 */
/* mid-dark  : #6e6e6e */
/* */
/* blue            : #5d7b7a */
/* blue-light      : #8bb9b7 */
/* blue-lighter    : #accbc9 */
/* blue-lightest   : #cddcdb */
/* blue-hint       : #ebf1f1 */
/* blue-dark       : #2e3e3d */
/* */
/* red           : #b9292f */
/* red-light     : #e37f83 */
/* red-lighter   : #eca9ab */
/* red-lightest  : #f5d2d4 */
/* red-dark      : #511214 */
/* */
/* green           : #77b929 */
/* green-light     : #b5e37f */
/* green-lighter   : #cdeca9 */
/* green-lightest  : #e5f5d2 */
/* green-dark      : #4f7a1b */
/* */
/* yellow          : #fee58c */
/* yellow-light    : #fef0bf */
/* yellow-dark     : #fdc80e */
/* yellow-darker   : #d6a702 */
/* yellow-darkest  : #a38001 */
/* */
/* base            : #444444 */
/* alt             : #5d7b7a */
/* accent          : #b9292f */
/* Print Defaults -------------------------------------------------------------- */
nav { display: none; }

* { background: transparent !important; color: #444444 !important; float: none !important; text-shadow: none !important; }

body { font-family: Cambria, Georgia, serif; font-size: 12pt; background: white; color: black; }

a:link, a:visited { color: #444444 !important; text-decoration: underline; }
a:after { content: " (" attr(href) ") "; font-size: smaller; }
a:after[href^="#"] { content: ""; display: none; }

abbr:after { content: " (" attr(title) ")"; font-size: smaller; }

pre, blockquote, img { page-break-inside: avoid; }

@page { margin: 0.5cm; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3 { page-break-after: avoid; }
