/* Print Defaults -------------------------------------------------------------- */
nav { display: none; }

* { background: transparent !important; color: #444444 !important; float: none !important; text-shadow: none !important; }

body { font-family: Cambria, Georgia, serif; font-size: 12pt; background: white; color: black; }

a:link, a:visited { color: #444444 !important; text-decoration: underline; }
a:after { content: " (" attr(href) ") "; font-size: smaller; }
a:after[href^="#"] { content: ""; display: none; }

abbr:after { content: " (" attr(title) ")"; font-size: smaller; }

pre, blockquote, img { page-break-inside: avoid; }

@page { margin: 0.5cm; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3 { page-break-after: avoid; }
