@charset "UTF-8";
/* Reset --------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

/* HTML5 Reset --------------------------------------------------------------*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { margin: 0; padding: 0; border: 0; outline: 0; display: block; }

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

.serif, body { font-family: Cambria, Georgia, serif; }

.sans, #messages { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, pre, code, tt { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif; }

.caps, .allcaps, h1, h2, caption, #run .status p, .smallcaps, h4, #run .testinvalid summary { letter-spacing: 0.1em; }

.allcaps, h1, h2, caption, #run .status p { text-transform: uppercase; }

.smallcaps, h4, #run .testinvalid summary { font-variant: small-caps; }

/* Body -------------------------------------------------------------- */
body { color: #444444; }

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection { color: white; background: #5d7b7a; text-shadow: none; }

::selection { color: white; background: #5d7b7a; text-shadow: none; }

/* Links -------------------------------------------------------------- */
a, a:link, a:visited { color: #5d7b7a; text-decoration: none; }
a:link, a:visited, a:hover, a:active { outline: none; }
a:focus, a:hover, a:active { color: #b9292f; text-decoration: none; }
a:focus { outline: thin dotted; }

/* Headings -------------------------------------------------------------- */
h2, h3, h4, h5, h6 { margin-bottom: 1.5em; }

h1 { font-size: 1.313em; line-height: 1.143em; margin-bottom: 1.143em; }

h3 { font-weight: bold; }

h4 { text-transform: lowercase; }

h5, h6 { font-style: italic; }

/* Inline -------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: bold; }

sup, sub { font-size: smaller; line-height: 0; }

sup { vertical-align: super; }

sub { vertical-align: sub; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; }

small { font-size: 0.75em; line-height: 2em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block -------------------------------------------------------------- */
p { margin-bottom: 1.5em; }

pre { margin: 1.5em; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

blockquote { margin: 1.5em; font-style: italic; }

/* Replaced -------------------------------------------------------------- */
img { vertical-align: text-bottom; max-width: 100%; -ms-interpolation-mode: bicubic; }

/* Lists -------------------------------------------------------------- */
ol, ul, dl { margin-bottom: 1.5em; margin-left: 1.5em; }

ol { list-style: decimal; }

ul { list-style: disc; }
li ul { list-style-type: circle; }

dt { margin-top: 1.5em; font-style: italic; }

dd { padding-left: 1.5em; }

nav ul, nav ol { list-style: none; margin: 0; padding: 0; border: 0; outline: 0; }
nav ul li, nav ol li { list-style-image: none; list-style-type: none; margin-left: 0px; }

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
table { margin-bottom: 1.5em; width: 100%; border-collapse: separate; border-spacing: 0; }
table *:last-child td { border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.688em; border-color: #cccccc; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: bold; }

th, td, caption { padding: 0.75em; text-align: left; font-weight: normal; }

th { padding-top: 1.125em; border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.313em; border-color: #cccccc; }
th a:link, th a:visited { display: block; position: relative; }
th a:link::after, th a:visited::after { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/ui/bullet_arrow_up.png?1142225394'); background-repeat: no-repeat; background-position: 50% 50%; width: 16px; height: 16px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; content: " "; margin-left: 0.4em; background-image: none; }
th a:link::after, th a:visited::after { *display: inline; }
th a:focus::after, th a:hover::after, th a:active::after { background-image: url('../images/ui/bullet_arrow_up.png?1142225394'); }
th.asc a:link::after, th.asc a:visited::after { background-image: url('../images/ui/bullet_arrow_up.png?1142225394'); }
th.asc a:focus::after, th.asc a:hover::after, th.asc a:active::after { background-image: url('../images/ui/bullet_arrow_down.png?1142225394'); }
th.desc a:link::after, th.desc a:visited::after { background-image: url('../images/ui/bullet_arrow_down.png?1142225394'); }
th.desc a:focus::after, th.desc a:hover::after, th.desc a:active::after { background-image: url('../images/ui/bullet_arrow_up.png?1142225394'); }

tr:nth-child(even) td { background: #eeeeff; }
tr:hover td { background: #ddddff; }

tfoot { font-size: 0.875em; line-height: 1.714em; }

/* Forms -------------------------------------------------------------- */
form > ul, form > ol { list-style: none; margin: 0; padding: 0; border: 0; outline: 0; }
form > ul li, form > ol li { list-style-image: none; list-style-type: none; margin-left: 0px; }
form li { position: relative; }

::-moz-focus-inner { border: 0; }

fieldset { margin-bottom: 1.5em; border-style: solid; border-width: 0.063em; padding: 1.438em; }

legend { font-size: 1.125em; line-height: 1.333em; font-weight: bold; }

label { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; padding-top: 0.375em; padding-bottom: 0.375em; font-weight: bold; }
label { *display: inline; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

input, button, textarea, select { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; vertical-align: middle; }
input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active, select:focus, select:active { -moz-box-shadow: #8bb9b7 0 0 0.25em; -webkit-box-shadow: #8bb9b7 0 0 0.25em; -o-box-shadow: #8bb9b7 0 0 0.25em; box-shadow: #8bb9b7 0 0 0.25em; -moz-box-shadow: inset #8bb9b7 0 0 0.25em; -webkit-box-shadow: inset #8bb9b7 0 0 0.25em; -o-box-shadow: inset #8bb9b7 0 0 0.25em; box-shadow: inset #8bb9b7 0 0 0.25em; z-index: 1; }
input, input optgroup, button, button optgroup, textarea, textarea optgroup, select, select optgroup { margin: 0; padding: 0; border: 0; outline: 0; }

optgroup { color: #444444; font-style: normal; font-weight: normal; }

.textinput, textarea, select, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0.875em; line-height: 1.714em; border-style: solid; border-width: 0.071em; padding: 0.357em; margin-bottom: 0.857em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; background-color: white; color: #444444; border-color: #444444; height: 2.571em; outline: 0; }
.ie7 .textinput, .ie7 textarea, .ie7 select, .ie7 input[type="text"], .ie7 input[type="password"], .ie7 input[type="email"], .ie7 input[type="url"], .ie7 input[type="tel"], .ie7 input[type="date"], .ie7 input[type="datetime"], .ie7 input[type="datetime-local"], .ie7 input[type="month"], .ie7 input[type="week"], .ie7 input[type="time"], .ie7 input[type="number"], .ie7 input[type="search"], .ie7 input[type="color"] { height: auto; }
.textinput [disabled], textarea [disabled], select [disabled], input[type="text"] [disabled], input[type="password"] [disabled], input[type="email"] [disabled], input[type="url"] [disabled], input[type="tel"] [disabled], input[type="date"] [disabled], input[type="datetime"] [disabled], input[type="datetime-local"] [disabled], input[type="month"] [disabled], input[type="week"] [disabled], input[type="time"] [disabled], input[type="number"] [disabled], input[type="search"] [disabled], input[type="color"] [disabled] { background-color: #eeeeee; color: #6a6a6a; }

input, textarea { -webkit-appearance: none; }
input:valid, textarea:valid { -moz-box-shadow: green 0 0 0.25em; -webkit-box-shadow: green 0 0 0.25em; -o-box-shadow: green 0 0 0.25em; box-shadow: green 0 0 0.25em; -moz-box-shadow: inset green 0 0 0.25em; -webkit-box-shadow: inset green 0 0 0.25em; -o-box-shadow: inset green 0 0 0.25em; box-shadow: inset green 0 0 0.25em; }
input:invalid, textarea:invalid { -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; -ms-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px; -moz-box-shadow: red 0 0 0.25em; -webkit-box-shadow: red 0 0 0.25em; -o-box-shadow: red 0 0 0.25em; box-shadow: red 0 0 0.25em; -moz-box-shadow: inset red 0 0 0.25em; -webkit-box-shadow: inset red 0 0 0.25em; -o-box-shadow: inset red 0 0 0.25em; box-shadow: inset red 0 0 0.25em; }
input:invalid:focus, textarea:invalid:focus { -moz-box-shadow: #8bb9b7 0 0 0.25em; -webkit-box-shadow: #8bb9b7 0 0 0.25em; -o-box-shadow: #8bb9b7 0 0 0.25em; box-shadow: #8bb9b7 0 0 0.25em; -moz-box-shadow: inset #8bb9b7 0 0 0.25em; -webkit-box-shadow: inset #8bb9b7 0 0 0.25em; -o-box-shadow: inset #8bb9b7 0 0 0.25em; box-shadow: inset #8bb9b7 0 0 0.25em; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #fef0bf; }

textarea { height: auto; overflow: auto; resize: vertical; }

select[multiple] { height: auto; }

input { vertical-align: middle; }
input[type="range"] { width: 100%; }
input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }

.form-actions { clear: both; text-align: right; }

button { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; background: #dddddd url('../images/forms/button.png?1295396398') repeat-x; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5e37f), color-stop(100%, #77b929)); background: -moz-linear-gradient(top center, #b5e37f 0%, #77b929 100%); background: linear-gradient(top center, #b5e37f 0%, #77b929 100%); border-color: #759d45; border-style: solid; border-width: 0.063em; padding: 0.313em; padding-left: 1em; padding-right: 1em; text-shadow: white 0 1px 1px; margin-bottom: 0.75em; cursor: pointer; color: #111111; font: inherit; outline: 0; overflow: visible; width: auto; vertical-align: baseline; }
button[disabled] { background: #dddddd url('../images/forms/button.png?1295396398') repeat-x; color: #888888; }
button.sub { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; display: inline; background: none; color: inherit; padding: 0; margin: 0; border: 0; color: #5d7b7a; }
button.sub:focus, button.sub:hover, button.sub:active { color: #b9292f; }

.button, input[type="reset"], input[type="submit"], input[type="button"] { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; background: #dddddd url('../images/forms/button.png?1295396398') repeat-x; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5e37f), color-stop(100%, #77b929)); background: -moz-linear-gradient(top center, #b5e37f 0%, #77b929 100%); background: linear-gradient(top center, #b5e37f 0%, #77b929 100%); border-color: #759d45; border-style: solid; border-width: 0.063em; padding: 0.313em; padding-left: 1em; padding-right: 1em; text-shadow: white 0 1px 1px; margin-bottom: 0.75em; cursor: pointer; color: #111111; font: inherit; outline: 0; overflow: visible; width: auto; vertical-align: baseline; }
.button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] { background: #dddddd url('../images/forms/button.png?1295396398') repeat-x; color: #888888; }

.redbutton, #run .fail { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5d2d4), color-stop(100%, #de6a6f)); background: -moz-linear-gradient(top center, #f5d2d4 0%, #de6a6f 100%); background: linear-gradient(top center, #f5d2d4 0%, #de6a6f 100%); border-color: #c78184; }

.yellowbutton, #run .invalid { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fee58c), color-stop(100%, #fdc80e)); background: -moz-linear-gradient(top center, #fee58c 0%, #fdc80e 100%); background: linear-gradient(top center, #fee58c 0%, #fdc80e 100%); border-color: #deb72c; }

.bluebutton, #run .start { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dbe9e8), color-stop(100%, #8bb9b7)); background: -moz-linear-gradient(top center, #dbe9e8 0%, #8bb9b7 100%); background: linear-gradient(top center, #dbe9e8 0%, #8bb9b7 100%); border-color: #a2a2a2; }

.errorlist { list-style: none; margin: 0; padding: 0; border: 0; outline: 0; margin-bottom: 1.5em; color: #b9292f; }
.errorlist li { list-style-image: none; list-style-type: none; margin-left: 0px; }

/* Helpers ------------------------------------------------------------------- */
.full, header[role="banner"], div[role="main"], footer[role="contentinfo"], .environment form { clear: both; margin-right: 1.176%; margin-left: 1.176%; *zoom: 1; }
.full:after, header[role="banner"]:after, div[role="main"]:after, footer[role="contentinfo"]:after, .environment form:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

.simple, #login, #register, #products, #environment { clear: both; padding-left: 25.301%; padding-right: 25.301%; }

/* left and right floats for dynamic content */
.left { display: inline; float: left; margin-right: 1em; margin-bottom: 0.5em; }

.right { display: inline; float: right; margin-left: 1em; margin-bottom: 0.5em; }

.no-details details > * { display: none; }
.no-details details summary { display: block; cursor: pointer; }

/* Layout -------------------------------------------------------------- */
body { font-size: 100%; line-height: 1.5em; }

html > body { font-size: 16px; }

.container, body > div { *zoom: 1; margin-left: auto; margin-right: auto; width: 85em; max-width: 100%; min-width: 750px; }
.container:after, body > div:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

body > div { padding-top: 0.375em; }

header[role="banner"] { border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.688em; border-color: #cccccc; }
header[role="banner"] h1 { display: inline; float: left; width: 11.446%; margin-right: 1.205%; margin-bottom: 0em; }
header[role="banner"] h1 a:link, header[role="banner"] h1 a:visited { padding-top: 0.571em; display: block; color: #444444; }
header[role="banner"] h1 a:focus, header[role="banner"] h1 a:hover, header[role="banner"] h1 a:active { color: #b9292f; }

nav[role="navigation"] { display: inline; float: left; width: 49.398%; margin-right: 1.205%; padding-top: 0.75em; text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0; }
nav[role="navigation"] li { display: inline; float: left; margin-right: 0.5em; }
nav[role="navigation"] a:not([href]) { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; color: inherit; cursor: default; }
nav[role="navigation"] a, nav[role="navigation"] a:link, nav[role="navigation"] a:visited { padding-top: 0.375em; padding-bottom: 0.375em; padding-left: 1em; padding-right: 1em; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; -o-border-radius: 0.25em; -ms-border-radius: 0.25em; -khtml-border-radius: 0.25em; border-radius: 0.25em; }
nav[role="navigation"] a:focus, nav[role="navigation"] a:hover, nav[role="navigation"] a:active, nav[role="navigation"] a.active { background: rgba(68, 68, 68, 0.25); }

nav.meta { display: inline; float: left; width: 36.747%; margin-right: 1.205%; display: inline; float: right; margin-right: 0; #margin-left: -1em; padding-top: 0.75em; text-align: right; }
nav.meta li { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; font-size: 0.875em; line-height: 1.714em; padding: 0 0.5em; border-right: 1px solid; vertical-align: baseline; }
nav.meta li { *display: inline; }
nav.meta li:last-child { border: 0; padding-right: 0; }

nav.crumb { display: inline; float: left; width: 72.941%; margin-right: 1.176%; margin-left: 1.176%; padding-top: 0.375em; padding-bottom: 0.375em; clear: both; border-color: #cccccc; }
nav.crumb li { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; vertical-align: baseline; }
nav.crumb li { *display: inline; }
nav.crumb li::after { content: " »"; }
nav.crumb li:last-child::after { content: ""; }
nav.crumb li:last-child a { color: inherit; }

div[role="main"] { *zoom: 1; border-top-style: solid; border-top-width: 0.063em; padding-top: 1.438em; border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 1.438em; border-color: #cccccc; position: relative; }
div[role="main"]:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

#messages { clear: both; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; -o-border-radius: 0.5em; -ms-border-radius: 0.5em; -khtml-border-radius: 0.5em; border-radius: 0.5em; border-style: solid; border-width: 0.063em; padding: 0.688em; margin-bottom: 1.5em; text-shadow: #eeffee 1px 1px 0; background: #ccffcc; color: #666666; font-weight: bold; }
#messages ul { list-style: none; margin: 0; padding: 0; border: 0; outline: 0; }
#messages ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
#messages li + li { margin-top: 0.75em; }

footer[role="contentinfo"] { font-size: 0.75em; line-height: 2em; margin-bottom: 2em; font-style: italic; }
footer[role="contentinfo"] .author, footer[role="contentinfo"] .credit { display: inline; float: left; width: 48.78%; margin-right: 2.439%; }
footer[role="contentinfo"] .adr { display: inline; }
footer[role="contentinfo"] .adr::before { content: "| "; }
footer[role="contentinfo"] .credit { display: inline; float: right; margin-right: 0; #margin-left: -1em; text-align: right; }
footer[role="contentinfo"] small { font-size: 1em; }

/* login -------------------------------------------------------------- */
#login li .errorlist, #register li .errorlist { position: absolute; left: 102.439%; top: 0.375em; width: 48.78%; margin: 0; }

#login label { text-indent: -119988px; overflow: hidden; text-align: left; position: absolute; }
#login .logo { clear: both; padding-left: 25.61%; padding-right: 25.61%; margin-bottom: 1.5em; }
#login h2 { margin: 0; }
#login form { clear: both; }

/* register -------------------------------------------------------------- */
#register li { *zoom: 1; }
#register li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#register label { display: inline; float: left; width: 31.707%; margin-right: 2.439%; }
#register input { display: inline; float: left; width: 65.854%; margin-right: 2.439%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }

/* products -------------------------------------------------------------- */
#products .list { list-style: none; margin: 0; padding: 0; border: 0; outline: 0; }
#products .list li { list-style-image: none; list-style-type: none; margin-left: 0px; }
#products .list li { margin-bottom: 0.75em; display: inline; float: left; width: 31.707%; margin-right: 2.439%; }
#products .list li a { border-style: solid; border-width: 0.063em; padding: 0.688em; display: block; background: #eeffee; }
#products .list li:nth-child(3n) { display: inline; float: right; margin-right: 0; #margin-left: -1em; }
#products .list li:first-child:last-child { float: none; display: block; width: auto; margin-right: auto; clear: both; }
#products .list li:first-child:nth-last-child(2), #products .list li:first-child:nth-last-child(2) ~ li, #products .list li:first-child:nth-last-child(4), #products .list li:first-child:nth-last-child(4) ~ li, #products .list li:first-child:nth-last-child(7), #products .list li:first-child:nth-last-child(7) ~ li { display: inline; float: left; width: 48.78%; margin-right: 2.439%; }
#products .list li:first-child:nth-last-child(2):nth-child(3n), #products .list li:first-child:nth-last-child(2) ~ li:nth-child(3n), #products .list li:first-child:nth-last-child(4):nth-child(3n), #products .list li:first-child:nth-last-child(4) ~ li:nth-child(3n), #products .list li:first-child:nth-last-child(7):nth-child(3n), #products .list li:first-child:nth-last-child(7) ~ li:nth-child(3n) { display: inline; float: left; margin-right: 2.439%; }
#products .list li:first-child:nth-last-child(2):nth-child(2n), #products .list li:first-child:nth-last-child(2) ~ li:nth-child(2n), #products .list li:first-child:nth-last-child(4):nth-child(2n), #products .list li:first-child:nth-last-child(4) ~ li:nth-child(2n), #products .list li:first-child:nth-last-child(7):nth-child(2n), #products .list li:first-child:nth-last-child(7) ~ li:nth-child(2n) { display: inline; float: right; margin-right: 0; #margin-left: -1em; }
#products .list li:first-child:nth-last-child(3n), #products .list li:first-child:nth-last-child(3n) ~ li, #products .list li:first-child:nth-last-child(5n), #products .list li:first-child:nth-last-child(5n) ~ li { display: inline; float: left; width: 31.707%; margin-right: 2.439%; }
#products .list li:first-child:nth-last-child(3n):nth-child(3n), #products .list li:first-child:nth-last-child(3n) ~ li:nth-child(3n), #products .list li:first-child:nth-last-child(5n):nth-child(3n), #products .list li:first-child:nth-last-child(5n) ~ li:nth-child(3n) { display: inline; float: right; margin-right: 0; #margin-left: -1em; }

/* environment -------------------------------------------------------------- */
.environment { position: relative; }
.environment summary { display: inline; float: left; width: 23.529%; margin-right: 1.176%; display: inline; float: right; margin-right: 1.176%; #margin-left: -1em; padding-top: 0.375em; padding-bottom: 0.375em; text-align: right; color: #5d7b7a; }
.environment summary:hover { color: #b9292f; }
.environment form { padding-left: 49.412%; border-top-style: solid; border-top-width: 0.063em; padding-top: 1.438em; margin-bottom: 0.75em; border-color: #cccccc; }
.environment li { *zoom: 1; }
.environment li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
.environment label { display: inline; float: left; width: 31.707%; margin-right: 2.439%; }
.environment input, .environment select, .environment textarea { display: inline; float: left; width: 65.854%; margin-right: 2.439%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }

#environment li { *zoom: 1; }
#environment li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#environment label { display: inline; float: left; width: 31.707%; margin-right: 2.439%; }
#environment input, #environment select, #environment textarea { display: inline; float: left; width: 65.854%; margin-right: 2.439%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }

/* cycles + testruns -------------------------------------------------------------- */
#cycles .date, #testruns .date { width: 15.663%; }
#cycles .start, #cycles .end, #testruns .start, #testruns .end { width: 11.446%; }
#cycles td:first-child, #testruns td:first-child { padding: 0; border: 0; }
#cycles td:first-child a:link, #cycles td:first-child a:visited, #testruns td:first-child a:link, #testruns td:first-child a:visited { display: block; padding: 0.75em; border-color: #cccccc; border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.688em; }
#cycles .note, #testruns .note { margin-top: -0.75em; margin-bottom: 2.25em; text-align: right; font-style: italic; }

/* create tests -------------------------------------------------------------- */
.remove { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url(http://dummyimage.com/16/933/fff&text=X); background-repeat: no-repeat; background-position: 50% 50%; display: block; height: 1.5em; }

.add { display: block; text-align: right; }

#create li { *zoom: 1; }
#create li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#create .form-actions { margin-top: 1.5em; }
#create .meta { display: inline; float: left; width: 49.398%; margin-right: 1.205%; }
#create .meta li { *zoom: 1; }
#create .meta li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#create .meta label { display: inline; float: left; width: 14.634%; margin-right: 2.439%; }
#create .meta input, #create .meta select, #create .meta textarea { display: inline; float: left; width: 82.927%; margin-right: 2.439%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }
#create .env { display: inline; float: left; width: 49.398%; margin-right: 1.205%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }
#create .env ul { list-style: none; margin: 0; padding: 0; border: 0; outline: 0; }
#create .env ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
#create .env select { display: inline; float: left; width: 40.244%; margin-right: 2.439%; }
#create .env select + select { display: inline; float: left; width: 48.78%; margin-right: 2.439%; }
#create .env .remove { display: inline; float: left; width: 6.098%; margin-right: 2.439%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }
#create .env .add { margin-right: 8.537%; }
#create .steps { clear: both; counter-reset: step; }
#create .steps .remove { display: inline; float: left; width: 3.012%; margin-right: 1.205%; display: inline; float: right; margin-right: 0; #margin-left: -1em; margin-top: 1.5em; }
#create .steps .add { margin-right: 4.217%; }
#create .steps li { position: relative; counter-increment: step; }
#create .steps li::before { font-size: 3em; line-height: 1em; content: counter(step, decimal) "."; position: absolute; left: 0; top: 1.5em; }
#create .steps li:last-child::before { content: ""; }
#create .steps textarea { min-height: 9em; }
#create .step { display: inline; float: left; width: 40.964%; margin-right: 1.205%; margin-left: 8.434%; }
#create .result { display: inline; float: left; width: 45.181%; margin-right: 1.205%; }

/* run tests -------------------------------------------------------------- */
#run .test, #run .content { clear: both; }
#run .test { *zoom: 1; }
#run .test:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#run .test[open], #run .test.open, #run .test .header { border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.688em; }
#run .test[open] .header, #run .test.open .header { border-bottom-color: #cccccc; }
#run .test:first-of-type, #run .test:first-of-type[open], #run .test:first-of-type.open { padding-top: 0; }
#run .test:first-of-type .header, #run .test:first-of-type[open] .header, #run .test:first-of-type.open .header { border-top-style: solid; border-top-width: 0.063em; padding-top: 0.688em; }
#run .header { *zoom: 1; padding-top: 0.75em; }
#run .header:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#run .header p { padding-top: 0.375em; padding-bottom: 0.375em; margin: 0; }
#run header { display: inline; float: left; width: 83.133%; margin-right: 1.205%; margin-top: 0.375em; margin-bottom: 0.375em; }
#run header h3 { display: inline; float: left; width: 69.565%; margin-right: 1.449%; font-size: 1.5em; line-height: 1em; margin: 0; font-weight: normal; }
#run header small { display: inline; float: left; width: 8.696%; margin-right: 1.449%; font-size: 0.875em; line-height: 1.714em; vertical-align: top; font-weight: bold; text-align: right; }
#run .status { display: inline; float: left; width: 15.663%; margin-right: 1.205%; display: inline; float: right; margin-right: 0; #margin-left: -1em; text-align: center; }
#run .status p { -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; margin: 0 7.692%; color: #eeeeee; font-weight: bold; }
#run .status button { width: 84.615%; margin: 0 7.692%; }
#run .steps { padding-left: 8.434%; padding-right: 16.867%; margin-top: 1.5em; margin-left: 0; }
#run li { *zoom: 1; clear: both; position: relative; }
#run li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#run h4 { margin-bottom: 0.75em; background: #eeeeee; }
#run .results { clear: both; }
#run .stepfail { clear: both; margin-bottom: 1.5em; }
#run .stepfail summary { position: absolute; right: 0; top: 0; width: 8.065%; padding: 0 1.613%; background: rgba(227, 127, 131, 0.5); color: #eeeeee; text-align: center; }
#run .stepfail summary:hover { background: #b9292f; }
#run .stepfail[open] summary, #run .stepfail.open summary, #run .stepfail.failed summary { background: #b9292f; }
#run .failform textarea, #run .invalidform textarea { min-height: 9em; }
#run .failform, #run .faildesc { margin-top: 1.5em; padding-top: 1.5em; padding-left: 1.613%; padding-right: 1.613%; background: #fef0bf; }
#run .invalidform, #run .invaliddesc { display: inline; float: left; padding-top: 1.5em; margin-bottom: 1.5em; padding-left: 1.205%; padding-right: 1.205%; -moz-border-radius-bottomleft: 1em; -webkit-border-bottom-left-radius: 1em; -o-border-bottom-left-radius: 1em; -ms-border-bottom-left-radius: 1em; -khtml-border-bottom-left-radius: 1em; border-bottom-left-radius: 1em; -moz-border-radius-bottomright: 1em; -webkit-border-bottom-right-radius: 1em; -o-border-bottom-right-radius: 1em; -ms-border-bottom-right-radius: 1em; -khtml-border-bottom-right-radius: 1em; border-bottom-right-radius: 1em; width: 72.289%; margin-left: 8.434%; background: #fee58c; }
#run .testinvalid { position: relative; }
#run .testinvalid summary { text-shadow: rgba(254, 240, 191, 0.75) 1px 1px 0; -moz-border-radius-bottomleft: 1em; -webkit-border-bottom-left-radius: 1em; -o-border-bottom-left-radius: 1em; -ms-border-bottom-left-radius: 1em; -khtml-border-bottom-left-radius: 1em; border-bottom-left-radius: 1em; -moz-border-radius-bottomright: 1em; -webkit-border-bottom-right-radius: 1em; -o-border-bottom-right-radius: 1em; -ms-border-bottom-right-radius: 1em; -khtml-border-bottom-right-radius: 1em; border-bottom-right-radius: 1em; position: absolute; top: 0; right: 0; width: 13.253%; padding: 0.75em 1.205%; background: #fef0bf; text-align: center; }
#run .testinvalid summary:hover { background: #fee58c; }
#run .testinvalid[open] summary, #run .testinvalid.open summary, #run .testinvalid.invalidated summary { background: #fee58c; }
#run .start, #run .pass, #run .fail { padding-left: 1em; padding-right: 1em; }
#run .invalid, #run .fail { margin-bottom: 1.5em; width: 20.968%; }
#run .started .header { background: #accbc9; }
#run .passed .header { background: #cdeca9; }
#run .passed .status p { text-shadow: rgba(52, 81, 18, 0.75) 1px 1px 0; background: #77b929 url('../images/ui/accept.png?1142225294') no-repeat scroll 7.692%; }
#run .invalidated .header { background: #fef0bf; }
#run .invalidated .status p { text-shadow: rgba(185, 41, 47, 0.75) 1px 1px 0; background: #d6a702 url('../images/ui/error.png?1142225566') no-repeat scroll 7.692%; }
#run .failed .header { background: #eca9ab; }
#run .failed .status p { text-shadow: rgba(81, 18, 20, 0.75) 1px 1px 0; background: #b9292f url('../images/ui/delete.png?1142225530') no-repeat scroll 7.692%; }
