/*
Syntax error: Invalid mixin "======".
        on line 50 of /Users/eric/Sites/mozilla/mozilla_code/ui/sass/sections/_test.sass
        from line 186 of /Users/eric/Sites/mozilla/mozilla_code/ui/sass/screen.sass

Backtrace:
/Users/eric/Sites/mozilla/mozilla_code/ui/sass/sections/_test.sass:50
/Users/eric/Sites/mozilla/mozilla_code/ui/sass/screen.sass:186
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:779:in `parse_mixin_definition'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:546:in `parse_line'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:447:in `build_tree'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:466:in `append_children'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:465:in `each'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:465:in `append_children'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:322:in `_to_tree'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:249:in `to_tree'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:249:in `to_tree'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:291:in `_render'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:239:in `render'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/sass-3.1.0/lib/sass/../sass/engine.rb:239:in `render'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:130:in `compile'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:129:in `compile'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/logger.rb:45:in `red'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:128:in `compile'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:108:in `compile_if_required'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:95:in `run'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `each'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `run'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/compiler.rb:92:in `run'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/commands/watch_project.rb:142:in `recompile'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:36:in `to_proc'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `modified'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/fsevents.rb:15:in `add_handler'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/fsevents.rb:14:in `each'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/fsevents.rb:14:in `add_handler'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `call'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `initialize'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/fsevents.rb:27:in `call'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/fsevents.rb:27:in `CFRunLoopRun'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/backends/fsevents.rb:27:in `run'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/commands/base.rb:18:in `execute'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/bin/compass:25
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/bin/compass:39:in `call'
/Users/eric/Sites/.venvs/mozilla/rubygems/gems/compass-0.11.1/bin/compass:39
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid mixin \"======\".\A         on line 50 of /Users/eric/Sites/mozilla/mozilla_code/ui/sass/sections/_test.sass\A         from line 186 of /Users/eric/Sites/mozilla/mozilla_code/ui/sass/screen.sass"; }
