{% extends 'users/login.html' %}

{% block logintype %}logintype-browserid{% endblock logintype %}

{% block login-content %}
  <div class="browserid">
    <a id="browserid" href="#">Sign in</a> with <a href="https://persona.org/">Mozilla Persona</a>.
  </div>
  <form method="POST" action="{% url 'browserid_verify' %}" id="browserid-form">
    {% csrf_token %}
    <input type="hidden" name="assertion" id="id_assertion" />
    <input type="hidden" name="next" id="id_next" value="{{ next|default:'/' }}" />
  </form>
{% endblock %}
