{% extends 'users/base.html' %}

{% block title %}Login | {{ block.super }}{% endblock title %}

{% block content %}
<section id="login">
  <h2>Login</h2>
  <form method="POST" id="loginform">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formfields">
      {% include "forms/_field.html" with field=form.username %}
      {% include "forms/_field.html" with field=form.password %}
      {% if form.captcha %}

      <p>
        Your account or IP address has failed too many login attempts
        recently. In order to keep your account secure, we need to verify that
        you're a real human, not an automated account-cracking bot. Please
        answer the simple math question below:
      </p>

      {% include "forms/_field.html" with field=form.captcha %}

      {% endif %}
    </div>
    <div class="form-actions">
      <a href="{% url registration_register %}">register</a> or
      <button type="submit">login</button>
    </div>
    <p class="forgot">
      Forgot your password?
      <a href="{% url auth_password_reset %}">Reset it</a>.
    </p>
  </form>
  <a id="browserid" href="#">BrowserID</a>
  <form method="POST" action="{% url browserid_verify %}" id="browserid-form">
    {% csrf_token %}
    <input type="hidden" name="assertion" id="id_assertion" />
    <input type="hidden" name="next" id="id_next" value="{{ next }}" />
  </form>
</section>
{% endblock content %}
