{% extends 'users/base.html' %}

{% block title %}Reset Password | {{ block.super }}{% endblock title %}

{% block content %}
<section id="resetpassword">
  <h2>Reset Password</h2>
  <form method="POST" id="resetpasswordform">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formfields">
      {% for field in form %}
      {% include "forms/_field.html" %}
      {% endfor %}
    </div>
    <div class="form-actions">
      <button type="submit">reset your password</button>
    </div>
  </form>
</section>
{% endblock content %}
