{% extends 'users/base.html' %}

{% block title %}Change Password | {{ block.super }}{% endblock title %}

{% block content %}
<section id="changepassword">
  <h2>Change Password</h2>
  <form method="POST" id="changepasswordform">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formfields">
      {% for field in form %}
      {% include "forms/_field.html" %}
      {% endfor %}
    </div>
    <div class="form-actions">
      {# @@@ should take you back to where you were #}
      <a href="#" class="cancel">cancel</a> or
      <button type="submit">change your password</button>
    </div>
  </form>
</section>
{% endblock content %}
