{% extends 'users/base.html' %}

{% block title %}Set New Password | {{ block.super }}{% endblock title %}

{% block content %}
<section id="setpassword">
  <h2>Set New Password</h2>
  {% if validlink %}
    <form method="POST" id="setpasswordform">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="formfields">
        {% for field in form %}
        {% include "forms/_field.html" %}
        {% endfor %}
      </div>
      <div class="form-actions">
        <button type="submit">set your password</button>
      </div>
    </form>
  {% else %}
    <p>
      This password reset link is not valid. You can
      <a href="{% url 'auth_password_reset' %}">request another link</a>.
    </p>
  {% endif %}
</section>
{% endblock content %}
