{% extends 'users/base.html' %}

{% block title %}Choose a username | {{ block.super }}{% endblock title %}

{% block content %}
<section id="setusername">
  <h2>Welcome! Please choose a username</h2>

  <p>We keep your email private, but we need a username to publicly identify
  you on the site.</p>

  <form method="POST" id="setusernameform">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ form.non_field_errors }}
    <div class="formfields">
      {% for field in form %}
      {% include "forms/_field.html" %}
      {% endfor %}
    </div>
    <div class="form-actions">
      <a href="{% url auth_logout %}?next={{ next }}">cancel</a> or
      <button type="submit">continue!</button>
    </div>
  </form>
</section>
{% endblock content %}
