<nav id="filter">
  <h3 class="navhead">List Filtering</h3>
    <section class="textual">
      <h4 class="navhead">Basic Filtering</h4>
      <label for="text-filter">filter</label>
      <input type="text" name="text-filter" value="" id="text-filter" placeholder="filter by {% for field in filter %}{% if forloop.last %}or {% endif %}{{ field.name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}.">
      <ul class="suggest">
        <li><a href="#"><b>tes</b>t Run 1A <i>[testrun]</i></a></li>
        <li><a href="#"><b>tes</b> <i>[name]</i></a></li>
      </ul>
    </section>

    <section class="visual compact">
      <h4 class="toggle"><a href="#">Advanced Filtering</a></h4>
      <div class="content">
        <form method="GET">
          {# preserve pagination and sort state, if any #}
          {% if pager %}
          {# re-filtering should jump back to page 1 #}
          <input type="hidden" name="pagenumber" value="1">
          <input type="hidden" name="pagesize" value="{{ pager.pagesize }}">
          {% endif %}
          {% if sort.field %}
          <input type="hidden" name="sortfield" value="{{ sort.field }}">
          <input type="hidden" name="sortdirection" value="{{ sort.direction }}">
          {% endif %}

          {% for field in filter %}
          <section class="filter-group {{ field.cls }}" data-name="{{ field.name }}">
            <h5>{{ field.name|lower }}</h5>
            <ul>
              {% for option in field %}
              <li>
                <input type="checkbox" name="{{ field.name }}" value="{{ option.value }}" id="id-{{ field.name }}-{{ option.value }}"{% if option.selected %} checked{% endif %}>
                <label for="id-{{ field.name }}-{{ option.value }}">{{ option.label }}</label>
              </li>
              {% endfor %}
          </section>
          {% endfor %}
          <div class="form-actions">
            <button type="submit">update list</button>
          </div>
        </form>
      </div>
    </section>
</nav>
