<nav id="filter">
  <h3 class="navhead">List Filtering</h3>
    <section class="textual">
      <h4 class="navhead">Basic Filtering</h4>
      <label for="filter">filter</label>
      <input type="text" name="filter" value="" id="filter" placeholder="filter by operating system, language, status, keyword, etc.">
      <ul class="suggest">
        <li><a href="#"><b>en</b>glish <i>[language]</i></a></li>
        <li><a href="#"><b>en</b>titled <i>[keyword]</i></a></li>
        <li><a href="#"><b>en</b>dangered <i>[keyword]</i></a></li>
      </ul>
    </section>

    <section class="visual compact">
      <h4 class="toggle"><a href="#">Advanced Filtering</a></h4>
      <div class="content">
        <form method="GET">
          {# preserve pagination and sort state, if any #}
          {% if pager %}
          {# re-filtering should jump back to page 1 #}
          <input type="hidden" name="pagenumber" value="1">
          <input type="hidden" name="pagesize" value="{{ pager.pagesize }}">
          {% endif %}
          {% if sort %}
          <input type="hidden" name="sortfield" value="{{ sort.field }}">
          <input type="hidden" name="sortdirection" value="{{ sort.direction }}">
          {% endif %}

          {% for field in filter %}
          <section>
            <h5>{{ field.name }}</h5>
            <ul>
              {% for option in field %}
              <li>
                <input type="checkbox" name="{{ field.name }}" value="{{ option.value }}" id="id-{{ field.name }}-{{ option.value }}"{% if option.selected %} checked{% endif %}>
                <label for="id-{{ field.name }}-{{ option.value }}">{{ option.label }} <small>0</small></label>
              </li>
              {% endfor %}
          </section>
          {% endfor %}
          <button type="submit">update</button>
        </form>
      </div>
    </section>
</nav>
