{% load icanhaz %}

<nav id="filter">
  <h3 class="navhead">List Filtering</h3>
    <section class="textual">
      <h4 class="navhead">Basic Filtering</h4>
      <label for="text-filter">filter</label>
      <input type="text" name="text-filter" value="" id="text-filter" placeholder="filter by {% for field in filter %}{% if forloop.last and not forloop.first %}or {% endif %}{{ field.name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}.">
      <ul class="suggest">
        {% icanhaz "filter_suggestion" %}
        {% icanhaz "keyword_filter_suggestion" %}
      </ul>
    </section>

    <section class="visual compact">
      <h4 class="toggle"><a href="#">Advanced Filtering</a></h4>
      <div class="content">
        <form method="GET">
          {# preserve pagination and sort state, if any #}
          {% if pager %}
          {# re-filtering should jump back to page 1 #}
          <input type="hidden" name="pagenumber" value="1">
          <input type="hidden" name="pagesize" value="{{ pager.pagesize }}">
          {% endif %}
          {% if sort.field %}
          <input type="hidden" name="sortfield" value="{{ sort.field }}">
          <input type="hidden" name="sortdirection" value="{{ sort.direction }}">
          {% endif %}

          {% icanhaz "keyword_filter" %}
          {% for field in filter %}
          <section class="filter-group {{ field.cls }}" data-name="{{ field.name }}">
            <h5>{{ field.name|lower }}</h5>
            <ul class="{% if field|length > 6 %}long{% endif %}">
              {% for option in field %}
              <li>
                <input type="checkbox" name="{{ field.name }}" value="{{ option.value }}" id="id-{{ field.name }}-{{ forloop.counter }}"{% if option.selected %} checked{% endif %}>
                <label for="id-{{ field.name }}-{{ forloop.counter }}">{{ option.label }}</label>
              </li>
              {% endfor %}
              {% if field.cls == "keyword" %}{# @@@ check this logic #}
                <li>
                  <input type="text" name="{{ field.name }}" value="" id="id-{{ field.name }}" placeholder="add {{ field.name }} filter">
                </li>
              {% endif %}
            </ul>
          </section>
          {% endfor %}
          <div class="form-actions">
            <p>
              List no longer reflects filters:
              <a href="" class="reset">reset the filters</a> or
              <button type="submit">update the list</button>
            </p>
          </div>
        </form>
      </div>
    </section>
</nav>
