{% load environment %}

{% get_environment_selection_form for object.environmentgroups as form %}

<h3>Set your environment</h3>
<form method="POST" action="{{ object.environmentgroups|set_environment_url }}"%}>
  <input type="hidden" name="next" value="{{ next|default:request.path }}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <ul>
    {% for field in form %}
    <li>
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
    </li>
    {% endfor %}
  </ul>
  <div class="form-actions">
    <button type="submit">run tests in {{ object }}!</button>
  </div>
</form>
