{% with "runtests" as picker_type %}
<form class="finder expanded" data-cols="3">
  <div class="carousel">
    <section class="col products{% if not cycle and not testrun %} focus{% endif %}">
      <header class="listordering">
        <h3 class="bytitle" data-sort="string">
          <a href="#" class="asc">Products</a>
        </h3>
      </header>
      <ul class="colcontent">
        {% for object in products %}
        {% include "runtests/picker/_product.html" with active=product %}
        {% endfor %}
      </ul>
    </section>
    <section class="col cycles{% if cycle and not testrun %} focus{% endif %}">
      <header class="listordering">
        <p class="bycompletion" data-sort="number"><a href="#">%</a></p>
        <h3 class="bytitle" data-sort="string"><a href="#" class="asc">Cycles</a></h3>
        <p class="bystart" data-sort="date"><a href="#">start</a></p>
        <p class="byend" data-sort="date"><a href="#">end</a></p>
      </header>
      <ul class="colcontent">
        {% for object in cycles %}
        {% include "runtests/picker/_cycle.html" with active=cycle %}
        {% endfor %}
      </ul>
    </section>
    <section class="col runs{% if testrun %} focus{% endif %}">
      <header class="listordering">
        <h3 class="bytitle" data-sort="string"><a href="#" class="asc">Runs</a></h3>
        <p class="bystart" data-sort="date"><a href="#">start</a></p>
        <p class="byend" data-sort="date"><a href="#">end</a></p>
      </header>
      <ul class="colcontent">
        {% for object in runs %}
        {% include "runtests/picker/_run.html" with active=testrun %}
        {% endfor %}
      </ul>
    </section>
  </div>
</form>
{% endwith %}
