<form class="finder expanded" data-cols="3">
  <div class="carousel">
    <section class="col products focus">
      <header class="listordering">
        <h3 class="bytitle">
          <a href="#" class="asc">Products</a>
        </h3>
      </header>
      <ul class="colcontent">
        {% for product in products %}
        {% include "runtests/picker/_product.html" with object=product %}
        {% endfor %}
      </ul>
    </section>
    <section class="col cycles">
      <header class="listordering">
        <p class="bycompletion"><a href="#">%</a></p>
        <h3 class="bytitle"><a href="#" class="asc">Cycles</a></h3>
        <p class="bystart"><a href="#">start</a></p>
        <p class="byend"><a href="#">end</a></p>
      </header>
      <ul class="colcontent"></ul>
    </section>
    <section class="col runs">
      <header class="listordering">
        <h3 class="bytitle"><a href="#" class="asc">Runs</a></h3>
        <p class="bystart"><a href="#">start</a></p>
        <p class="byend"><a href="#">end</a></p>
      </header>
      <ul class="colcontent"></ul>
    </section>
  </div>
</form>