<li>
  <input type="radio" name="{{ object.api_name }}" value="{{ object.id }}" id="{{ object.api_name }}-{{ object.id }}" data-ajax-url="{{ ajax_url }}">
  <label for="{{ object.api_name }}-{{ object.id }}">
    {% block columns %}{% endblock %}
    <span class="title">{{ object.name }}</span>
    <time class="start">{{ object.startDate|date }}</time>
    <time class="end">{{ object.endDate|date }}</time>
  </label>
  {# @@@ for manage/results version <a href="#" class="open" title="open all the {{ object.name }} runs">open all the {{ object.name }} runs</a> #}
</li>
