{% extends 'runtests/base.html' %}
{% load execution %}

{% block page-status %}incomplete{% endblock %}

{% block page-notes %}
{{ block.super }}
<p>The breadcrumb navigation integrated with run and environment selection is only wireframed.</p>
{% endblock %}

{% block bread %}
<nav class="testnav details">
  <div class="summary">
    <div class="container">
      <ul class="currentrun">
        <li><a href="{% url runtests %}">run tests</a></li>
        <li><a href="#">{{ product }}</a></li>
        <li><a href="#">{{ cycle }}</a></li>
        <li><a href="#">{{ testrun }}</a></li>
        <li class="envsettings">
          [
          {% for env in request.environments %}
          {{ env.name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
          ]
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="selectruns">
      <h2>Select a product, cycle and run</h2>
      {% include "runtests/_picker.html" %}
    </div>

    <div class="environment">
    </div>
  </div>
</nav>
{% endblock bread %}

{% block testcontent %}
  <section id="run">
    <h2>Run Tests:</h2>

    {% for includedtestcase in testrun.includedtestcases %}
      {% run_case includedtestcase request.user request.environments %}
    {% endfor %}

  </section>
{% endblock testcontent %}
