{% load sort staticdata %}

<div class="managelist action-ajax-replace">
  <nav class="listordering">
    <h3 class="navhead">List Ordering</h3>
    <ul>
      <li class="bystatus">
        <a href="{{ sort|url:"status" }}" class="{{ sort|dir:"status" }}">status</a>
      </li>
      <li class="bytitle">
        <a href="{{ sort|url:"name" }}" class="{{ sort|dir:"name" }}">name</a>
      </li>
      <li class="bycycle">
        <a href="{{ sort|url:"testCycle" }}" class="{{ sort|dir:"testCycle" }}">test cycle</a>
      </li>
      <li class="byproduct">
        <a href="{{ sort|url:"product" }}" class="{{ sort|dir:"product" }}">product</a>
      </li>
      <li class="bystart">
        <a href="{{ sort|url:"startDate" }}" class="{{ sort|dir:"startDate" }}">start date</a>
      </li>
      <li class="byend">
        <a href="{{ sort|url:"endDate" }}" class="{{ sort|dir:"endDate" }}">end date</a>
      </li>
      <li class="bycontrols">
        <span>controls</span>
      </li>
    </ul>
  </nav>

  <div class="items">
    {% if runs %}
        {% for run in runs %}
        <article id="run-id-{{ run.id }}" class="details item {{ run.status|status_class }}" data-details-url="{% url manage_testrun_details run.id %}">
          <header class="summary">
            <p class="status">
              {% if run.status.DRAFT %}
              <button title="activate" type="submit" name="action-activate" value="{{ run.id }}" class="draft">draft</button>
              {% endif %}
              {% if run.status.ACTIVE %}
              <button title="lock" name="action-deactivate" value="{{ run.id }}" class="active">active</button>
              {% endif %}
              {% if run.status.LOCKED %}
              <button title="activate" name="action-activate" value="{{ run.id }}" class="locked">locked</button>
              {% endif %}
            </p>
            <h3 class="title" title="{{ run.name }}">{{ run.name }}</h3>
            <p class="cycle" title="{{ run.testCycle.name }}">{{ run.testCycle.name }}</p>
            <p class="product">{{ run.product.name }}</p>
            <time class="start">{{ run.startDate|date }}</time>
            <time class="end">{{ run.endDate|date }}</time>
            <div class="controls">
              {% if "PERMISSION_TEST_RUN_EDIT" in request.user.permissionCodes %}
                {% if run.status.DRAFT %}
                <a href="{% url manage_testrun_edit run_id=run.id %}" title="edit">edit</a>
                <a {# @@@ needs URL #} href="/manage/type/id/environments/" title="select environments" class="target">select environments</a>
                {% endif %}
                <button title="clone" type="submit" name="action-clone" value="{{ run.id }}">clone</button>
                {% if run.status.DRAFT %}
                <button title="delete" type="submit" name="action-delete" value="{{ run.id }}">delete</button>
                {% endif %}
                {# @@@ requires modifications to suite form <a href="#" title="create new test suite in this run">create new test suite in this run</a> #}
              {% endif %}
            </div>
          </header>
          <div class="content">
            {# _run_details.html loaded via ajax #}
          </div>
        </article>
      {% endfor %}
    {% else %}
      <p class="empty">There are currently no items in this list...</p>
    {% endif %}
  </div>

{% include "lists/_listnav.html" %}
</div>
