{% extends 'manage/product/testrun/base.html' %}

{% block page-notes %}
<p>"Assign specific users" and "add test suites" have a richer UI on the way, with search, ordering, etc.</p>
{% endblock %}

{% block listcontent %}
<section id="addrun">
  <h2>{% block formtitle %}{% endblock %}</h2>
  {% block formtop %}{% endblock %}
  <form id="run-form" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="basic">
      <li>
        {% include "forms/_field.html" with field=form.name %}
      </li>
      <li>
        {% include "forms/_field.html" with field=form.test_cycle %}
      </li>
      <li>
        {% include "forms/_field.html" with field=form.description %}
      </li>
      <li class="date-fields">
        <ul>
          <li class="date">
            {% include "forms/_field.html" with field=form.start_date %}
            <span class="fieldnote">yyyy-mm-dd</span>
          </li>
          <li class="date">
            {% include "forms/_field.html" with field=form.end_date %}
            <span class="fieldnote">yyyy-mm-dd</span>
          </li>
        </ul>
      </li>
    </ul>

    {% block suites %}
    <section class="suiteselect">
      <h3>test suites in this test run</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {% include "forms/_field.html" with field=form.suites %}
      </div>
    </section>
    {% endblock %}

    <section class="userselect details{% if form.team.errors or form.team.value %} open{% endif %}">
      <h3 class="summary">assign specific users to this test run &raquo;</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {% include "forms/_field.html" with field=form.team %}
      </div>
    </section>

    <div class="form-actions">
      {% if form.caseupdate %}
      <p class="update-cases">
        {{ form.caseupdate }}
        <label for="caseupdate">update to latest testcase versions</label>
      </p>
      {% endif %}
      <button type="submit">save test run</button>
    </div>

  </form>

</section>
{% endblock listcontent %}
