{% extends 'manage/product/testrun/base.html' %}

{% block page-notes %}
<p>"Assign specific users" and "add test suites" have a richer UI on the way, with search, ordering, etc.</p>
{% endblock %}

{% block listcontent %}
<section id="addrun">
  <h2>{% block formtitle %}{% endblock %}</h2>
  {% block formtop %}{% endblock %}
  <form id="run-form" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="basic">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.test_cycle.errors }}
        {{ form.test_cycle.label_tag }}
        {{ form.test_cycle }}
      </li>
      <li>
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </li>
      <li class="date-fields">
        <ul>
          <li class="date">
            {{ form.start_date.errors }}
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            <span class="fieldnote">yyyy-mm-dd</span>
          </li>
          <li class="date">
            {{ form.end_date.errors }}
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            <span class="fieldnote">yyyy-mm-dd</span>
          </li>
        </ul>
      </li>
    </ul>

    <section class="suiteselect">
      <h3>
        {% if form.suites.field.widget.attrs.disabled %}
        test suites in this test run (read only)
        {% else %}
        add test suites to your test run
        {% endif %}
      </h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {{ form.suites.errors }}
        {{ form.suites.label_tag }}
        {{ form.suites }}
      </div>
    </section>

    <section class="userselect details{% if form.team.errors or form.team.value %} open{% endif %}">
      <h3 class="summary">assign specific users to this test run &raquo;</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {{ form.team.errors }}
        {{ form.team.label_tag }}
        {{ form.team }}
      </div>
    </section>

    <div class="form-actions">
      <button type="submit">save test run</button>
    </div>

  </form>

</section>
{% endblock listcontent %}
