    {# @@@ test case selection #}
    <section class="caseselect">
      <h3>add test cases to your test suite</h3>
        <div>
          {# @@@ needs the slick multiple-select widget #}
          {{ form.team.errors }}
          {{ form.team.label_tag }}
          {{ form.team }}
        </div>
      <div>
        <p><label for="search">search</label><input type="search" name="search" value="" id="search" placeholder="search for suites to add"></p>
        <div class="unselected">
          <h4>available cases</h4>
          <nav class="listordering">
            <h3 class="navhead">List Ordering</h3>
            <ul>
              <li><a href="#" class="id">id</a></li>
              <li><a href="#" class="title">title</a></li>
              <li><a href="#" class="author">author</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="case01" value="" id="case01">
              <label for="case01" class="hcard">
                <span class="id">#3456</span>
                <span class="title">Test Case 01</span>
                <span class="author fn">Author Name</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="addremove">
          <button class="add" title="add selected">add selected</button>
          <button class="update" title="update all">update all</button>
          <button class="remove" title="remove selected">&laquo; remove selected</button>
        </div>
        <div class="selected">
          <h4>included cases</h4>
          <nav class="listordering">
            <h3 class="navhead">List Ordering</h3>
            <ul>
              <li><a href="#" class="id">id</a></li>
              <li><a href="#" class="title">title</a></li>
              <li><a href="#" class="author">author</a></li>
            </ul>
          </nav>
          <ul class="select">
            <li>
              <input type="checkbox" name="case06" value="" id="case06">
              <label for="case06">
                <span class="id">#4567</span>
                <span class="title">Test Case 06</span>
                <span class="author fn">Author Name</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </section>
