{% load icanhaz %}

{# @@@ test case selection #}
<section class="caseselect">
  {% icanhaz "autocomplete_suggestion" %}
  {% icanhaz "autocomplete_input" %}
  <h3>add test cases to your test suite</h3>
  <div>
    <section class="unselected">
      <h4>available cases</h4>
      <div class="selectsearch">
        <label for="search-add">filter available cases</label>
        <input type="text" name="search" value="" id="search-add" autocomplete="off" placeholder="filter available cases">
        <ul class="suggest">
        </ul>
        <ul class="terms">
          {% for field in filter %}
          {% include "lists/_filter_group.html" with advanced=0 %}
          {% endfor %}
        </ul>
      </div>
      <nav class="listordering">
        <h5 class="navhead">List Ordering</h5>
        <ul>
          <li class="byinclude"><button class="action-include" title="include selected">include selected</button></li>
          <li class="bystatus"><a href="#">status</a></li>
          <li class="bytitle"><a href="#">name</a></li>
          <li class="byauthor"><a href="#">author</a></li>
        </ul>
      </nav>
      <div class="select">
        {% include "manage/_case_select_item.html" with id="01" %}
        {% include "manage/_case_select_item.html" with id="02" %}
        {% include "manage/_case_select_item.html" with id="03" %}
        {% include "manage/_case_select_item.html" with id="04" %}
        {% include "manage/_case_select_item.html" with id="05" %}
        {% include "manage/_case_select_item.html" with id="06" %}
        {% include "manage/_case_select_item.html" with id="07" %}
        {% include "manage/_case_select_item.html" with id="08" %}
        {% include "manage/_case_select_item.html" with id="09" %}
      </div>
    </section>
    <section class="selected">
      <h4>included cases</h4>
      <div class="selectsearch">
        <label for="search-remove">filter included cases</label>
        <input type="text" name="search" value="" id="search-remove" autocomplete="off" placeholder="filter included cases">
        <ul class="suggest">
        </ul>
        <ul class="terms">
          {# @@@ make this work #}
          <!-- {% for field in filter %}
          <section class="filter-group {{ field.cls }}" data-name="{{ field.name }}">
            <h5 class="category-title">{{ field.name|lower }}</h5>
            <ul {% if field|length > 6 %}class="long"{% endif %}>
              {% for option in field %}
              <li>
                <input type="checkbox" name="{{ field.name }}" value="{{ option.value }}" id="id-{{ field.name }}-{{ forloop.counter }}"{% if option.selected %} checked{% endif %}>
                <label for="id-{{ field.name }}-{{ forloop.counter }}">{{ option.label }}</label>
              </li>
              {% endfor %}
            </ul>
          </section>
          {% endfor %} -->
        </ul>
      </div>
      <nav class="listordering">
        <h5 class="navhead">List Ordering</h5>
        <ul>
          <li class="byexclude"><button class="action-exclude" title="remove selected">remove selected</button></li>
          <li class="bystatus"><a href="#">status</a></li>
          <li class="bytitle"><a href="#">name</a></li>
          <li class="byauthor"><a href="#">author</a></li>
        </ul>
      </nav>
      <div class="select">
        {% include "manage/_case_select_item.html" with id="101" %}
        {% include "manage/_case_select_item.html" with id="102" %}
        {% include "manage/_case_select_item.html" with id="103" %}
        {% include "manage/_case_select_item.html" with id="104" %}
        {% include "manage/_case_select_item.html" with id="105" %}
        {% include "manage/_case_select_item.html" with id="106" %}
        {% include "manage/_case_select_item.html" with id="107" %}
        {% include "manage/_case_select_item.html" with id="108" %}
        {% include "manage/_case_select_item.html" with id="109" %}
      </div>
    </section>
  </div>
</section>
