{% load permissions %}

<div class="status">
  {% if permission and user|has_perm:permission %}

    <div class="{{ item.status }} status-select details">
      <div class="status-title summary">{{ item.status }}</div>
      <div class="status-options">
        {% if item.status != item.STATUS.draft %}
          <button type="submit" name="action-draft" value="{{ item.id }}" class="draft status-action">draft</button>
        {% endif %}
        {% if item.status != item.STATUS.active %}
          <button type="submit" name="action-activate" value="{{ item.id }}" class="active status-action">activate</button>
        {% endif %}
        {% if item.status != item.STATUS.disabled %}
          <button type="submit" name="action-deactivate" value="{{ item.id }}" class="disabled status-action">disable</button>
        {% endif %}
      </div>
    </div>

  {% else %}

    <span class="{{ item.status }} status-readonly">{{ item.status }}</span>

  {% endif %}
</div>
