{% extends 'base_site.html' %}

{% block page-status %}incomplete{% endblock %}

{% block page-notes %}
  <p>Can't pair multiple name searches, unless they are all exact, e.g. &ldquo;^Full Name$&rdquo; (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=659226">platform limitation</a>).</p>
{% endblock %}

{% block manage-active-nav %}active{% endblock manage-active-nav %}

{% block drilldown %}
  {% if request.GET.openfinder %}
    {% include "manage/_manage_drilldown.html" with details='open' %}
  {% else %}
    {% include "manage/_manage_drilldown.html" %}
  {% endif %}
{% endblock drilldown %}