body.login

  #brand
    +un-column
    +reset-box-model
    +padding-leader(7)
    position: relative
    text-align: center
    .logo
      top: rhythm(1)
      width: 100%
      height: rhythm(6)
      background: image-url('cc-logo-126-50.png') no-repeat scroll center center
    .wordmark
      +adjust-font-size-to($medpx)
      +reset-box-model

  #brand, #main, [role="contentinfo"]
    +full
    +pad(9,9)

  [role="contentinfo"]
    +leader(2)
  .adr
    +gone

  .message
    +squish(6,6)
