// ---------------------------------------------------------------------------
// Results General

.completion, .bycompletion
  +columns(2,23)

.completion
  @extend .chick
  +box-sizing(border-box)
  +trailer(0)
  text-align: center
  &::after
    content: "%"

.bycompletion
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  &::before
    content: "%"

// ---------------------------------------------------------------------------
// Results Details

@import results/runs
@import results/cases
@import results/included
