/* run tests --------------------------------------------------------------

#run
  .title, .bytitle
    +columns(14,24)
  .byinvalid
    +columns(6,24)
    +omega(24)
  .testinvalid
    .summary
      +box-sizing('border-box')
      +float(right)
      +text-icon('ui/warning.png')
      padding: 0 0 0 image-width('ui/warning.png') + $smallpx
      #{$focus}
        color: $red-dark
    .content
      +full(24)
      +pad(1,1,24)
      +padding-trailer(.5)
      +border-bottom-radius
      margin:
        right: columns(3,24) + gutter(24)
        left: columns(2,24) + gutter(24)
      background-color: rgba($yellow-light,$xsmall)

  .status
    button, span
      width: 100%
    .start
      +text-button('ui/power.png',$blue-lighter)
    .pass
      +text-button('ui/check.png',$green-light)

  .steps
    +padding-leader(.5)
    li
      +pad(2,2,24)
      width: auto
      &::before
        width: columns(2,24)

.stepfail
  .summary
    @extend .allcaps
    +text-button('ui/x_sm.png',$red-lighter)
    +opacity(0)
    +transition(opacity,300ms)
    +bold
    position: absolute
    top: 0
    left: 0
    width: columns(2,24)
    .steps li:hover &
      +opacity(1)
  .failform
    +full(20)
    +pad(1,1,19)
    +border-radius
    +rhythm(.5,.5,.5,.5)
    margin-right: columns(1,20) + gutter(20)
    background-color: rgba($red-lighter,$xsmall)