{% extends 'lists/_itembody.html' %}

{% block itembody-content %}
  <p class="category" data-category-id="{{ category.id }}" data-category-name="{{ category.name }}">
    <a href="#{{ category.id }}" title="edit {{ category.name }}" class="edit-link">edit</a>
    <strong>Category:</strong> {{ category.name }}
  </p>
  <ul class="elements">

    {% for element in category.choice_elements %}
    {% include "manage/environment/element_select/_element_list_item.html" %}
    {% endfor %}

    <li class="add-element edit formfield optional">
      <label for="category-{{ category.id }}-new-element-name" class="type">add element</label>
      <input type="text" name="new-element-name" class="value" value="" id="category-{{ category.id }}-new-element-name" placeholder="add an element ('enter' to submit)" data-category-id="{{ category.id }}">
    </li>
  </ul>
{% endblock itembody-content %}
