<li class="element action-ajax-replace" data-element-id="{{ element.id }}">
  <div class="element-select">
    <input type="checkbox" name="{{ name }}" value="{{ element.id }}" id="element-{{ element.id }}"{% if element.id in selected_element_ids %} checked{% endif %}>
    <label for="element-{{ element.id }}">{{ element.name }}</label>
  </div>
  <div class="element-controls">
    {% include "lists/controls/_edit.html" with edit_url="#"|add:element.id edit_name=element.name %}
    {% include "lists/controls/_delete.html" with delete_id=element.id delete_name=element.name %}
  </div>
</li>
