{% load sort staticdata %}

<div class="managelist action-ajax-replace">

  <nav class="listordering">
    <h3 class="navhead">List Ordering</h3>
    <ul>
      <li class="bystatus">
        <a href="{{ sort|url:"status" }}" class="{{ sort|dir:"status" }}">status</a>
      </li>
      <li class="bytitle">
        <a href="{{ sort|url:"name" }}" class="{{ sort|dir:"name" }}">test runs</a>
      </li>
      <li class="bystart">
        <a href="{{ sort|url:"startDate" }}" class="{{ sort|dir:"startDate" }}">start date</a>
      </li>
      <li class="byend">
        <a href="{{ sort|url:"endDate" }}" class="{{ sort|dir:"endDate" }}">end date</a>
      </li>
      <li class="bycontrols">
        <span>controls</span>
      </li>
    </ul>
  </nav>

  <div class="items {% if not testruns %}empty{% endif %}">
    {% for testrun in testruns %}
    <article class="item {{ testrun.status|status_class }}">
      <p class="status">
        <span class="{{ testrun.status|status_class }}">{{ testrun.status }}</span>
      </p>
      <h3 class="title"><a href="{% url manage_testrun_edit run_id=testrun.id %}">{{ testrun.name }}</a></h3>
      <time class="start">{{ testrun.startDate|date }}</time>
      <time class="end">{{ testrun.endDate|date }}</time>
      <p class="controls">
        {% if "PERMISSION_TEST_RUN_EDIT" in request.user.permissionCodes %}
        <button title="clone" type="submit" name="action-clone" value="{{ testrun.id }}">clone</button>
        {% if testrun.status.DRAFT %}
        <button title="delete" type="submit" value="{{ testrun.id }}" name="action-delete">remove</button>
        {% endif %}
        {% endif %}
      </p>
    </article>
    {% endfor %}
    <p class="addrun">
      <a href="{% url manage_testrun_add %}?cycle={{ cycle.id }}">add test run &raquo;</a>
    </p>
  </div>
</div>