{% extends 'manage/product/testcycle/base.html' %}

{% block page-notes %}
<p>"Environment constraints" UI under re-consideration.</p>
<p>"Assign specific users" has a richer UI on the way, with search.</p>
{% endblock %}

{% block listcontent %}
<section id="addcycle">
  <h2>{% block formtitle %}{% endblock %}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="basic">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.product.errors }}
        {{ form.product.label_tag }}
        {{ form.product }}
      </li>
      <li>
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </li>
      <li class="date-fields">
        <ul>
          <li class="date">
            {{ form.start_date.errors }}
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            <span class="fieldnote">mm/dd/yyyy</span>
          </li>
          <li class="date">
            {{ form.end_date.errors }}
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            <span class="fieldnote">mm/dd/yyyy</span>
          </li>
        </ul>
      </li>
    </ul>

    {% block midform %}{% endblock %}

    <div class="assignto">
      <article class="userselect details"{% if form.team.errors or form.team.value %} data-open="open"{% endif %}>
        <header class="summary">assign specific users to this test cycle &raquo;</header>
        <div>
          {# @@@ needs the slick multiple-select widget #}
          {{ form.team.errors }}
          {{ form.team.label_tag }}
          {{ form.team }}
        </div>
      </article>
    </div>

    <div class="form-actions">
      <button type="submit">save test cycle</button>
    </div>

  </form>

</section>
{% endblock listcontent %}