.profile-form

  .name-field
    +columns(9,24)
    .type
      +columns(2,9)
    .value, .errorlist
      +columns(7,9)
      +omega(9)
    + .form-actions
      +columns(15,24)
      +omega(24)
      +padding-leader(0)
      clear: none
      text-align: left

  .elements-field
    clear: both


#save-profile-name
  @extend .buttoninlay
  #{$focus}
    @extend .buttoninlayfocus

.preview
  +delimited-list
  .checked
    +demi

.add-item
  background: $green-light
  .itemhead
    @extend .allcaps
    +demi
    background: image-url('ui/plus.png') no-repeat scroll rhythm(.25)
  &:last-child
    border-bottom: rhythm(1.5) solid $blue-lighter
    .item-content
      +trailing-border(1px,.25)
      border-color: $blue-light

#profile-add-form

  .itemlist
    +trailer(0)

  .itemhead, .item-content, .listordering
    padding-left: rhythm(1.75)

  .bulk-type
    left: rhythm(.75)

  .name, .byname
    +columns(8,23)

  .title
    +demi
    display: inline

  .byelements, .preview
    +columns(15,23)
    +omega(23)

  .edit-name, .add-name
    +suffix(15,23)
    +demi
    +trailer(.5)

  .elements
    +no-style-list
    +suffix(15,23)

  .element
    position: relative
    .value
      +gone
      &:checked
        + .type
          +opacity(1)
          background-image: image-url('ui/checkbox_checked.png')
    .type
      +opacity(.75)
      background: image-url('ui/checkbox.png') no-repeat scroll left
      padding-left: image-width('ui/checkbox.png') + $xxxsmallpx
      #{$focus}
        +opacity(1)

  .add-element
    .type
      +gone

#editprofile

  .itemhead
    padding-left: rhythm(.25)

  .title
    +demi
    display: inline

  .add-item
    .itemhead, .item-content
      padding-left: rhythm(1.25)

#add-environment-form
  +suffix(12,24)
  +trailer(.25)

  .env-element-list
    @extend .chicklist

  .element-item
    @extend .chickcheck