{% extends 'manage/run/base.html' %}

{% load permissions %}

{% block content %}

<section id="manageruns" class="manage listpage">
  <h2>
    Manage Test Runs
    {% include "_helplink.html" with helpURL="execution.html#test-runs" %}
  </h2>

  {% if user|has_perm:"execution.manage_runs" %}
    <a href="{% url manage_run_add %}" class="create single">create a test run</a>
  {% endif %}

  {% include "lists/_filter.html" %}
  {% include "manage/run/list/_runs_list.html" %}

</section>
{% endblock content %}
