<p class="id">#{{ run.id }}</p>
<div class="description">
  <p class="byline hcard">
    Created by <span class="fn">{{ run.timeline.createdBy.screenName }}</span>
    on <time pubdate>{{ run.timeline.createDate|date }}</time>
  </p>
  {% if run.description %}
    <p>{{ run.description }}</p>
  {% endif %}
</div>
<div class="envgroups">
  {% include "lists/_environments.html" with environments=run.environmentgroups.environments %}
</div>
{% if run.testsuites|length %}
<div class="suites">
  <h4>suites</h4>
  <ul>
    {% for suite in run.testsuites %}
    <li>{{ suite.name }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if run.team|length %}
<div class="testers">
  <h4>testers</h4>
  <ul>
    {% for tester in run.team %}
    <li>{{ tester.screenName }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
