<div class="info">
  <p class="byline hcard">
    Created by <span class="fn">{{ run.timeline.createdBy.screenName }}</span>
    on <time pubdate>{{ run.timeline.createDate|date }}</time>
  </p>
  {% if run.description %}
    <p class="details">{{ run.description }}</p>
  {% endif %}
</div>

{% if run.testsuites|length %}
<section class="components">
  <h4><a href="{% url manage_testsuites %}?run={{ run.id }}">Suites in this run:</a></h4>
  <ul>
    {% for suite in run.testsuites %}
    <li><a href="{% url manage_testsuites %}?run={{ run.id }}#suite-id-{{ suite.id }}">{{ suite.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<div class="envgroups">
  {% include "lists/_environments.html" with environments=run.environmentgroups.environments %}
</div>

{% if run.team|length %}
<section class="testers">
  <h4>testers</h4>
  <ul>
    {% for tester in run.team %}
    <li>{{ tester.screenName }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
