{% extends 'manage/product/testrun/base.html' %}

{% block page-notes %}
<p>"Environment constraints" UI under re-consideration; constraint changes to a test run with included tests won't be saved.</p>
<p>"Assign specific users" and "add test suites" have a richer UI on the way, with search, ordering, etc.</p>
{% endblock %}

{% block listcontent %}
<section id="addrun">
  <h2>{% block formtitle %}{% endblock %}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="basic">
      <li>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </li>
      <li>
        {{ form.test_cycle.errors }}
        {{ form.test_cycle.label_tag }}
        {{ form.test_cycle }}
      </li>
      <li>
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </li>
      <li class="date-fields">
        <ul>
          <li class="date">
            {{ form.start_date.errors }}
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            <span class="fieldnote">mm/dd/yyyy</span>
          </li>
          <li class="date">
            {{ form.end_date.errors }}
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            <span class="fieldnote">mm/dd/yyyy</span>
          </li>
        </ul>
      </li>
    </ul>

    <section class="suiteselect">
      <h3>add test suites to your test run</h3>
      <div>
        {# @@@ needs the slick multiple-select widget #}
        {{ form.suites.errors }}
        {{ form.suites.label_tag }}
        {{ form.suites }}
      </div>
    </section>

    <div class="assignto">
      <article class="userselect details"{% if form.team.errors or form.team.value %} data-open="open"{% endif %}>
        <header class="summary">assign specific users to this test run &raquo;</header>
        <div>
          {# @@@ needs the slick multiple-select widget #}
          {{ form.team.errors }}
          {{ form.team.label_tag }}
          {{ form.team }}
        </div>
      </article>
    </div>

    <div class="form-actions">
      <button type="submit">save test run</button>
    </div>

  </form>

</section>
{% endblock listcontent %}